USE [TimeManagement_DEV]
GO
/****** Object:  StoredProcedure [dbo].[usp_EmployeeAvailability_Delete]    Script Date: 12/5/2025 3:12:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[usp_EmployeeAvailability_Delete]
    @Id INT,
    @UserId INT,
    @TenantId INT
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRY
        BEGIN TRANSACTION;

        -- Check if schedule exists
        IF NOT EXISTS (SELECT 1 FROM Schedules WHERE Id = @Id AND TenantId = @TenantId)
        BEGIN
            SELECT
                CAST(0 AS BIT) AS success,
                'Availability entry not found' AS message
            FOR JSON PATH, WITHOUT_ARRAY_WRAPPER;

            ROLLBACK TRANSACTION;
            RETURN;
        END

        -- Delete shift assignments first (foreign key constraint)
        DELETE FROM AvailabilityPeriodShifts
        WHERE ScheduleId = @Id;

        -- Delete the schedule
        DELETE FROM Schedules
        WHERE Id = @Id AND TenantId = @TenantId;

        SELECT
            CAST(1 AS BIT) AS success,
            'Availability entry deleted successfully' AS message
        FOR JSON PATH, WITHOUT_ARRAY_WRAPPER;

        COMMIT TRANSACTION;
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0
            ROLLBACK TRANSACTION;

        DECLARE @ErrorMessage NVARCHAR(4000) = ERROR_MESSAGE();
        RAISERROR(@ErrorMessage, 16, 1);
    END CATCH
END
GO
