USE [TimeManagement_DEV]
GO
/****** Object:  StoredProcedure [dbo].[usp_EmployeeAvailability_Save]    Script Date: 11/23/2025 1:28:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[usp_EmployeeAvailability_Save]
    @Json NVARCHAR(MAX),
    @UserId INT,
    @TenantId INT
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRY
        BEGIN TRANSACTION;

        -- Parse JSON input
        DECLARE @Id INT;
        DECLARE @RequestUserId INT;
        DECLARE @StartDate DATE;
        DECLARE @EndDate DATE;
        DECLARE @StartTime TIME;
        DECLARE @EndTime TIME;
        DECLARE @IsAvailable BIT;
        DECLARE @Notes NVARCHAR(MAX);
        DECLARE @Assignments NVARCHAR(MAX);

        SELECT
            @Id = CASE WHEN JSON_VALUE(@Json, '$.id') IS NULL THEN NULL ELSE CAST(JSON_VALUE(@Json, '$.id') AS INT) END,
            @RequestUserId = CAST(JSON_VALUE(@Json, '$.userId') AS INT),
            @StartDate = CAST(JSON_VALUE(@Json, '$.startDate') AS DATE),
            @StartTime = CAST(JSON_VALUE(@Json, '$.startTime') AS TIME),
            @EndDate = CASE WHEN JSON_VALUE(@Json, '$.endDate') IS NULL OR JSON_VALUE(@Json, '$.endDate') = '' THEN @StartDate ELSE CAST(JSON_VALUE(@Json, '$.endDate') AS DATE) END,
            @EndTime = CASE WHEN JSON_VALUE(@Json, '$.endTime') IS NULL OR JSON_VALUE(@Json, '$.endTime') = '' THEN CAST('23:59:00' AS TIME) ELSE CAST(JSON_VALUE(@Json, '$.endTime') AS TIME) END,
            @IsAvailable = CAST(JSON_VALUE(@Json, '$.isAvailable') AS BIT),
            @Notes = JSON_VALUE(@Json, '$.notes'),
            @Assignments = JSON_QUERY(@Json, '$.assignments');

        DECLARE @ScheduleId INT;
        DECLARE @StatusId INT = CASE WHEN @IsAvailable = 1 THEN 1 ELSE 2 END; -- 1=Available, 2=Unavailable

        -- Update existing schedule
        IF @Id IS NOT NULL AND @Id > 0
        BEGIN
            UPDATE Schedules
            SET
                StartDate = @StartDate,
                StartTime = @StartTime,
                EndDate = @EndDate,
                EndTime = @EndTime,
                StatusCustomTableValueId = @StatusId,
                Notes = @Notes,
                UpdatedBy = @UserId,
                DateUpdated = GETDATE()
            WHERE Id = @Id AND TenantId = @TenantId;

            SET @ScheduleId = @Id;

            -- Delete existing shift assignments
            DELETE FROM AvailabilityPeriodShifts
            WHERE ScheduleId = @ScheduleId AND UserId = @RequestUserId;
        END
        ELSE
        BEGIN
            -- Insert new schedule
            INSERT INTO Schedules (
                TenantId,
                ScheduleName,
                SourceType,
                SourceId,
                StartDate,
                StartTime,
                EndDate,
                EndTime,
                StatusCustomTableValueId,
                Notes,
                ScheduleType,
                RepeatEvery,
                CreatedBy,
                DateCreated
            )
            VALUES (
                @TenantId,
                'Availability - ' + FORMAT(@StartDate, 'yyyy-MM-dd') + ' ' + CAST(@StartTime AS VARCHAR(8)),
                2, -- SourceType = 2 (as per requirement)
                @RequestUserId, -- Default SourceId = UserId (as per requirement)
                @StartDate,
                @StartTime,
                @EndDate,
                @EndTime,
                @StatusId,
                @Notes,
                1, -- ScheduleType = 1 (as per requirement)
                1, -- RepeatEvery = 1 (as per requirement)
                @UserId,
                GETDATE()
            );

            SET @ScheduleId = SCOPE_IDENTITY();
        END

        -- Insert shift assignments from the assignments array
        IF @Assignments IS NOT NULL
        BEGIN
            INSERT INTO AvailabilityPeriodShifts (ScheduleId, ShiftId, UserId)
            SELECT
                @ScheduleId,
                CAST(JSON_VALUE(value, '$.shiftId') AS INT),
                @RequestUserId
            FROM OPENJSON(@Assignments);
        END

        -- Return the saved schedule with assignments
        SELECT
            s.Id AS id,
            s.ScheduleName AS scheduleName,
            @RequestUserId AS userId,
            s.StartDate AS startDate,
            DATENAME(WEEKDAY, s.StartDate) AS dayOfWeek,
            CONVERT(VARCHAR(8), s.StartTime, 100) AS startTime,
            s.EndDate AS endDate,
            CONVERT(VARCHAR(8), s.EndTime, 100) AS endTime,
            CASE WHEN s.StatusCustomTableValueId = 1 THEN CAST(1 AS BIT) ELSE CAST(0 AS BIT) END AS isAvailable,
            s.Notes AS notes,
            s.CreatedBy AS createdBy,
            s.UpdatedBy AS updatedBy,
            s.DateCreated AS dateCreated,
            s.DateUpdated AS dateUpdated,
            (
                SELECT
                    aps.ShiftId AS shiftId,
                    sh.ShiftName AS shiftName,
                    sh.ShiftCode AS shiftCode,
                    sh.BackgroundColour AS backgroundColour
                FROM AvailabilityPeriodShifts aps
                INNER JOIN Shifts sh ON aps.ShiftId = sh.Id
                WHERE aps.ScheduleId = s.Id
                    AND aps.UserId = @RequestUserId
                FOR JSON PATH
            ) AS assignments
        FROM Schedules s
        WHERE s.Id = @ScheduleId
        FOR JSON PATH, WITHOUT_ARRAY_WRAPPER;

        COMMIT TRANSACTION;
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0
            ROLLBACK TRANSACTION;

        DECLARE @ErrorMessage NVARCHAR(4000) = ERROR_MESSAGE();
        RAISERROR(@ErrorMessage, 16, 1);
    END CATCH
END
GO
