USE [StaffScheduling_DEV]
GO
/****** Object:  StoredProcedure [dbo].[usp_Schedules_GetBySource]    Script Date: 12/19/2025 4:06:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*---------------------=========================================================================================================  
CREATED BY   : Ali Nafees  
CREATED DATE   : 10/21/2025  
DESCRIPTION   : [usp_Schedules_GetBySource]
LAST UPDATED BY  :  
DATE LAST UPDATED  :   
---------------------=========================================================================================================+*/  
  
CREATE   PROCEDURE [dbo].[usp_Schedules_GetBySource]  
 @SourceIds varchar(max),  
 @SourceTypes varchar(max),  
 @TenantId int  
AS  
BEGIN  
 SET NOCOUNT ON;  
  
 SELECT   
  s.Id as id,  
  s.SourceType as sourceType,  
  s.SourceId as sourceId,  
  s.StartFrom as startFrom,  
  s.ScheduleWithoutTimes as scheduleWithoutTimes,  
  s.StartTime as startTime,  
  s.EndTime as endTime,  
  s.ScheduleType as scheduleType,  
  s.RepeatEvery as repeatEvery,  
  s.EndType as endType,  
  s.ValidUntil as validUntil,  
  s.MaxOccurrences as maxOccurrences,  
  s.Createdby as createdBy,  
  s.UpdatedBy as updatedBy,  
  s.DateCreated as dateCreated,  
  s.DateUpdated as dateUpdated,  
  -- Get Frequency array  
  (  
   SELECT   
    sf.id,  
    sf.scheduleId,  
    sf.Day as [day],  
    sf.DayType as dayType  
   FROM ScheduleFrequencies sf  
   WHERE sf.ScheduleId = s.Id  
    AND sf.TenantId = @TenantId  
    AND ISNULL(sf.IsActive, 1) = 1  
   FOR JSON PATH,INCLUDE_NULL_VALUES  
  ) as frequency  
 FROM Schedules s  
 WHERE s.SourceType in (select * from string_split(@SourceTypes, ','))  
  AND s.SourceId in (select * from string_split(@SourceIds, ','))  
  AND s.TenantId = @TenantId  
 FOR JSON PATH, INCLUDE_NULL_VALUES  
END  
GO
