USE [StaffScheduling_DEV]
GO
/****** Object:  StoredProcedure [dbo].[usp_EmployeeJobCodeAssignment_Save]    Script Date: 12/24/2025 2:44:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author: Ankur
-- Create date: 18/10/2025
-- Update date: 02/11/2025
-- Update by: Ankur 
-- Description: Save (Insert/Update) Employee Job Code Assignment
-- =============================================
CREATE   PROCEDURE [dbo].[usp_EmployeeJobCodeAssignment_Save]
    @Json varchar(max),
    @UserId int,
    @TenantId int
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRY
        BEGIN TRAN

        DECLARE @Id int
        DECLARE @JobCodeId int
        DECLARE @AssignmentUserId int
        DECLARE @IsActive bit
        DECLARE @EffectiveDate datetimeoffset(7)
        DECLARE @ExpiryDate datetimeoffset(7)

        -- Parse JSON
        SELECT
            @Id = id,
            @JobCodeId = jobCodeId,
            @AssignmentUserId = userId,
            @IsActive = isActive,
            @EffectiveDate = effectiveDate,
            @ExpiryDate = expiryDate
        FROM OPENJSON(@Json) WITH (
            id int,
            jobCodeId int,
            userId int,
            isActive bit,
            effectiveDate datetimeoffset(7),
            expiryDate datetimeoffset(7)
        )

        -- Validate required fields
        IF @JobCodeId IS NULL OR @JobCodeId = 0
        BEGIN
            SELECT
                CAST(0 AS bit) as success,
                'Job Code is required' as message
            FOR JSON PATH, WITHOUT_ARRAY_WRAPPER
            ROLLBACK TRAN
            RETURN
        END

        IF @AssignmentUserId IS NULL OR @AssignmentUserId = 0
        BEGIN
            SELECT
                CAST(0 AS bit) as success,
                'Employee is required' as message
            FOR JSON PATH, WITHOUT_ARRAY_WRAPPER
            ROLLBACK TRAN
            RETURN
        END

        -- Validate dates if provided
        IF @EffectiveDate IS NOT NULL AND @ExpiryDate IS NOT NULL
        BEGIN
            IF @ExpiryDate <= @EffectiveDate
            BEGIN
                SELECT
                    CAST(0 AS bit) as success,
                    'Expiry date must be greater than effective date' as message
                FOR JSON PATH, WITHOUT_ARRAY_WRAPPER
                ROLLBACK TRAN
                RETURN
            END
        END

        -- Check for duplicate assignment (same job code and user, overlapping dates)
        IF EXISTS (
            SELECT 1
            FROM EmployeeJobCodeAssignment
            WHERE TenantId = @TenantId
                AND JobCodeId = @JobCodeId
                AND UserId = @AssignmentUserId
                AND Id != ISNULL(@Id, 0)
                AND IsActive = 1
                AND (
                    (@EffectiveDate IS NULL AND @ExpiryDate IS NULL)
                    OR (@EffectiveDate IS NULL AND EffectiveDate IS NULL)
                    OR (@ExpiryDate IS NULL AND ExpiryDate IS NULL)
                    OR (
                        (@EffectiveDate IS NOT NULL AND @ExpiryDate IS NOT NULL)
                        AND (EffectiveDate IS NOT NULL AND ExpiryDate IS NOT NULL)
                        AND (
                            (@EffectiveDate BETWEEN EffectiveDate AND ExpiryDate)
                            OR (@ExpiryDate BETWEEN EffectiveDate AND ExpiryDate)
                            OR (EffectiveDate BETWEEN @EffectiveDate AND @ExpiryDate)
                            OR (ExpiryDate BETWEEN @EffectiveDate AND @ExpiryDate)
                        )
                    )
                )
        )
        BEGIN
            SELECT
                CAST(0 AS bit) as success,
                'This employee already has an assignment for this job code in the specified date range' as message
            FOR JSON PATH, WITHOUT_ARRAY_WRAPPER
            ROLLBACK TRAN
            RETURN
        END

        -- Check if Employee Job Code Assignment exists
        IF EXISTS (SELECT 1 FROM EmployeeJobCodeAssignment WHERE Id = @Id AND TenantId = @TenantId)
        BEGIN
            -- Update existing Employee Job Code Assignment
            UPDATE EmployeeJobCodeAssignment SET
                JobCodeId = @JobCodeId,
                UserId = @AssignmentUserId,
                IsActive = ISNULL(@IsActive, 1),
                EffectiveDate = @EffectiveDate,
                ExpiryDate = @ExpiryDate,
                UpdatedBy = @UserId,
                DateUpdated = GETUTCDATE()
            WHERE Id = @Id AND TenantId = @TenantId

            SELECT
                @Id as id,
                CAST(1 AS bit) as success,
                'Employee Job Code Assignment updated successfully' as message
            FOR JSON PATH, WITHOUT_ARRAY_WRAPPER
        END
        ELSE
        BEGIN
            -- Insert new Employee Job Code Assignment
            INSERT INTO EmployeeJobCodeAssignment (
                TenantId,
                JobCodeId,
                UserId,
                IsActive,
                EffectiveDate,
                ExpiryDate,
                CreatedBy,
                DateCreated
            )
            VALUES (
                @TenantId,
                @JobCodeId,
                @AssignmentUserId,
                ISNULL(@IsActive, 1),
                @EffectiveDate,
                @ExpiryDate,
                @UserId,
                GETUTCDATE()
            )

            SET @Id = SCOPE_IDENTITY()

            SELECT
                @Id as id,
                CAST(1 AS bit) as success,
                'Employee Job Code Assignment created successfully' as message
            FOR JSON PATH, WITHOUT_ARRAY_WRAPPER
        END

        COMMIT TRAN
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0
            ROLLBACK TRAN

        SELECT
            CAST(0 AS bit) as success,
            ERROR_MESSAGE() as message
        FOR JSON PATH, WITHOUT_ARRAY_WRAPPER
    END CATCH
END
GO
