USE [StaffScheduling_DEV]
GO
/****** Object:  StoredProcedure [dbo].[usp_JobCodes_Delete]    Script Date: 3/13/2026 4:26:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author: Ankur
-- Create date: 13-10-2025
-- Description: Delete a Job Code
-- =============================================

CREATE   PROCEDURE [dbo].[usp_JobCodes_Delete]
    @Id INT,
    @TenantId INT
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRY
        BEGIN TRANSACTION;

        -- Check if job code exists for this tenant
        IF NOT EXISTS (SELECT 1 FROM JobCodes WHERE Id = @Id AND TenantId = @TenantId)
        BEGIN
            SELECT
                0 AS Success,
                'Job Code not found.' AS Message
            FOR JSON PATH, WITHOUT_ARRAY_WRAPPER;
            ROLLBACK TRANSACTION;
            RETURN;
        END

        -- Delete the job code
        DELETE FROM JobCodes
        WHERE Id = @Id
            AND TenantId = @TenantId;

        COMMIT TRANSACTION;

        -- Return success
        SELECT
            1 AS Success,
            'Job Code deleted successfully.' AS Message
        FOR JSON PATH, WITHOUT_ARRAY_WRAPPER;

    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0
            ROLLBACK TRANSACTION;

        -- Return error
        SELECT
            0 AS Success,
            ERROR_MESSAGE() AS Message
        FOR JSON PATH, WITHOUT_ARRAY_WRAPPER;
    END CATCH
END
GO
