USE [TimeManagement_DEV]
GO
/****** Object:  StoredProcedure [dbo].[usp_Groups_GetShortList]    Script Date: 11/20/2025 4:43:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*---------------------=========================================================================================================
CREATED BY			: System
CREATED DATE 		: 10/31/2025
DESCRIPTION			: Get Shift Groups Short List for dropdowns/lookups
LAST UPDATED BY 	:
DATE LAST UPDATED 	: 
---------------------=========================================================================================================*/
Create  PROCEDURE [dbo].[usp_Groups_GetShortList]
(
	@TenantId int
)
AS
BEGIN
	SET NOCOUNT ON;

	SELECT 
		g.Id as id,
		g.GroupName as groupName,
		g.ColorCode as colorCode,
		g.IsActive as isActive
	FROM Groups g
	WHERE g.TenantId = @TenantId
		AND ISNULL(g.IsActive, 1) = 1
	ORDER BY g.GroupName ASC
	FOR JSON PATH, INCLUDE_NULL_VALUES
END
GO
