USE [StaffScheduling_DEV]
GO
/****** Object:  StoredProcedure [dbo].[usp_Shifts_GetShortList]    Script Date: 12/24/2025 2:44:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
  
/*---------------------------------------------------------------------============================================================  
CREATED BY   : Ali Nafees
CREATED DATE  : 10/15/2025  
DESCRIPTION   : Get short list of Shifts for dropdowns/lookups  
LAST UPDATED BY  :  
DATE LAST UPDATED :  
EXEC [usp_Shifts_GetShortList] 1  
---------------------------------------------------------------------============================================================+*/  
CREATE   PROCEDURE [dbo].[usp_Shifts_GetShortList]  
(  
 @TenantId int  
)  
AS  
BEGIN  
 SET NOCOUNT ON;  
  
 SELECT   
  s.Id as id,  
  s.ShiftCode as shiftCode,  
  s.ShiftName as shiftName,  
  s.BackgroundColour as backgroundColour,  
  s.IsActive as isActive  
 FROM Shifts s  
 WHERE s.TenantId = @TenantId  
  AND ISNULL(s.IsActive, 1) = 1  
  AND s.StatusCustomTableValueId = 1  
 ORDER BY s.DisplayOrder ASC, s.ShiftName ASC  
 FOR JSON PATH, INCLUDE_NULL_VALUES  
END  
GO
