USE [StaffScheduling_DEV]
GO
/****** Object:  StoredProcedure [dbo].[usp_TradeBoardSettings_Save]    Script Date: 12/17/2025 9:59:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*==================================================================================
CREATED BY            : Ankur
CREATED DATE          : 03/11/2025
DESCRIPTION           : Save Trade Board Settings with Rules (Single record, UPSERT logic)
LAST UPDATED BY       : Ankur
DATE LAST UPDATED     : 05/11/2025
CHANGE DESCRIPTION    : Renamed from SaveBatch, handles single record with MERGE logic for rules

EXEC [usp_TradeBoardSettings_Save] 1, 1, '{...single settings object...}'
==================================================================================*/

CREATE   PROCEDURE [dbo].[usp_TradeBoardSettings_Save]
    @TenantId INT,
    @UserId INT,
    @SettingsJson NVARCHAR(MAX)
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @SettingsId INT;

    BEGIN TRY
        BEGIN TRANSACTION;

        -- Get the settings ID from JSON
        SET @SettingsId = CAST(JSON_VALUE(@SettingsJson, '$.id') AS INT);

        -- If settings exist, update them
        IF @SettingsId IS NOT NULL AND @SettingsId > 0
        BEGIN
            UPDATE TradeBoardSettings
            SET
                SettingsName = ISNULL(JSON_VALUE(@SettingsJson, '$.settingsName'), SettingsName),
                IsLimitTradesToMatchingLists = CAST(JSON_VALUE(@SettingsJson, '$.isLimitTradesToMatchingLists') AS BIT),
                IsOnlyAllowDirectTrades = CAST(JSON_VALUE(@SettingsJson, '$.isOnlyAllowDirectTrades') AS BIT),
                IsRequireApprovalBeforeSent = CAST(JSON_VALUE(@SettingsJson, '$.isRequireApprovalBeforeSent') AS BIT),
                IsRequireApprovalAfterAccepted = CAST(JSON_VALUE(@SettingsJson, '$.isRequireApprovalAfterAccepted') AS BIT),
                IsRequireSecondApproval = CAST(JSON_VALUE(@SettingsJson, '$.isRequireSecondApproval') AS BIT),
                IsApprovingUsersSeeOnlyTheirRequests = CAST(JSON_VALUE(@SettingsJson, '$.isApprovingUsersSeeOnlyTheirRequests') AS BIT),
                IsEnableShiftSwapFeature = CAST(JSON_VALUE(@SettingsJson, '$.isEnableShiftSwapFeature') AS BIT),
                IsColorCodeTradedShifts = CAST(JSON_VALUE(@SettingsJson, '$.isColorCodeTradedShifts') AS BIT),
                TradedShiftColorCode = JSON_VALUE(@SettingsJson, '$.tradedShiftColorCode'),
                IsRequireManualLedgerApproval = CAST(JSON_VALUE(@SettingsJson, '$.isRequireManualLedgerApproval') AS BIT),
                IsUserSelectsApproval = CAST(JSON_VALUE(@SettingsJson, '$.isUserSelectsApproval') AS BIT),
                IsActive = CAST(JSON_VALUE(@SettingsJson, '$.isActive') AS BIT),
                UpdatedBy = @UserId,
                DateUpdated = GETUTCDATE()
            WHERE Id = @SettingsId
                AND TenantId = @TenantId;
        END
        ELSE
        BEGIN
            -- Insert new settings if they don't exist
            INSERT INTO TradeBoardSettings (
                TenantId,
                SettingsName,
                IsLimitTradesToMatchingLists,
                IsOnlyAllowDirectTrades,
                IsRequireApprovalBeforeSent,
                IsRequireApprovalAfterAccepted,
                IsRequireSecondApproval,
                IsApprovingUsersSeeOnlyTheirRequests,
                IsEnableShiftSwapFeature,
                IsColorCodeTradedShifts,
                TradedShiftColorCode,
                IsRequireManualLedgerApproval,
                IsUserSelectsApproval,
                IsActive,
                CreatedBy,
                DateCreated
            )
            VALUES (
                @TenantId,
                ISNULL(JSON_VALUE(@SettingsJson, '$.settingsName'), 'Default Trade Board Settings'),
                ISNULL(CAST(JSON_VALUE(@SettingsJson, '$.isLimitTradesToMatchingLists') AS BIT), 0),
                ISNULL(CAST(JSON_VALUE(@SettingsJson, '$.isOnlyAllowDirectTrades') AS BIT), 0),
                ISNULL(CAST(JSON_VALUE(@SettingsJson, '$.isRequireApprovalBeforeSent') AS BIT), 0),
                ISNULL(CAST(JSON_VALUE(@SettingsJson, '$.isRequireApprovalAfterAccepted') AS BIT), 0),
                ISNULL(CAST(JSON_VALUE(@SettingsJson, '$.isRequireSecondApproval') AS BIT), 0),
                ISNULL(CAST(JSON_VALUE(@SettingsJson, '$.isApprovingUsersSeeOnlyTheirRequests') AS BIT), 0),
                ISNULL(CAST(JSON_VALUE(@SettingsJson, '$.isEnableShiftSwapFeature') AS BIT), 0),
                ISNULL(CAST(JSON_VALUE(@SettingsJson, '$.isColorCodeTradedShifts') AS BIT), 0),
                ISNULL(JSON_VALUE(@SettingsJson, '$.tradedShiftColorCode'), '#FF5733'),
                ISNULL(CAST(JSON_VALUE(@SettingsJson, '$.isRequireManualLedgerApproval') AS BIT), 0),
                ISNULL(CAST(JSON_VALUE(@SettingsJson, '$.isUserSelectsApproval') AS BIT), 0),
                ISNULL(CAST(JSON_VALUE(@SettingsJson, '$.isActive') AS BIT), 1),
                @UserId,
                GETUTCDATE()
            );

            SET @SettingsId = SCOPE_IDENTITY();
        END

        -- Handle Rules - MERGE logic (UPSERT)
        -- First, mark all existing rules for this settings as inactive (soft delete)
        UPDATE TradeBoardListRules
        SET IsActive = 0,
            UpdatedBy = @UserId,
            DateUpdated = GETUTCDATE()
        WHERE TradeBoardSettingsId = @SettingsId
            AND TenantId = @TenantId;

        -- Now, merge the new rules from JSON
        MERGE INTO TradeBoardListRules AS target
        USING (
            SELECT
                @SettingsId AS TradeBoardSettingsId,
                @TenantId AS TenantId,
                CAST(JSON_VALUE(r.value, '$.jobCodeId') AS INT) AS JobCodeId,
                JSON_VALUE(r.value, '$.ruleName') AS RuleName,
                JSON_VALUE(r.value, '$.ruleDescription') AS RuleDescription,
                ISNULL(CAST(JSON_VALUE(r.value, '$.isActive') AS BIT), 1) AS IsActive
            FROM OPENJSON(@SettingsJson, '$.rules') r
            WHERE CAST(JSON_VALUE(r.value, '$.jobCodeId') AS INT) IS NOT NULL
        ) AS source
        ON target.TradeBoardSettingsId = source.TradeBoardSettingsId
            AND target.TenantId = source.TenantId
            AND target.JobCodeId = source.JobCodeId
        WHEN MATCHED THEN
            UPDATE SET
                RuleName = source.RuleName,
                RuleDescription = source.RuleDescription,
                IsActive = source.IsActive,
                UpdatedBy = @UserId,
                DateUpdated = GETUTCDATE()
        WHEN NOT MATCHED BY TARGET THEN
            INSERT (
                TenantId,
                TradeBoardSettingsId,
                JobCodeId,
                RuleName,
                RuleDescription,
                IsActive,
                CreatedBy,
                DateCreated
            )
            VALUES (
                source.TenantId,
                source.TradeBoardSettingsId,
                source.JobCodeId,
                source.RuleName,
                source.RuleDescription,
                source.IsActive,
                @UserId,
                GETUTCDATE()
            );

        COMMIT TRANSACTION;

        -- Return success
        SELECT
            1 as success,
            'Settings and rules saved successfully' as message
        FOR JSON PATH, WITHOUT_ARRAY_WRAPPER;

    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0
            ROLLBACK TRANSACTION;

        -- Return error
        SELECT
            0 as success,
            ERROR_MESSAGE() as message,
            ERROR_LINE() as errorLine,
            ERROR_PROCEDURE() as errorProcedure
        FOR JSON PATH, WITHOUT_ARRAY_WRAPPER;
    END CATCH
END
GO
