USE [TimeManagement_DEV]
GO
/****** Object:  StoredProcedure [dbo].[usp_HolidayAssignment_Delete]    Script Date: 12/10/2025 12:21:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
  
-- =============================================  
-- Author: Ali Nafees
-- Create date: 10/15/2025  
-- Description: Soft Delete Holiday Assignment  
-- =============================================  
CREATE   PROCEDURE [dbo].[usp_HolidayAssignment_Delete]  
    @Id int,  
    @UserId int,  
    @TenantId int  
AS  
BEGIN  
    SET NOCOUNT ON;  
    BEGIN TRY  
        BEGIN TRAN  
          
        -- Check if Holiday Assignment exists  
        IF NOT EXISTS (SELECT 1 FROM HolidayAssignment WHERE Id = @Id AND TenantId = @TenantId)  
        BEGIN  
            SELECT   
                CAST(0 AS bit) as success,  
                'Holiday Assignment not found' as message  
            FOR JSON PATH, WITHOUT_ARRAY_WRAPPER  
            ROLLBACK TRAN  
            RETURN  
        END  
          
        -- Check if already deleted  
        IF EXISTS (SELECT 1 FROM HolidayAssignment WHERE Id = @Id AND TenantId = @TenantId AND IsDeleted = 1)  
        BEGIN  
            SELECT   
                CAST(0 AS bit) as success,  
                'Holiday Assignment is already deleted' as message  
            FOR JSON PATH, WITHOUT_ARRAY_WRAPPER  
            ROLLBACK TRAN  
            RETURN  
        END  
          
        -- Soft Delete: Mark as deleted instead of removing the record  
        UPDATE HolidayAssignment SET  
            IsDeleted = 1,  
            DeletedBy = @UserId,  
            DeletedOn = GETUTCDATE()  
        WHERE Id = @Id AND TenantId = @TenantId  
          
        SELECT   
            @Id as deletedId,  
            CAST(1 AS bit) as success,  
            'Holiday Assignment deleted successfully' as message  
        FOR JSON PATH, WITHOUT_ARRAY_WRAPPER  
          
        COMMIT TRAN  
    END TRY  
    BEGIN CATCH  
        IF @@TRANCOUNT > 0  
            ROLLBACK TRAN  
          
        SELECT   
            CAST(0 AS bit) as success,  
            ERROR_MESSAGE() as message  
        FOR JSON PATH, WITHOUT_ARRAY_WRAPPER  
    END CATCH  
END  
GO
