USE [StaffScheduling_DEV]
GO
/****** Object:  StoredProcedure [dbo].[usp_Labels_Delete]    Script Date: 1/11/2026 6:47:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================  
-- Author:  Ali Nafees
-- Create date: 10/9/2025  
-- Description: usp_Labels_Delete
-- =============================================    
CREATE PROCEDURE [dbo].[usp_Labels_Delete]  
    @LabelId INT,  
    @UserId INT,  
    @TenantId INT  
AS  
BEGIN  
    SET NOCOUNT ON;  
  
    BEGIN TRY  
        -- Check if the label is assigned to any shifts  
        IF EXISTS (  
            SELECT 1   
            FROM Shifts   
            WHERE ShiftLabelId = @LabelId   
                AND TenantId = @TenantId  
        )  
        BEGIN  
            SELECT  
                cast(0 as bit) AS success,  
                'Cannot delete this label because it is assigned to one or more shifts. Please remove the shift assignments first.' AS message  
            FOR JSON PATH, WITHOUT_ARRAY_WRAPPER;  
            RETURN;  
        END  
  
        BEGIN TRANSACTION;  
  
        -- Delete the label  
        DELETE FROM Labels  
        WHERE Id = @LabelId  
            AND TenantId = @TenantId;  
  
        -- Check if any rows were affected  
        IF @@ROWCOUNT = 0  
        BEGIN  
            ROLLBACK TRANSACTION;  
            SELECT  
                cast(0 as bit) AS success,  
                'Label not found or already deleted.' AS message  
            FOR JSON PATH, WITHOUT_ARRAY_WRAPPER;  
            RETURN;  
        END  
  
        COMMIT TRANSACTION;  
  
        -- Return success  
        SELECT  
            cast(1 as bit) AS success,  
            'Label deleted successfully.' AS message  
        FOR JSON PATH, WITHOUT_ARRAY_WRAPPER;  
  
    END TRY  
    BEGIN CATCH  
        IF @@TRANCOUNT > 0  
            ROLLBACK TRANSACTION;  
  
        -- Return error  
        SELECT  
            cast(0 as bit) AS success,  
            ERROR_MESSAGE() AS message  
        FOR JSON PATH, WITHOUT_ARRAY_WRAPPER;  
    END CATCH  
END  
GO
