USE [TimeManagement_DEV]
GO
/****** Object:  StoredProcedure [dbo].[usp_EmployeeLabelAssignment_Get]    Script Date: 11/19/2025 4:30:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[usp_EmployeeLabelAssignment_Get]
	@Id int = NULL,
	@TenantId int,
	@PageNumber int = 1,
	@PageSize int = 10,
	@SortColumn varchar(50) = 'DateCreated',
	@SortDirection varchar(4) = 'DESC',
	@SearchTerm varchar(255) = NULL
AS
BEGIN
	SET NOCOUNT ON;

	DECLARE @Offset int = (@PageNumber - 1) * @PageSize;

	;WITH _rows AS (
		SELECT 
			ela.Id as id,
			ela.TenantId as tenantId,
			ela.LabelId as labelId,
			l.LabelName as labelName,
			l.LabelCode as labelCode,
			l.ColorCode as colorCode,
			ela.UserId as userId,
			ela.EffectiveDate as effectiveDate,
			ela.ExpiryDate as expiryDate,
			ela.CreatedBy as createdBy,
			ela.UpdatedBy as updatedBy,
			ela.DateCreated as dateCreated,
			ela.DateUpdated as dateUpdated
		FROM EmployeeLabelAssignment ela
		INNER JOIN Labels l ON ela.LabelId = l.Id
		WHERE ela.TenantId = @TenantId
			AND ela.IsDeleted = 0
			AND (@Id IS NULL OR ela.Id = @Id)
			AND (
				@SearchTerm IS NULL OR 
				l.LabelName LIKE '%' + @SearchTerm + '%' OR 
				l.LabelCode LIKE '%' + @SearchTerm + '%'
			)
	)
	SELECT 
		_rows.id,
		_rows.tenantId,
		_rows.labelId,
		_rows.labelName,
		_rows.labelCode,
		_rows.colorCode,
		_rows.userId,
		_rows.effectiveDate,
		_rows.expiryDate,
		_rows.createdBy,
		_rows.updatedBy,
		_rows.dateCreated,
		_rows.dateUpdated,
		(SELECT count(_rows.id) from _rows) as totalCount
	FROM _rows
	ORDER BY 
		CASE WHEN @SortColumn = 'DateCreated' AND @SortDirection = 'ASC' THEN _rows.dateCreated END ASC,
		CASE WHEN @SortColumn = 'DateCreated' AND @SortDirection = 'DESC' THEN _rows.dateCreated END DESC,
		CASE WHEN @SortColumn = 'LabelName' AND @SortDirection = 'ASC' THEN _rows.labelName END ASC,
		CASE WHEN @SortColumn = 'LabelName' AND @SortDirection = 'DESC' THEN _rows.labelName END DESC,
		_rows.dateCreated DESC
	OFFSET @Offset ROWS
	FETCH NEXT @PageSize ROWS ONLY
	FOR JSON PATH, INCLUDE_NULL_VALUES
END
GO
