USE [TimeManagement_DEV]
GO
/****** Object:  StoredProcedure [dbo].[usp_EmployeeAvailability_Get]    Script Date: 12/1/2025 9:59:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_EmployeeAvailability_Get]
    @UserId INT,
    @StartDate DATE = NULL,
    @EndDate DATE = NULL,
    @TenantId INT
AS
BEGIN
    SET NOCOUNT ON;
    SELECT
        s.Id AS id,
        s.ScheduleName AS scheduleName,
        @UserId AS userId,
        s.StartDate AS startDate,
        DATENAME(WEEKDAY, s.StartDate) AS dayOfWeek,
        CONVERT(VARCHAR(8), s.StartTime, 100) AS startTime,
        s.EndDate AS endDate,
        CONVERT(VARCHAR(8), s.EndTime, 100) AS endTime,
        CASE WHEN s.StatusCustomTableValueId = 1 THEN CAST(1 AS BIT) ELSE CAST(0 AS BIT) END AS isAvailable,
        s.Notes AS notes,
        s.CreatedBy AS createdBy,
        s.UpdatedBy AS updatedBy,
        s.DateCreated AS dateCreated,
        s.DateUpdated AS dateUpdated,
        (
            SELECT
                aps.ShiftId AS shiftId,
                sh.ShiftName AS shiftName,
                sh.ShiftCode AS shiftCode,
                sh.BackgroundColour AS backgroundColour
            FROM AvailabilityPeriodShifts aps
            INNER JOIN Shifts sh ON aps.ShiftId = sh.Id
            WHERE aps.ScheduleId = s.Id
                AND aps.UserId = @UserId
                AND sh.DateDeleted IS NULL
            FOR JSON PATH
        ) AS assignments
    FROM Schedules s
    WHERE s.TenantId = @TenantId
        AND s.ScheduleType = 1  -- Availability schedule type
        AND EXISTS (
            SELECT 1
            FROM AvailabilityPeriodShifts aps
            WHERE aps.ScheduleId = s.Id
                AND aps.UserId = @UserId
        )
        -- *** MODIFIED: Smart date range overlap logic ***
        AND (
            -- If no date parameters provided, return all records
            (@StartDate IS NULL AND @EndDate IS NULL)
            OR
            -- If only @StartDate provided
            (@StartDate IS NOT NULL AND @EndDate IS NULL AND 
                (s.EndDate IS NULL OR s.EndDate >= @StartDate) AND s.StartDate <= @StartDate)
            OR
            -- If only @EndDate provided
            (@StartDate IS NULL AND @EndDate IS NOT NULL AND 
                s.StartDate <= @EndDate)
            OR
            -- If both parameters provided, check for overlap
            -- Schedule overlaps if: ParameterStart <= ScheduleEnd AND ParameterEnd >= ScheduleStart
            -- Handle NULL s.EndDate as infinite (always overlaps if ParameterEnd >= ScheduleStart)
            (@StartDate IS NOT NULL AND @EndDate IS NOT NULL AND
                (
                    (s.EndDate IS NULL AND @EndDate >= s.StartDate) -- Infinite schedule
                    OR
                    (s.EndDate IS NOT NULL AND @StartDate <= s.EndDate AND @EndDate >= s.StartDate) -- Finite schedule overlap
                )
            )
        )
        -- *** END MODIFICATION ***
    ORDER BY s.StartDate, s.StartTime
    FOR JSON PATH;
END
GO
