USE [StaffScheduling_DEV]
GO
/****** Object:  StoredProcedure [dbo].[usp_AccrualTransactions_GetBySource]    Script Date: 12/17/2025 9:59:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author: Ali Nafees
-- Create date: 12/9/2025
-- Description: Get accrual transactions by SourceTypeID and SourceID
-- =============================================
CREATE   PROCEDURE [dbo].[usp_AccrualTransactions_GetBySource]
    @SourceTypeID INT,
    @SourceID INT,
    @TenantId INT
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 
        at.Id as id,
        at.AccrualBankId as accrualBankId,
        at.Amount as amount,
        at.BalanceAfter as balanceAfter,
        at.Description as description,
        ab.UserId as userId,
        ab.AccrualProfileId as accrualProfileId,
        ab.AccrualRulesSlotId as accrualRulesSlotId,
        ab.CurrentBalance as currentBalance,
        ar.DeductionMultiplier as deductionMultiplier,
        ars.AccrueUnit as accrueUnit
    FROM [dbo].[AccrualTransactions] at
    INNER JOIN [dbo].[AccrualBanks] ab ON at.AccrualBankId = ab.Id AND ab.TenantId = @TenantId
    INNER JOIN [dbo].[AccrualRulesSlots] ars ON ab.AccrualRulesSlotId = ars.Id AND ars.TenantId = @TenantId
    INNER JOIN [dbo].[AccrualRules] ar ON ab.AccrualRuleId = ar.Id AND ar.TenantId = @TenantId
    WHERE at.TenantId = @TenantId
        AND at.SourceTypeID = @SourceTypeID
        AND at.SourceID = @SourceID
    FOR JSON PATH, INCLUDE_NULL_VALUES;
END
GO
