USE [TimeManagement_DEV]
GO
/****** Object:  StoredProcedure [dbo].[usp_Groups_Delete]    Script Date: 12/10/2025 12:21:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author: Ali Nafees
-- Create date: 11-03-2025
-- Description: Delete a Group with validation
-- =============================================
CREATE PROCEDURE [dbo].[usp_Groups_Delete]
    @GroupId INT,
    @UserId INT,
    @TenantId INT
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRY
        -- Check if the group is assigned to any shifts
        IF EXISTS (
            SELECT 1 
            FROM ShiftGroupAssignment 
            WHERE GroupId = @GroupId 
                AND TenantId = @TenantId
        )
        BEGIN
            -- Return error message without deleting
            SELECT
                cast(0 as bit) AS success,
                'Cannot delete this group because it is assigned to one or more shifts. Please remove the shift assignments first.' AS message
            FOR JSON PATH, WITHOUT_ARRAY_WRAPPER;
            RETURN;
        END

        BEGIN TRANSACTION;

        -- Delete the group
        DELETE FROM Groups
        WHERE Id = @GroupId
            AND TenantId = @TenantId;

        -- Check if any rows were affected
        IF @@ROWCOUNT = 0
        BEGIN
            ROLLBACK TRANSACTION;
            SELECT
                cast(0 as bit) AS success,
                'Group not found or already deleted.' AS message
            FOR JSON PATH, WITHOUT_ARRAY_WRAPPER;
            RETURN;
        END

        COMMIT TRANSACTION;

        -- Return success
        SELECT
            cast(1 as bit) AS success,
            'Group deleted successfully.' AS message
        FOR JSON PATH, WITHOUT_ARRAY_WRAPPER;

    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0
            ROLLBACK TRANSACTION;

        -- Return error
        SELECT
            0 AS Success,
            ERROR_MESSAGE() AS Message
        FOR JSON PATH, WITHOUT_ARRAY_WRAPPER;
    END CATCH
END
GO
