USE [TimeManagement_DEV]
GO
/****** Object:  StoredProcedure [dbo].[usp_AssistantQualifiers_Get]    Script Date: 12/10/2025 12:21:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================  
-- Author:      Ali Nafees  
-- Create date: 11/14/2025  
-- Description: Insert/Update Accrual Rules  
-- =============================================   
CREATE PROCEDURE [dbo].[usp_AssistantQualifiers_Get]  
 @Id int = NULL,  
 @TenantId int,  
 @PageNumber int = 1,  
 @PageSize int = 10,  
 @SortColumn varchar(50) = 'Name',  
 @SortDirection varchar(4) = 'ASC',  
 @SearchTerm varchar(255) = NULL  
AS  
BEGIN  
 SET NOCOUNT ON;  
  
 DECLARE @Offset int = (@PageNumber - 1) * @PageSize;  
  
 ;WITH _rows AS (  
  SELECT   
   aq.Id as id,  
   aq.TenantId as tenantId,  
   aq.Name as name,  
   aq.Code as code,  
   aq.Description as description,  
   aq.BackgroundColor as backgroundColor,  
   aq.TextColor as textColor,  
   aq.IsActive as isActive,  
   aq.CreatedBy as createdBy,  
   aq.UpdatedBy as updatedBy,  
   aq.DateCreated as dateCreated,  
   aq.DateUpdated as dateUpdated  
  FROM AssisstantQualifiers aq  
  WHERE aq.TenantId = @TenantId  
   AND (@Id IS NULL OR aq.Id = @Id)  
   AND (  
    @SearchTerm IS NULL OR   
    aq.Name LIKE '%' + @SearchTerm + '%' OR   
    aq.Code LIKE '%' + @SearchTerm + '%' OR   
    aq.Description LIKE '%' + @SearchTerm + '%'  
   )  
 )  
 SELECT   
  _rows.id,  
  _rows.tenantId,  
  _rows.name,  
  _rows.code,  
  _rows.description,  
  _rows.backgroundColor,  
  _rows.textColor,  
  _rows.isActive,  
  _rows.createdBy,  
  _rows.updatedBy,  
  _rows.dateCreated,  
  _rows.dateUpdated,  
  (SELECT count(_rows.id) from _rows) as totalCount  
 FROM _rows  
 ORDER BY   
  CASE WHEN @SortColumn = 'Name' AND @SortDirection = 'ASC' THEN _rows.name END ASC,  
  CASE WHEN @SortColumn = 'Name' AND @SortDirection = 'DESC' THEN _rows.name END DESC,  
  CASE WHEN @SortColumn = 'Code' AND @SortDirection = 'ASC' THEN _rows.code END ASC,  
  CASE WHEN @SortColumn = 'Code' AND @SortDirection = 'DESC' THEN _rows.code END DESC,  
  _rows.name ASC  
 OFFSET @Offset ROWS  
 FETCH NEXT @PageSize ROWS ONLY  
 FOR JSON PATH, INCLUDE_NULL_VALUES  
END  
GO
