USE [TimeManagement_DEV]
GO
/****** Object:  StoredProcedure [dbo].[usp_EmployeeWorkCodeAssignment_GetShortList]    Script Date: 11/20/2025 4:43:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[usp_EmployeeWorkCodeAssignment_GetShortList]
    @UserId INT = NULL,
    @Common BIT = 0,
    @UserIds VARCHAR(MAX) = NULL,
    @TenantId INT
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRY
        SELECT 
            ewca.Id AS id,
            ewca.UserId AS userId,
            wc.Id AS workCodeId,
            wc.WorkCodeName AS workCodeName,
            wc.WorkCode AS workCode,
            wc.ColorCode AS colorCode,
            wc.IsActive AS isActive
        FROM WorkCodes wc
        INNER JOIN EmployeeWorkCodeAssignment ewca ON wc.Id = ewca.WorkCodeId
        WHERE ewca.UserId = ISNULL(@UserId, 0)
            AND ewca.TenantId = @TenantId
            AND ewca.IsActive = 1
            AND wc.IsActive = 1
        ORDER BY wc.WorkCodeName ASC
        FOR JSON PATH;

    END TRY
    BEGIN CATCH
        -- Return error as JSON
        SELECT
            CAST(0 AS BIT) AS Success,
            ERROR_MESSAGE() AS Message
        FOR JSON PATH, WITHOUT_ARRAY_WRAPPER;
    END CATCH
END
GO
