USE [StaffScheduling_DEV]
GO
/****** Object:  StoredProcedure [dbo].[usp_EmployeeAccrualSettings_Get]    Script Date: 3/13/2026 4:26:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================  
-- Author:      Ali Nafees  
-- Create date: 11/19/2025  
-- Description: Get Employee Accrual Settings by UserId where IsActive = true  
-- =============================================  
CREATE PROCEDURE [dbo].[usp_EmployeeAccrualSettings_Get]  
    @UserId INT,  
    @TenantIds varchar(max)  
AS  
BEGIN  
    SET NOCOUNT ON;  
  
    SELECT   
        eas.Id AS id,  
        eas.UserId AS userId,  
        eas.AccrualTrackId AS accrualTrackId,  
        eas.AccrualProfileId AS accrualProfileId,  
        eas.AccrualStartDate AS accrualStartDate,  
        eas.IsActive AS isActive,  
        eas.TenantId AS tenantId,  
        eas.CreatedBy AS createdBy,  
        eas.UpdatedBy AS updatedBy,  
        eas.DateCreated AS dateCreated,  
        eas.DateUpdated AS dateUpdated  
    FROM [dbo].[EmployeeAccrualSettings] eas  
    WHERE   (ISNULL(@UserId, 0) = 0 OR eas.UserId = @UserId)
        AND (ISNULL(@TenantIds, '') = '' OR eas.TenantId in (select * from string_split(@TenantIds, ',')) )  
        AND eas.IsActive = 1  
    FOR JSON PATH;  
END  
GO
