USE [TimeManagement_DEV]
GO
/****** Object:  StoredProcedure [dbo].[usp_EmployeeJobCodeAssignment_Get]    Script Date: 12/15/2025 3:41:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*==================================================================================
CREATED BY             : Ankur
CREATED DATE           : 18/10/2025
DESCRIPTION            : Get Employee Job Code Assignment List with SERVER-SIDE PAGINATION and SORTING
LAST UPDATED BY        : Ankur
DATE LAST UPDATED     : 03/11/2025
CHANGE DESCRIPTION    : Added Sorting Parameters (SortColumn, SortDirection)

EXEC [usp_EmployeeJobCodeAssignment_Get] 0, 0, '', 1, 1, 10, 'effectiveDate', 'desc'
==================================================================================*/

CREATE PROCEDURE [dbo].[usp_EmployeeJobCodeAssignment_Get]
(
    @JobCodeId int,
    @UserId int,
    @SearchStr nvarchar(max),
    @TenantId int,
    @PageNumber int = 1,
    @PageSize int = 10,
    @SortColumn nvarchar(50) = 'effectiveDate',
    @SortDirection nvarchar(4) = 'desc'
)
AS
BEGIN
    SET NOCOUNT ON;

    -- Handle null parameters
    IF(ISNULL(@JobCodeId, 0) = 0)
    BEGIN
        SET @JobCodeId = 0
    END

    IF(ISNULL(@UserId, 0) = 0)
    BEGIN
        SET @UserId = 0
    END

    IF(ISNULL(@SearchStr, '') = '')
    BEGIN
        SET @SearchStr = ''
    END

    -- Default pagination values
    IF(ISNULL(@PageNumber, 0) <= 0)
    BEGIN
        SET @PageNumber = 1
    END

    IF(ISNULL(@PageSize, 0) <= 0)
    BEGIN
        SET @PageSize = 10
    END

    -- Validate and sanitize sort column to prevent SQL injection
    -- NOTE: employeeName sorting removed because Users table is in different database
    DECLARE @ValidSortColumn NVARCHAR(100);
    SET @ValidSortColumn = CASE LOWER(@SortColumn)
        WHEN 'jobcode' THEN 'jc.JobCode'
        WHEN 'effectivedate' THEN 'ejca.EffectiveDate'
        WHEN 'expirydate' THEN 'ejca.ExpiryDate'
        ELSE 'ejca.EffectiveDate'  -- Default
    END;

    -- Validate sort direction
    DECLARE @ValidSortDirection NVARCHAR(4);
    SET @ValidSortDirection = CASE LOWER(@SortDirection)
        WHEN 'asc' THEN 'ASC'
        WHEN 'desc' THEN 'DESC'
        ELSE 'DESC'  -- Default
    END;

    -- Calculate total count BEFORE pagination
    DECLARE @TotalCount INT;

    SELECT @TotalCount = COUNT(*)
    FROM EmployeeJobCodeAssignment ejca
    LEFT JOIN JobCodes jc ON ejca.JobCodeId = jc.Id AND jc.TenantId = @TenantId
    WHERE ejca.TenantId = @TenantId
        AND ISNULL(ejca.IsActive, 1) = 1
        AND (@JobCodeId = 0 OR ejca.JobCodeId = @JobCodeId)
        AND (@UserId = 0 OR ejca.UserId = @UserId)
        AND (
            @SearchStr = ''
            OR jc.JobCode LIKE '%' + @SearchStr + '%'
            OR jc.JobTitle LIKE '%' + @SearchStr + '%'
        );

    -- Get paginated data with total count and sorting
    SELECT
        ejca.Id as id,
        ejca.JobCodeId as jobCodeId,
        ejca.UserId as userId,
        ejca.IsActive as isActive,
        ejca.EffectiveDate as effectiveDate,
        ejca.ExpiryDate as expiryDate,
        ejca.CreatedBy as createdBy,
        ejca.UpdatedBy as updatedBy,
        ejca.DateCreated as dateCreated,
        ejca.DateUpdated as dateUpdated,
        jc.JobCode as jobCode,
        jc.JobTitle as jobTitle,
        jc.Description as jobDescription,
        jc.Category as jobCategory,
        @TotalCount as totalCount
    FROM EmployeeJobCodeAssignment ejca
    LEFT JOIN JobCodes jc ON ejca.JobCodeId = jc.Id AND jc.TenantId = @TenantId
    WHERE ejca.TenantId = @TenantId
        AND ISNULL(ejca.IsActive, 1) = 1
        AND (@JobCodeId = 0 OR ejca.JobCodeId = @JobCodeId)
        AND (@UserId = 0 OR ejca.UserId = @UserId)
        AND (
            @SearchStr = ''
            OR jc.JobCode LIKE '%' + @SearchStr + '%'
            OR jc.JobTitle LIKE '%' + @SearchStr + '%'
        )
    ORDER BY
        CASE WHEN @ValidSortColumn = 'jc.JobCode' AND @ValidSortDirection = 'ASC' THEN jc.JobCode END ASC,
        CASE WHEN @ValidSortColumn = 'jc.JobCode' AND @ValidSortDirection = 'DESC' THEN jc.JobCode END DESC,
        CASE WHEN @ValidSortColumn = 'ejca.EffectiveDate' AND @ValidSortDirection = 'ASC' THEN ejca.EffectiveDate END ASC,
        CASE WHEN @ValidSortColumn = 'ejca.EffectiveDate' AND @ValidSortDirection = 'DESC' THEN ejca.EffectiveDate END DESC,
        CASE WHEN @ValidSortColumn = 'ejca.ExpiryDate' AND @ValidSortDirection = 'ASC' THEN ejca.ExpiryDate END ASC,
        CASE WHEN @ValidSortColumn = 'ejca.ExpiryDate' AND @ValidSortDirection = 'DESC' THEN ejca.ExpiryDate END DESC
    OFFSET (@PageNumber - 1) * @PageSize ROWS
    FETCH NEXT @PageSize ROWS ONLY
    FOR JSON PATH, INCLUDE_NULL_VALUES
END
GO
