USE [TimeManagement_DEV]
GO
/****** Object:  StoredProcedure [dbo].[usp_WorkCodes_UpdateDefaultStatus]    Script Date: 11/23/2025 1:28:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
  
-- =============================================  
-- Author:  Ali Nafees  
-- Create date: 10/15/2025  
-- Description: Update WorkCode Default Status  
-- =============================================  
CREATE   PROCEDURE [dbo].[usp_WorkCodes_UpdateDefaultStatus]  
 @WorkCodeId int,  
 @IsDefault bit,  
 @UserId int,  
 @TenantId int  
AS  
BEGIN  
 SET NOCOUNT ON;  
 BEGIN TRY  
  BEGIN TRAN  
  
  -- Check if WorkCode exists  
  IF NOT EXISTS (SELECT 1 FROM WorkCodes WHERE Id = @WorkCodeId AND TenantId = @TenantId)  
  BEGIN  
   SELECT   
    CAST(0 AS bit) as success,  
    'WorkCode not found' as message  
   FOR JSON PATH, WITHOUT_ARRAY_WRAPPER  
   ROLLBACK TRAN  
   RETURN  
  END  
  
  -- If setting as default, unset all other defaults for this tenant  
  IF @IsDefault = 1  
  BEGIN  
   UPDATE WorkCodes  
   SET   
    IsDefault = 0,  
    UpdatedBy = @UserId,  
    DateUpdated = GETUTCDATE()  
   WHERE TenantId = @TenantId AND Id != @WorkCodeId  
  END  
  
  -- Update Default Status  
  UPDATE WorkCodes  
  SET   
   IsDefault = @IsDefault,  
   UpdatedBy = @UserId,  
   DateUpdated = GETUTCDATE()  
  WHERE Id = @WorkCodeId AND TenantId = @TenantId  
  
  SELECT   
   CAST(1 AS bit) as success,  
   'WorkCode default status updated successfully' as message,  
   @WorkCodeId as workCodeId,  
   @IsDefault as isDefault  
  FOR JSON PATH, WITHOUT_ARRAY_WRAPPER  
  
  COMMIT TRAN  
 END TRY  
 BEGIN CATCH  
  IF @@TRANCOUNT > 0  
   ROLLBACK TRAN  
    
  SELECT   
   CAST(0 AS bit) as success,  
   ERROR_MESSAGE() as message  
  FOR JSON PATH, WITHOUT_ARRAY_WRAPPER  
 END CATCH  
END  
GO
