USE [StaffScheduling_DEV]
GO
/****** Object:  StoredProcedure [dbo].[usp_Schedules_Save]    Script Date: 12/15/2025 8:21:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		Ali Nafees
-- Create date: 10/17/2025
-- Description:	Save Schedule and its Frequencies
-- =============================================
CREATE   PROCEDURE [dbo].[usp_Schedules_Save]
	@Json varchar(max),
	@UserId int,
	@TenantId int
AS
BEGIN
	SET NOCOUNT ON;
	BEGIN TRY
		BEGIN TRAN

		-- Declare variables for schedule fields
		DECLARE @Id int
		DECLARE @ScheduleName varchar(255)
		DECLARE @StartFrom date
		DECLARE @ValidUntil datetimeoffset(7)
		DECLARE @ScheduleType int
		DECLARE @RepeatEvery int
		DECLARE @ScheduleWithoutTimes bit
		DECLARE @StartTime time(7)
		DECLARE @EndTime time(7)
		DECLARE @MaxOccurrences int
		DECLARE @EndType nvarchar(50)
		DECLARE @IsActive bit
		DECLARE @SourceType int
		DECLARE @SourceId int

		-- Parse JSON for schedule data
		SELECT 
			@Id = id,
			@StartFrom = startFrom,
			@ValidUntil = validUntil,
			@ScheduleType = scheduleType,
			@RepeatEvery = repeatEvery,
			@ScheduleWithoutTimes = ISNULL(scheduleWithoutTimes, 0),
			@StartTime = startTime,
			@EndTime = endTime,
			@MaxOccurrences = maxOccurrences,
			@EndType = endType,
			@IsActive = ISNULL(isActive, 1),
			@SourceType = sourceType,
			@SourceId = sourceId
		FROM OPENJSON(@Json) WITH (
			id int,
			startFrom date,
			validUntil datetimeoffset(7),
			scheduleType int,
			repeatEvery int,
			scheduleWithoutTimes bit,
			startTime time(7),
			endTime time(7),
			maxOccurrences int,
			endType nvarchar(50),
			isActive bit,
			sourceType int,
			sourceId int
		)

		-- Generate schedule name if not provided
		SET @ScheduleName = 'Schedule_' + CAST(@SourceType AS varchar(10)) + '_' + CAST(@SourceId AS varchar(10))

		-- Check if Schedule exists
		IF EXISTS (SELECT 1 FROM Schedules WHERE Id = @Id AND TenantId = @TenantId)
		BEGIN
			-- Update existing Schedule
			UPDATE Schedules
			SET 
				ScheduleName = @ScheduleName,
				SourceType = @SourceType,
				SourceId = @SourceId,
				StartFrom = @StartFrom,
				ValidUntil = @ValidUntil,
				ScheduleType = @ScheduleType,
				RepeatEvery = @RepeatEvery,
				ScheduleWithoutTimes = @ScheduleWithoutTimes,
				StartTime = @StartTime,
				EndTime = @EndTime,
				MaxOccurrences = @MaxOccurrences,
				EndType = @EndType,
				UpdatedBy = @UserId,
				DateUpdated = GETUTCDATE()
			WHERE Id = @Id AND TenantId = @TenantId

			-- Handle Schedule Frequencies - smart delete and insert
			-- First, create a temp table to store incoming frequencies
			DECLARE @IncomingFrequencies TABLE (
				Day int,
				DayType int
			)

			-- Populate temp table with incoming frequencies
			INSERT INTO @IncomingFrequencies (Day, DayType)
			SELECT 
				day,
				dayType
			FROM OPENJSON(@Json) 
			WITH (
				frequency nvarchar(max) AS JSON
			)
			CROSS APPLY OPENJSON(frequency) WITH (
				day int,
				dayType int
			)

			-- Delete frequencies that are NOT in the incoming list
			DELETE FROM ScheduleFrequencies
			WHERE ScheduleId = @Id
				AND NOT EXISTS (
					SELECT 1 FROM @IncomingFrequencies i
					WHERE i.Day = ScheduleFrequencies.Day 
						AND i.DayType = ScheduleFrequencies.DayType
				)

			-- Insert new frequencies that don't already exist
			INSERT INTO ScheduleFrequencies (TenantId, ScheduleId, Day, DayType, IsActive, CreatedBy, DateCreated)
			SELECT 
				@TenantId,
				@Id,
				i.Day,
				i.DayType,
				1, -- IsActive
				@UserId,
				GETUTCDATE()
			FROM @IncomingFrequencies i
			WHERE NOT EXISTS (
				SELECT 1 
				FROM ScheduleFrequencies sf
				WHERE sf.ScheduleId = @Id
					AND sf.Day = i.Day
					AND sf.DayType = i.DayType
			)

			SELECT @Id as id, CAST(1 AS bit) as success, 'Schedule updated successfully' as message
			FOR JSON PATH, WITHOUT_ARRAY_WRAPPER
		END
		ELSE
		BEGIN
			print('haha')
			-- Insert new Schedule
			INSERT INTO Schedules (
				TenantId,
				ScheduleName,
				SourceType,
				SourceId,
				StartFrom,
				ValidUntil,
				ScheduleType,
				RepeatEvery,
				ScheduleWithoutTimes,
				StartTime,
				EndTime,
				MaxOccurrences,
				EndType,
				Createdby,
				DateCreated
			)
			VALUES (
				@TenantId,
				@ScheduleName,
				@SourceType,
				@SourceId,
				@StartFrom,
				@ValidUntil,
				@ScheduleType,
				@RepeatEvery,
				@ScheduleWithoutTimes,
				@StartTime,
				@EndTime,
				@MaxOccurrences,
				@EndType,
				@UserId,
				GETUTCDATE()
			)

			SET @Id = SCOPE_IDENTITY()
			print('hehe')
			-- Insert Schedule Frequencies
			INSERT INTO ScheduleFrequencies (TenantId, ScheduleId, Day, DayType, IsActive, CreatedBy, DateCreated)
			SELECT 
				@TenantId,
				@Id,
				day,
				dayType,
				1, -- IsActive
				@UserId,
				GETUTCDATE()
			FROM OPENJSON(@Json) 
			WITH (
				frequency nvarchar(max) AS JSON
			)
			CROSS APPLY OPENJSON(frequency) WITH (
				day int,
				dayType int
			)

			SELECT @Id as id, CAST(1 AS bit) as success, 'Schedule created successfully' as message
			FOR JSON PATH, WITHOUT_ARRAY_WRAPPER
		END

		COMMIT TRAN
	END TRY
	BEGIN CATCH
		IF @@TRANCOUNT > 0
			ROLLBACK TRAN
		
		SELECT 
			CAST(0 AS bit) as success,
			ERROR_MESSAGE() as message
		FOR JSON PATH, WITHOUT_ARRAY_WRAPPER
	END CATCH
END

GO
