USE [StaffScheduling_DEV]
GO
/****** Object:  StoredProcedure [dbo].[usp_EmployeeJobCodeAssignment_Delete]    Script Date: 3/13/2026 4:26:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author: Ankur
-- Create date: 18/10/2025
-- Description: Delete Employee Job Code Assignment
-- =============================================
CREATE   PROCEDURE [dbo].[usp_EmployeeJobCodeAssignment_Delete]
      @Id int,
      @UserId int,
      @TenantId int
  AS
  BEGIN
      SET NOCOUNT ON;
      BEGIN TRY
          BEGIN TRAN

          -- Check if Employee Job Code Assignment exists and is active
          IF EXISTS (SELECT 1 FROM EmployeeJobCodeAssignment WHERE Id = @Id AND TenantId = @TenantId AND
  ISNULL(IsActive, 1) = 1)
          BEGIN
              -- Soft Delete Employee Job Code Assignment
              UPDATE EmployeeJobCodeAssignment
              SET IsActive = 0,
                  UpdatedBy = @UserId,
                  DateUpdated = GETUTCDATE()
              WHERE Id = @Id AND TenantId = @TenantId

              SELECT
                  CAST(1 AS bit) as success,
                  'Employee Job Code Assignment deleted successfully' as message,
                  @Id as deletedId
              FOR JSON PATH, WITHOUT_ARRAY_WRAPPER
          END
          ELSE
          BEGIN
              SELECT
                  CAST(0 AS bit) as success,
                  'Employee Job Code Assignment not found or already deleted' as message
              FOR JSON PATH, WITHOUT_ARRAY_WRAPPER
          END

          COMMIT TRAN
      END TRY
      BEGIN CATCH
          IF @@TRANCOUNT > 0
              ROLLBACK TRAN

          SELECT
              CAST(0 AS bit) as success,
              ERROR_MESSAGE() as message
          FOR JSON PATH, WITHOUT_ARRAY_WRAPPER
      END CATCH
  END
GO
