USE [StaffScheduling_DEV]
GO
/****** Object:  StoredProcedure [dbo].[usp_HolidayAssignment_Save]    Script Date: 12/17/2025 9:59:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
  
-- =============================================  
-- Author: Ali Nafees 
-- Create date: 10/9/2025  
-- Description: Save (Insert/Update) Holiday Assignment  
-- Modified: Added duplicate validation for job code and user assignments  
-- =============================================  
CREATE   PROCEDURE [dbo].[usp_HolidayAssignment_Save]  
    @Json varchar(max),  
    @UserId int,  
    @TenantId int  
AS  
BEGIN  
    SET NOCOUNT ON;  
    BEGIN TRY  
        BEGIN TRAN  
          
        DECLARE @Id int  
        DECLARE @HolidayId int  
        DECLARE @JobCodeId int  
        DECLARE @AssignmentUserId int  
        DECLARE @EffectiveDate datetimeoffset(7)  
        DECLARE @ExpiryDate datetimeoffset(7)  
          
        -- Parse JSON  
        SELECT   
            @Id = ISNULL(id, 0),  
            @HolidayId = holidayId,  
            @JobCodeId = jobCodeId,  
            @AssignmentUserId = userId,  
            @EffectiveDate = effectiveDate,  
            @ExpiryDate = expiryDate  
        FROM OPENJSON(@Json) WITH (  
            id int,  
            holidayId int,  
            jobCodeId int,  
            userId int,  
            effectiveDate datetimeoffset(7),  
            expiryDate datetimeoffset(7)  
        )  
          
        -- Validate: Check for duplicate assignment for Job Code  
        IF @JobCodeId IS NOT NULL  
        BEGIN  
            IF EXISTS (  
                SELECT 1   
                FROM HolidayAssignment   
                WHERE HolidayId = @HolidayId   
                    AND JobCodeId = @JobCodeId   
                    AND TenantId = @TenantId   
                    AND Id != @Id  
            )  
            BEGIN  
                SELECT   
                    CAST(0 AS bit) as success,  
                    'Holiday assignment already exists for this Job Code' as message  
                FOR JSON PATH, WITHOUT_ARRAY_WRAPPER  
                ROLLBACK TRAN  
                RETURN  
            END  
        END  
          
        -- Validate: Check for duplicate assignment for User  
        IF @AssignmentUserId IS NOT NULL  
        BEGIN  
            IF EXISTS (  
                SELECT 1   
                FROM HolidayAssignment   
                WHERE HolidayId = @HolidayId   
                    AND UserId = @AssignmentUserId   
                    AND TenantId = @TenantId   
                    AND Id != @Id  
            )  
            BEGIN  
                SELECT   
                    CAST(0 AS bit) as success,  
                    'Holiday assignment already exists for this User' as message  
                FOR JSON PATH, WITHOUT_ARRAY_WRAPPER  
                ROLLBACK TRAN  
                RETURN  
            END  
        END  
          
        -- Check if Holiday Assignment exists (Update scenario)  
        IF EXISTS (SELECT 1 FROM HolidayAssignment WHERE Id = @Id AND TenantId = @TenantId)  
        BEGIN  
            -- Update existing Holiday Assignment  
            UPDATE HolidayAssignment SET  
                HolidayId = @HolidayId,  
                JobCodeId = @JobCodeId,  
                UserId = @AssignmentUserId,  
                EffectiveDate = @EffectiveDate,  
                ExpiryDate = @ExpiryDate,  
                UpdatedBy = @UserId,  
                DateUpdated = GETUTCDATE()  
            WHERE Id = @Id AND TenantId = @TenantId  
              
            SELECT   
                @Id as id,  
                CAST(1 AS bit) as success,  
                'Holiday Assignment updated successfully' as message  
            FOR JSON PATH, WITHOUT_ARRAY_WRAPPER  
        END  
        ELSE  
        BEGIN  
            -- Insert new Holiday Assignment  
            INSERT INTO HolidayAssignment (  
                TenantId,  
                HolidayId,  
                JobCodeId,  
                UserId,  
                EffectiveDate,  
                ExpiryDate,  
                CreatedBy,  
                DateCreated  
            )  
            VALUES (  
                @TenantId,  
                @HolidayId,  
                @JobCodeId,  
                @AssignmentUserId,  
                @EffectiveDate,  
                @ExpiryDate,  
                @UserId,  
                GETUTCDATE()  
            )  
              
            SET @Id = SCOPE_IDENTITY()  
              
            SELECT   
                @Id as id,  
                CAST(1 AS bit) as success,  
                'Holiday Assignment created successfully' as message  
            FOR JSON PATH, WITHOUT_ARRAY_WRAPPER  
        END  
          
        COMMIT TRAN  
    END TRY  
    BEGIN CATCH  
        IF @@TRANCOUNT > 0  
            ROLLBACK TRAN  
          
        SELECT   
            CAST(0 AS bit) as success,  
            ERROR_MESSAGE() as message  
        FOR JSON PATH, WITHOUT_ARRAY_WRAPPER  
    END CATCH  
END  
GO
