USE [StaffScheduling_DEV]
GO
/****** Object:  StoredProcedure [dbo].[usp_JobCodes_Update]    Script Date: 12/19/2025 4:07:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ============================================
-- Stored Procedure: usp_JobCodes_Update
-- Purpose: Update an existing Job Code
-- ============================================
CREATE   PROCEDURE [dbo].[usp_JobCodes_Update]
    @Id INT,
    @JobTitle NVARCHAR(100),
    @Code NVARCHAR(50),
    @Description NVARCHAR(500),
    @Category NVARCHAR(50),
    @IsExempt BIT = 0,
    @PayRate DECIMAL(18,2) = 0,
    @DefaultHoursPerWeek INT = 40,
    @IsActive BIT = 1,
    @TenantId INT,
    @ModifiedBy INT = NULL,
    @ColorCode NVARCHAR(20) = NULL
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @Result TABLE (Success INT, Message NVARCHAR(500));

    BEGIN TRY
        -- Trim input values
        SET @JobTitle = LTRIM(RTRIM(@JobTitle));
        SET @Code = LTRIM(RTRIM(@Code));
        SET @Description = LTRIM(RTRIM(@Description));

        -- Validate required fields
        IF @JobTitle IS NULL OR @JobTitle = ''
        BEGIN
            INSERT INTO @Result (Success, Message) VALUES (0, 'Job Title is required');
            SELECT Success, Message FROM @Result;
            RETURN;
        END

        IF @Code IS NULL OR @Code = ''
        BEGIN
            INSERT INTO @Result (Success, Message) VALUES (0, 'Job Code is required');
            SELECT Success, Message FROM @Result;
            RETURN;
        END

        -- Check if record exists
        IF NOT EXISTS (SELECT 1 FROM JobCodes WHERE Id = @Id AND TenantId = @TenantId)
        BEGIN
            INSERT INTO @Result (Success, Message) VALUES (0, 'Job Code not found');
            SELECT Success, Message FROM @Result;
            RETURN;
        END

        -- *** FIXED: Case-insensitive and whitespace-trimmed duplicate check (excluding current record) ***
        IF EXISTS (SELECT 1 FROM JobCodes
                   WHERE LOWER(LTRIM(RTRIM(JobCode))) = LOWER(LTRIM(RTRIM(@Code)))
                   AND TenantId = @TenantId
                   AND Id != @Id
                   AND IsActive = 1)
        BEGIN
            INSERT INTO @Result (Success, Message)
            VALUES (0, 'A Job Code with this code already exists. Please use a different code.');
            SELECT Success, Message FROM @Result;
            RETURN;
        END

        -- Update existing job code
        UPDATE JobCodes
        SET
            JobTitle = @JobTitle,
            JobCode = @Code,
            Description = @Description,
            Category = @Category,
            IsExempt = @IsExempt,
            PayRate = @PayRate,
            DefaultHoursPerWeek = @DefaultHoursPerWeek,
            IsActive = @IsActive,
            ColorCode = @ColorCode,
            UpdatedBy = @ModifiedBy,
            DateUpdated = GETDATE()
        WHERE Id = @Id AND TenantId = @TenantId;

        INSERT INTO @Result (Success, Message) VALUES (1, 'Job Code updated successfully');
        SELECT Success, Message FROM @Result;
    END TRY
    BEGIN CATCH
        INSERT INTO @Result (Success, Message)
        VALUES (0, 'Error: ' + ERROR_MESSAGE());
        SELECT Success, Message FROM @Result;
    END CATCH
END
GO
