USE [StaffScheduling_DEV]
GO
/****** Object:  StoredProcedure [dbo].[usp_ShiftAssignment_Get_Childern_ByIds]    Script Date: 12/19/2025 4:07:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================  
-- Author:      Ali Nafees
-- Create date: 2025-12-18  
-- Description: Get shift assignments by userIds or shiftIds  
-- =============================================  
CREATE   PROCEDURE [dbo].[usp_ShiftAssignment_Get_Childern_ByIds]  
    @Ids NVARCHAR(MAX) = NULL,  
    @TenantId INT  
AS  
BEGIN  
    SET NOCOUNT ON;  

    BEGIN TRY  
        -- Step 1: Get initial assignments matching UserIds/ShiftIds filters
        SELECT   
            sa.Id as id,  
            sa.TradingUserAssignmentId as tradingUserAssignmentId,
            sa.AcceptingUserAssignmentId as acceptingUserAssignmentId,
            s.StartFrom,
            s.ValidUntil,
            s.StartTime,
            s.EndTime
        FROM ShiftAssignment sa  
        INNER JOIN Schedules s on s.SourceType = 3 and s.SourceId = sa.Id
        WHERE sa.TenantId = @TenantId  
            AND     ISNULL(sa.TradingUserAssignmentId, sa.AcceptingUserAssignmentId) 
                IN (Select c.value from string_split(@Ids, ',') c)
        ORDER BY sa.AssignedAt DESC, sa.DateCreated DESC  
        FOR JSON PATH;  

    END TRY  
    BEGIN CATCH  
        -- Cleanup temp table in case of error
        
        DECLARE @ErrorMessage NVARCHAR(4000) = ERROR_MESSAGE();  
          
        SELECT   
            success = CAST(0 AS BIT),  
            message = @ErrorMessage,  
            data = NULL  
        FOR JSON PATH, WITHOUT_ARRAY_WRAPPER;  
    END CATCH  
END  
GO
