USE [TimeManagement_DEV]
GO
/****** Object:  StoredProcedure [dbo].[usp_Holidays_Save]    Script Date: 12/10/2025 12:21:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Ali Nafees
-- Create date: 10/9/2025
-- Description:	Save (Insert/Update) Holiday
-- =============================================
CREATE   PROCEDURE [dbo].[usp_Holidays_Save]
	@Json varchar(max),
	@UserId int,
	@TenantId int
AS
BEGIN
	SET NOCOUNT ON;
	BEGIN TRY
		BEGIN TRAN

		DECLARE @Id int
		DECLARE @HolidayCode varchar(50)
		DECLARE @HolidayName varchar(255)
		DECLARE @HolidayDate date
		DECLARE @ObservedDate date
		DECLARE @IsObserved bit
		DECLARE @IsFloating bit
		DECLARE @IsAppliesToAll bit

		-- Parse JSON
		SELECT 
			@Id = Id,
			@HolidayCode = holidayCode,
			@HolidayName = holidayName,
			@HolidayDate = holidayDate,
			@ObservedDate = observedDate,
			@IsObserved = ISNULL(isObserved, 0),
			@IsFloating = ISNULL(isFloating, 0),
			@IsAppliesToAll = ISNULL(isAppliesToAll, 0)
		FROM OPENJSON(@Json) WITH (
			id int,
			holidayCode varchar(50),
			holidayName varchar(255),
			holidayDate date,
			observedDate date,
			isObserved bit,
			isFloating bit,
			isAppliesToAll bit
		)


		-- Check if HolidayCode already exists for another holiday
		IF EXISTS (
			SELECT 1 FROM Holidays 
			WHERE HolidayCode = @HolidayCode 
				AND TenantId = @TenantId 
				AND Id != ISNULL(@Id, 0)
		)
		BEGIN
			SELECT 
				CAST(0 AS bit) as success,
				'Holiday Code already exists' as message
			FOR JSON PATH, WITHOUT_ARRAY_WRAPPER
			ROLLBACK TRAN
			RETURN
		END

		-- Check if HolidayDate already exists for another holiday
		IF EXISTS (
			SELECT 1 FROM Holidays 
			WHERE HolidayDate = @HolidayDate 
				AND TenantId = @TenantId 
				AND Id != ISNULL(@Id, 0)
		)
		BEGIN
			SELECT 
				CAST(0 AS bit) as success,
				'Holiday Date already exists' as message
			FOR JSON PATH, WITHOUT_ARRAY_WRAPPER
			ROLLBACK TRAN
			RETURN
		END

		-- Check if ObservedDate already exists for another holiday (only if ObservedDate is provided)
		IF @ObservedDate IS NOT NULL AND EXISTS (
			SELECT 1 FROM Holidays 
			WHERE ObservedDate = @ObservedDate 
				AND TenantId = @TenantId 
				AND Id != ISNULL(@Id, 0)
		)
		BEGIN
			SELECT 
				CAST(0 AS bit) as success,
				'Observed Date already exists' as message
			FOR JSON PATH, WITHOUT_ARRAY_WRAPPER
			ROLLBACK TRAN
			RETURN
		END

		-- Check if Holiday exists
		IF EXISTS (SELECT 1 FROM Holidays WHERE Id = @Id AND TenantId = @TenantId)
		BEGIN
			-- Update existing Holiday
			UPDATE Holidays
			SET 
				HolidayCode = @HolidayCode,
				HolidayName = @HolidayName,
				HolidayDate = @HolidayDate,
				ObservedDate = @ObservedDate,
				IsObserved = @IsObserved,
				IsFloating = @IsFloating,
				IsAppliesToAll = @IsAppliesToAll,
				UpdatedBy = @UserId,
				DateUpdated = GETUTCDATE()
			WHERE Id = @Id AND TenantId = @TenantId

			SELECT @Id as id, CAST(1 AS bit) as success, 'Holiday updated successfully' as message
			FOR JSON PATH, WITHOUT_ARRAY_WRAPPER
		END
		ELSE
		BEGIN
			-- Insert new Holiday
			INSERT INTO Holidays (
				TenantId,
				HolidayCode,
				HolidayName,
				HolidayDate,
				ObservedDate,
				IsObserved,
				IsFloating,
				IsAppliesToAll,
				CreatedBy,
				DateCreated
			)
			VALUES (
				@TenantId,
				@HolidayCode,
				@HolidayName,
				@HolidayDate,
				@ObservedDate,
				@IsObserved,
				@IsFloating,
				@IsAppliesToAll,
				@UserId,
				GETUTCDATE()
			)

			SET @Id = SCOPE_IDENTITY()

			SELECT @Id as id, CAST(1 AS bit) as success, 'Holiday created successfully' as message
			FOR JSON PATH, WITHOUT_ARRAY_WRAPPER
		END

		COMMIT TRAN
	END TRY
	BEGIN CATCH
		IF @@TRANCOUNT > 0
			ROLLBACK TRAN
		
		SELECT 
			CAST(0 AS bit) as success,
			ERROR_MESSAGE() as message
		FOR JSON PATH, WITHOUT_ARRAY_WRAPPER
	END CATCH
END


GO
