USE [StaffScheduling_DEV]
GO
/****** Object:  StoredProcedure [dbo].[usp_EmployeeJobCodeAssignment_GetById]    Script Date: 12/15/2025 8:21:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*---------------------=========================================================================================================
CREATED BY			: Ankur
CREATED DATE 		: 18/10/2025
DESCRIPTION			: Get Employee Job Code Assignment by Id
PROCEDURE NAME		: usp_EmployeeJobCodeAssignment_GetById
LAST UPDATED BY 	:
DATE LAST UPDATED 	:
EXEC [usp_EmployeeJobCodeAssignment_GetById] 0, 0
---------------------=========================================================================================================+*/
CREATE   PROCEDURE [dbo].[usp_EmployeeJobCodeAssignment_GetById]
(
    @Id int,
    @TenantId int
)
AS
BEGIN
    SET NOCOUNT ON;

    SELECT
        ejca.Id as id,
        ejca.JobCodeId as jobCodeId,
        ejca.UserId as userId,
        ejca.IsActive as isActive,
        ejca.EffectiveDate as effectiveDate,
        ejca.ExpiryDate as expiryDate,
        ejca.CreatedBy as createdBy,
        ejca.UpdatedBy as updatedBy,
        ejca.DateCreated as dateCreated,
        ejca.DateUpdated as dateUpdated,
        jc.JobCode as jobCode,
        jc.JobTitle as jobTitle,
        jc.Description as jobDescription,
        jc.Category as jobCategory
    FROM EmployeeJobCodeAssignment ejca
    LEFT JOIN JobCodes jc ON ejca.JobCodeId = jc.Id AND jc.TenantId = @TenantId
    WHERE ejca.Id = @Id
        AND ejca.TenantId = @TenantId
        AND ISNULL(ejca.IsActive, 1) = 1
    FOR JSON PATH, WITHOUT_ARRAY_WRAPPER, INCLUDE_NULL_VALUES
END
GO
