USE [TimeManagement_DEV]
GO
/****** Object:  StoredProcedure [dbo].[usp_Shifts_Delete]    Script Date: 11/27/2025 5:17:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
  
-- =============================================  
-- Author:  Ali Nafees 
-- Create date: 10/15/2025  
-- Description: Delete Shift  
-- =============================================  
CREATE   PROCEDURE [dbo].[usp_Shifts_Delete]  
 @ShiftId int,  
 @UserId int,  
 @TenantId int  
AS  
BEGIN  
 SET NOCOUNT ON;  
 BEGIN TRY  
  BEGIN TRAN  
  
  -- Check if Shift exists  
  IF NOT EXISTS (SELECT 1 FROM Shifts WHERE Id = @ShiftId AND TenantId = @TenantId)  
  BEGIN  
   SELECT   
    CAST(0 AS bit) as success,  
    'Shift not found' as message  
   FOR JSON PATH, WITHOUT_ARRAY_WRAPPER  
   ROLLBACK TRAN  
   RETURN  
  END  
  
  -- Delete the Shift  
  Update Shifts set StatusCustomTableValueId = 3, DateDeleted = Getutcdate(), DeletedBy = @UserId  
  WHERE Id = @ShiftId AND TenantId = @TenantId  
  
  SELECT   
   CAST(1 AS bit) as success,  
   'Shift deleted successfully' as message,  
   @ShiftId as deletedId  
  FOR JSON PATH, WITHOUT_ARRAY_WRAPPER  
  
  COMMIT TRAN  
 END TRY  
 BEGIN CATCH  
  IF @@TRANCOUNT > 0  
   ROLLBACK TRAN  
    
  SELECT   
   CAST(0 AS bit) as success,  
   ERROR_MESSAGE() as message  
  FOR JSON PATH, WITHOUT_ARRAY_WRAPPER  
 END CATCH  
END  
GO
