USE [TimeManagement_DEV]
GO
/****** Object:  StoredProcedure [dbo].[usp_WorkCodes_Delete]    Script Date: 11/6/2025 5:11:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		TimeManagement API
-- Create date: 10/15/2025
-- Description:	Delete WorkCode
-- =============================================
CREATE   PROCEDURE [dbo].[usp_WorkCodes_Delete]
	@WorkCodeId int,
	@UserId int,
	@TenantId int
AS
BEGIN
	SET NOCOUNT ON;
	BEGIN TRY
		BEGIN TRAN

		-- Check if WorkCode exists
		IF NOT EXISTS (SELECT 1 FROM WorkCodes WHERE Id = @WorkCodeId AND TenantId = @TenantId)
		BEGIN
			SELECT 
				CAST(0 AS bit) as success,
				'WorkCode not found' as message
			FOR JSON PATH, WITHOUT_ARRAY_WRAPPER
			ROLLBACK TRAN
			RETURN
		END

		-- Delete the WorkCode
		DELETE FROM WorkCodes 
		WHERE Id = @WorkCodeId AND TenantId = @TenantId

		SELECT 
			CAST(1 AS bit) as success,
			'WorkCode deleted successfully' as message,
			@WorkCodeId as deletedId
		FOR JSON PATH, WITHOUT_ARRAY_WRAPPER

		COMMIT TRAN
	END TRY
	BEGIN CATCH
		IF @@TRANCOUNT > 0
			ROLLBACK TRAN
		
		SELECT 
			CAST(0 AS bit) as success,
			ERROR_MESSAGE() as message
		FOR JSON PATH, WITHOUT_ARRAY_WRAPPER
	END CATCH
END
GO
