USE [StaffScheduling_DEV]
GO
/****** Object:  StoredProcedure [dbo].[usp_Shifts_AssignLabel]    Script Date: 1/11/2026 6:47:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
  
/*---------------------=========================================================================================================  
CREATED BY   : Ali Nafees  
CREATED DATE   : 10/31/2025  
DESCRIPTION   : [usp_Shifts_AssignLabel]
LAST UPDATED BY  :  
DATE LAST UPDATED  :   
---------------------=========================================================================================================*/  
CREATE PROCEDURE [dbo].[usp_Shifts_AssignLabel]  
 @ShiftId int,  
 @LabelId int,  
 @UserId int,  
 @TenantId int  
AS  
BEGIN  
 SET NOCOUNT ON;  
 BEGIN TRY  
  BEGIN TRAN  
  
  -- Check if Shift exists  
  IF NOT EXISTS (SELECT 1 FROM Shifts WHERE Id = @ShiftId AND TenantId = @TenantId)  
  BEGIN  
   SELECT   
    CAST(0 AS bit) as success,  
    'Shift not found' as message  
   FOR JSON PATH, WITHOUT_ARRAY_WRAPPER  
   ROLLBACK TRAN  
   RETURN  
  END  
  
  -- Check if Label exists  
  IF NOT EXISTS (SELECT 1 FROM Labels WHERE Id = @LabelId AND TenantId = @TenantId)  
  BEGIN  
   SELECT   
    CAST(0 AS bit) as success,  
    'Label not found' as message  
   FOR JSON PATH, WITHOUT_ARRAY_WRAPPER  
   ROLLBACK TRAN  
   RETURN  
  END  
  
  -- Update the shift with the new label  
  UPDATE Shifts  
  SET   
   ShiftLabelId = @LabelId,  
   UpdatedBy = @UserId,  
   DateUpdated = GETUTCDATE()  
  WHERE Id = @ShiftId AND TenantId = @TenantId  
  
  SELECT   
   CAST(1 AS bit) as success,  
   'Label assigned to shift successfully' as message,  
   @LabelId as labelId  
  FOR JSON PATH, WITHOUT_ARRAY_WRAPPER  
  
  COMMIT TRAN  
 END TRY  
 BEGIN CATCH  
  IF @@TRANCOUNT > 0  
   ROLLBACK TRAN  
    
  SELECT   
   CAST(0 AS bit) as success,  
   ERROR_MESSAGE() as message  
  FOR JSON PATH, WITHOUT_ARRAY_WRAPPER  
 END CATCH  
END  
GO
