USE [TimeManagement_DEV]
GO
/****** Object:  UserDefinedFunction [dbo].[fn_GetShiftData]    Script Date: 12/5/2025 3:12:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================  
-- Author:  Ali Nafees
-- Create date: 10/15/2025  
-- Description: [fn_GetShiftData]
CREATE FUNCTION [dbo].[fn_GetShiftData]
(
    @TenantId INT
)
RETURNS TABLE
AS
RETURN
(
    SELECT 
        s.Id as id,
        s.ShiftName as shiftName,
        s.ShiftCode as shiftCode,
        s.MinimumPositions as minimumPositions,
        s.MaxTimeOffs as maxTimeOffs,
        s.Location as location,
        s.IsWorkShift as isWorkShift,
        s.IsSelfSchedulingEnabled as isSelfSchedulingEnabled,
        s.IsSelfSchedulingRequiresAdminApprovals as isSelfSchedulingRequiresAdminApprovals,
        s.IsHideOpenSlots as isHideOpenSlots,
        s.ShiftLabelId as shiftLabelId,
        l.labelName,
        l.labelCode,
        l.colorCode,
        s.BackgroundColour as backgroundColour,
        s.IsActive as isActive,
        s.CreatedBy as createdBy,
        s.UpdatedBy as updatedBy,
        s.DateCreated as dateCreated,
        s.DateUpdated as dateUpdated,
        s.DisplayOrder as displayOrder,
        s.StatusCustomTableValueId as statusCustomTableValueId,
        ss.id as scheduleId,
        ss.scheduleWithoutTimes,
        ss.startFrom as scheduleStartFrom,
        ss.startTime as scheduleStartTime,
        ss.scheduleType,
        -- ShiftGroupAssignments subquery (existing)
        (
            select 
                a.id,
                a.shiftId,
                a.groupId,
                g.groupName,
                g.colorCode
            from ShiftGroupAssignment a
            inner join Groups g on g.Id = a.groupId and g.isActive = 1
            where 
                    a.ShiftId = s.Id 
                and a.TenantId = @TenantId
            for json path, include_null_values
        ) as shiftGroupAssignments,
        -- *** NEW: WorkCodes subquery ***
        (
            select 
                wc.Id as id,
                wc.WorkCodeName as workCodeName,
                wc.WorkCode as workCode,
                wc.ColorCode as colorCode,
                wc.IsActive as isActive
            from ShiftWorkCodeAssignment swca
            inner join WorkCodes wc on wc.Id = swca.WorkCodeId and wc.IsActive = 1
            where 
                    swca.ShiftId = s.Id 
                and swca.TenantId = @TenantId
            for json path, include_null_values
        ) as workCodes,
        -- *** NEW: JobCodes subquery ***
        (
            select 
                jc.Id as id,
                jc.JobTitle as jobTitle,
                jc.JobCode as jobCode,
                jc.IsActive as isActive
            from ShiftJobCodeAssignment sjca
            inner join JobCodes jc on jc.Id = sjca.JobCodeId and jc.IsActive = 1
            where 
                    sjca.ShiftId = s.Id 
                and sjca.TenantId = @TenantId
            for json path, include_null_values
        ) as jobCodes
        -- *** END NEW ***
    FROM Shifts s
    Left Join Labels l on l.id = s.ShiftLabelId
    LEFT JOIN Schedules ss on ss.SourceId = s.Id and ss.SourceType = 1
        and ss.ScheduleName not like '%Availability%'
    WHERE s.TenantId = @TenantId
)
GO
