USE [StaffScheduling_DEV]
GO
/****** Object:  StoredProcedure [dbo].[usp_ErrorLogger_LogErrorToDatabase]    Script Date: 3/13/2026 4:26:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*---------------------=========================================================================================================
CREATED BY			: Anil
CREATED DATE 		: 09/01/2021
DESCRIPTION			: Save error to database
LAST UPDATED BY 	:
DATE LAST UPDATED 	:
EXEC [usp_ErrorLogger_LogErrorToDatabase] 
---------------------=========================================================================================================+*/

CREATE   PROCEDURE [dbo].[usp_ErrorLogger_LogErrorToDatabase] (@Json nvarchar(MAX))
AS
SET NOCOUNT ON;
BEGIN
	DECLARE @Success int = 0
	DECLARE @ErrorLoggerID int = 0

	BEGIN TRY

		BEGIN TRAN
			INSERT INTO ErrorLogger
			(
				[LogLevel],[Data],[ExceptionMessage],[StackTrace],[IsInnerException],[EventId],[EventName],[ParentId],
				[InnerExceptionLevel],[Environment],[UserAgent],[CreatedBy],[DateCreated],[TenantID],[IPAddress]

			)
			SELECT
				[LogLevel],[Data],[ExceptionMessage],[StackTrace],[IsInnerException],[EventId],[EventName],[ParentId],
				[InnerExceptionLevel],[Environment],[UserAgent],[CreatedBy],[DateCreated],[TenantID],[IPAddress]
			FROM
				OPENJSON(@Json)
			WITH (
				[logLevel] [nvarchar](50),
				[data] [nvarchar](max),
				[exceptionMessage] [nvarchar](4000),
				[stackTrace] [nvarchar](4000),
				[isInnerException] [bit],
				[eventId] [int],
				[eventName] [nvarchar](300),
				[parentId] [int],
				[innerExceptionLevel] [int],
				[environment] [nvarchar](50),
				[userAgent] [nvarchar](4000),
				[createdBy] [int],
				[dateCreated] [datetimeoffset](7),
				[tenantID] int,
				[ipAddress] [nvarchar](100)
			)
			WHERE [isInnerException] = 0
		
			SET @ErrorLoggerID = SCOPE_IDENTITY()
		
		
			INSERT INTO ErrorLogger
			(
				[LogLevel],[Data],[ExceptionMessage],[StackTrace],[IsInnerException],[EventId],[EventName],[ParentId],
				[InnerExceptionLevel],[Environment],[UserAgent],[CreatedBy],[DateCreated],[TenantID],[IPAddress]

			)
			SELECT
				[LogLevel],[Data],[ExceptionMessage],[StackTrace],[IsInnerException],[EventId],[EventName],@ErrorLoggerID,
				[InnerExceptionLevel],[Environment],[UserAgent],[CreatedBy],[DateCreated],[TenantID],[IPAddress]
			FROM
				OPENJSON(@Json)
			WITH (
				[logLevel] [nvarchar](50),
				[data] [nvarchar](max),
				[exceptionMessage] [nvarchar](4000),
				[stackTrace] [nvarchar](4000),
				[isInnerException] [bit],
				[eventId] [int],
				[eventName] [nvarchar](300),
				[innerExceptionLevel] [int],
				[environment] [nvarchar](50),
				[userAgent] [nvarchar](4000),
				[createdBy] [int],
				[dateCreated] [datetimeoffset](7),
				[tenantID] int,
				[ipAddress] [nvarchar](100)
			)
			WHERE [isInnerException] = 1
		
		COMMIT TRAN
		SET @Success = 1
		
	END TRY

	BEGIN CATCH  
		IF @@TRANCOUNT > 0
			ROLLBACK TRAN
		SET @Success = -1  
	END CATCH  
	SELECT @Success	
END
GO
