USE [StaffScheduling_DEV]
GO
/****** Object:  StoredProcedure [dbo].[usp_ShiftTrades_ApproveTradeRequest]    Script Date: 3/13/2026 4:26:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:      Ali Nafees
-- Create date: 2025-12-19
-- Description: Approve a shift trade request (set StatusCustomTableValueId to 2)
-- =============================================

CREATE   PROCEDURE [dbo].[usp_ShiftTrades_ApproveTradeRequest]
    @TradeRequestId INT,
    @TenantId INT
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRY
        BEGIN TRANSACTION;

        -- Validate that the trade request exists and belongs to the tenant
        IF NOT EXISTS (SELECT 1 FROM [dbo].[ShiftTrades] WHERE Id = @TradeRequestId AND TenantId = @TenantId)
        BEGIN
            SELECT 
                success = CAST(0 AS BIT),
                message = 'Trade request not found or does not belong to this tenant.'
            FOR JSON PATH, WITHOUT_ARRAY_WRAPPER;
            RETURN;
        END

        -- Update the trade request status to Approved (2)
        UPDATE [dbo].[ShiftTrades]
        SET StatusCustomTableValueId = 2,
            ApprovedAt = SYSUTCDATETIME(),
            DateUpdated = SYSUTCDATETIME()
        WHERE Id = @TradeRequestId
            AND TenantId = @TenantId;

        COMMIT TRANSACTION;

        -- Return success response
        SELECT 
            success = CAST(1 AS BIT),
            message = 'Trade request approved successfully'
        FOR JSON PATH, WITHOUT_ARRAY_WRAPPER;

    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0
            ROLLBACK TRANSACTION;

        DECLARE @ErrorMessage NVARCHAR(4000) = ERROR_MESSAGE();
        
        SELECT 
            success = CAST(0 AS BIT),
            message = @ErrorMessage
        FOR JSON PATH, WITHOUT_ARRAY_WRAPPER;
    END CATCH
END
GO
