USE [TimeManagement_DEV]
GO
/****** Object:  StoredProcedure [dbo].[usp_Shifts_Get]    Script Date: 12/5/2025 3:12:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================  
-- Author:  Ali Nafees 
-- Create date: 10/15/2025  
-- Description: [usp_Shifts_Get]
-- =============================================  
CREATE PROCEDURE [dbo].[usp_Shifts_Get]
	@ShiftId int = NULL,
	@TenantId int,
	@PageNumber int = 1,
	@PageSize int = 10,
	@SortColumn varchar(50) = 'DisplayOrder',
	@SortDirection varchar(4) = 'ASC',
	@SearchTerm varchar(255) = NULL,
	@StatusCustomTableValueId int = NULL
AS
BEGIN
	SET NOCOUNT ON;

	DECLARE @Offset int = (@PageNumber - 1) * @PageSize;

	IF(@StatusCustomTableValueId IS NULL)
	BEGIN
		SET @StatusCustomTableValueId = 1;
	END

	;WITH _rows AS (
		SELECT *
		FROM [dbo].[fn_GetShiftData](@TenantId)
		WHERE (@ShiftId IS NULL OR id = @ShiftId)
			AND (
				@SearchTerm IS NULL OR 
				shiftName LIKE '%' + @SearchTerm + '%' OR 
				shiftCode LIKE '%' + @SearchTerm + '%' OR
				location LIKE '%' + @SearchTerm + '%'
			)
			AND statusCustomTableValueId = @StatusCustomTableValueId
	)
	SELECT 
		_rows.id,
		_rows.shiftName,
		_rows.shiftCode,
		_rows.minimumPositions,
		_rows.maxTimeOffs,
		_rows.location,
		_rows.isWorkShift,
		_rows.isSelfSchedulingEnabled,
		_rows.isSelfSchedulingRequiresAdminApprovals,
		_rows.isHideOpenSlots,
		_rows.shiftLabelId,
		_rows.backgroundColour,
		_rows.isActive,
		_rows.createdBy,
		_rows.updatedBy,
		_rows.dateCreated,
		_rows.dateUpdated,
		_rows.displayOrder,
		(SELECT count(_rows.id) from _rows) as totalCount,
		_rows.scheduleWithoutTimes,
		_rows.scheduleStartFrom,
		_rows.scheduleStartTime,
		_rows.scheduleType,
		-- *** NEW: Added these three columns ***
		_rows.shiftGroupAssignments,
		_rows.workCodes,
		_rows.jobCodes
		-- *** END NEW ***
	FROM _rows
	ORDER BY 
		CASE WHEN @SortColumn = 'ShiftName' AND @SortDirection = 'ASC' THEN _rows.shiftName END ASC,
		CASE WHEN @SortColumn = 'ShiftName' AND @SortDirection = 'DESC' THEN _rows.shiftName END DESC,
		CASE WHEN @SortColumn = 'ShiftCode' AND @SortDirection = 'ASC' THEN _rows.shiftCode END ASC,
		CASE WHEN @SortColumn = 'ShiftCode' AND @SortDirection = 'DESC' THEN _rows.shiftCode END DESC,
		CASE WHEN @SortColumn = 'Location' AND @SortDirection = 'ASC' THEN _rows.location END ASC,
		CASE WHEN @SortColumn = 'Location' AND @SortDirection = 'DESC' THEN _rows.location END DESC,
		CASE WHEN @SortColumn = 'DisplayOrder' AND @SortDirection = 'ASC' THEN _rows.displayOrder END ASC,
		CASE WHEN @SortColumn = 'DisplayOrder' AND @SortDirection = 'DESC' THEN _rows.displayOrder END DESC,
		_rows.displayOrder ASC
	OFFSET @Offset ROWS
	FETCH NEXT @PageSize ROWS ONLY
	FOR JSON PATH, INCLUDE_NULL_VALUES
END
GO
