USE [TimeManagement_DEV]
GO
/****** Object:  StoredProcedure [dbo].[usp_AssistantQualifiers_Save]    Script Date: 11/20/2025 4:43:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[usp_AssistantQualifiers_Save]
    @Json NVARCHAR(MAX),
    @UserId INT,
    @TenantId INT
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRY
        DECLARE @Id INT;
        DECLARE @Name VARCHAR(100);
        DECLARE @Code VARCHAR(55);
        DECLARE @Description NVARCHAR(MAX);
        DECLARE @BackgroundColor VARCHAR(7);
        DECLARE @TextColor VARCHAR(7);
        DECLARE @IsActive BIT;

        -- Parse JSON
        SELECT 
            @Id = Id,
            @Name = Name,
            @Code = Code,
            @Description = Description,
            @BackgroundColor = BackgroundColor,
            @TextColor = TextColor,
            @IsActive = ISNULL(IsActive, 1)
        FROM OPENJSON(@Json)
        WITH (
            id INT,
            name VARCHAR(100),
            code VARCHAR(55),
            description NVARCHAR(MAX),
            backgroundColor VARCHAR(7),
            textColor VARCHAR(7),
            isActive BIT
        );

        -- Validate required fields (BEFORE starting transaction)
        IF @Name IS NULL OR LTRIM(RTRIM(@Name)) = ''
        BEGIN
            SELECT
                CAST(0 AS BIT) AS success,
                'Name is required.' AS message
            FOR JSON PATH, WITHOUT_ARRAY_WRAPPER;
            RETURN;
        END

        IF @Code IS NULL OR LTRIM(RTRIM(@Code)) = ''
        BEGIN
            SELECT
                CAST(0 AS BIT) AS success,
                'Code is required.' AS message
            FOR JSON PATH, WITHOUT_ARRAY_WRAPPER;
            RETURN;
        END

        -- Check for duplicate name (excluding current record if updating)
        IF EXISTS (
            SELECT 1 
            FROM AssisstantQualifiers 
            WHERE Name = @Name 
                AND TenantId = @TenantId 
                AND (@Id IS NULL OR Id != @Id)
        )
        BEGIN
            SELECT
                CAST(0 AS BIT) AS success,
                'An assistant qualifier with this name already exists.' AS message
            FOR JSON PATH, WITHOUT_ARRAY_WRAPPER;
            RETURN;
        END

        -- Check for duplicate code (excluding current record if updating)
        IF EXISTS (
            SELECT 1 
            FROM AssisstantQualifiers 
            WHERE Code = @Code 
                AND TenantId = @TenantId 
                AND (@Id IS NULL OR Id != @Id)
        )
        BEGIN
            SELECT
                CAST(0 AS BIT) AS success,
                'An assistant qualifier with this code already exists.' AS message
            FOR JSON PATH, WITHOUT_ARRAY_WRAPPER;
            RETURN;
        END

        -- All validations passed, now start transaction
        BEGIN TRANSACTION;

        -- Insert or Update
        IF @Id IS NULL OR @Id = 0
        BEGIN
            -- Insert new qualifier
            INSERT INTO AssisstantQualifiers (TenantId, Name, Code, Description, BackgroundColor, TextColor, IsActive, CreatedBy, DateCreated)
            VALUES (@TenantId, @Name, @Code, @Description, @BackgroundColor, @TextColor, @IsActive, @UserId, SYSDATETIMEOFFSET());

            SET @Id = SCOPE_IDENTITY();
        END
        ELSE
        BEGIN
            -- Update existing qualifier
            UPDATE AssisstantQualifiers
            SET 
                Name = @Name,
                Code = @Code,
                Description = @Description,
                BackgroundColor = @BackgroundColor,
                TextColor = @TextColor,
                IsActive = @IsActive,
                UpdatedBy = @UserId,
                DateUpdated = SYSDATETIMEOFFSET()
            WHERE Id = @Id AND TenantId = @TenantId;

            IF @@ROWCOUNT = 0
            BEGIN
                ROLLBACK TRANSACTION;
                SELECT
                    CAST(0 AS BIT) AS success,
                    'Assistant qualifier not found or unauthorized.' AS message
                FOR JSON PATH, WITHOUT_ARRAY_WRAPPER;
                RETURN;
            END
        END

        COMMIT TRANSACTION;

        -- Return success with the qualifier Id
        SELECT
            @Id AS id,
            CAST(1 AS BIT) AS success,
            'Assistant qualifier saved successfully.' AS message
        FOR JSON PATH, WITHOUT_ARRAY_WRAPPER;

    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0
            ROLLBACK TRANSACTION;

        -- Return error
        SELECT
            CAST(0 AS BIT) AS success,
            ERROR_MESSAGE() AS message
        FOR JSON PATH, WITHOUT_ARRAY_WRAPPER;
    END CATCH
END
GO
