USE [TimeManagement_DEV]
GO
/****** Object:  StoredProcedure [dbo].[Sp_SaveDbOperationsAnalytics]    Script Date: 12/8/2025 4:11:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		Ali Nafees
-- Create date: 8/30/2023
-- Description:	This is used to save the logging of query db operations going on
-- =============================================
CREATE   PROCEDURE [dbo].[Sp_SaveDbOperationsAnalytics] 
	@Json varchar(max)
AS
BEGIN
	INSERT INTO DbOperationsAnalytics(StoredProcedureName,TimeSpent,Query,ProcParams,AdditionalQuery,Project,StartedOn,FinishedOn,UserId,RoleId,TenantId,
	IsWindowService)
	SELECT StoredProcedureName,TimeSpent,Query,ProcParams,AdditionalQuery,Project,StartedOn,FinishedOn,UserId,RoleId,TenantId,IsWindowService 
	FROM OPENJSON(@Json) WITH (
		 StoredProcedureName nvarchar(500)
		,TimeSpent time(7)
		,Query nvarchar(MAX)
		,ProcParams nvarchar(MAX)
		,AdditionalQuery nvarchar(MAX)
		,Project nvarchar(MAX)
		,StartedOn datetimeOFFSET(7)
		,FinishedOn datetimeOFFSET(7)
		,UserId int
		,RoleId int
		,TenantId int
		,IsWindowService bit
	) J
	select cast(1 AS bit) Success
END
GO
