USE [StaffScheduling_DEV]
GO
/****** Object:  StoredProcedure [dbo].[usp_TradeBoardSettings_GetList]    Script Date: 12/15/2025 8:21:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*==================================================================================
CREATED BY            : Ankur
CREATED DATE          : 03/11/2025
DESCRIPTION           : Get Trade Board Settings (Single record per tenant)
LAST UPDATED BY       : Ankur
DATE LAST UPDATED     : 05/11/2025
CHANGE DESCRIPTION    : Modified to return single record or default values if not exists

EXEC [usp_TradeBoardSettings_GetList] 1, 1
==================================================================================*/

CREATE PROCEDURE [dbo].[usp_TradeBoardSettings_GetList]
(
    @TenantId INT,
    @UserId INT
)
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @SettingsId INT;
    DECLARE @ResultJson NVARCHAR(MAX);

    -- Check if settings exist for this tenant (regardless of IsActive status)
    SELECT @SettingsId = Id
    FROM TradeBoardSettings
    WHERE TenantId = @TenantId;

    -- If settings exist, return them
    IF @SettingsId IS NOT NULL
    BEGIN
        SELECT @ResultJson = (
            SELECT
                tbs.Id as id,
                tbs.TenantId as tenantId,
                tbs.SettingsName as settingsName,
                ISNULL(tbs.IsLimitTradesToMatchingLists, 0) as isLimitTradesToMatchingLists,
                ISNULL(tbs.IsOnlyAllowDirectTrades, 0) as isOnlyAllowDirectTrades,
                ISNULL(tbs.IsRequireApprovalBeforeSent, 0) as isRequireApprovalBeforeSent,
                ISNULL(tbs.IsRequireApprovalAfterAccepted, 0) as isRequireApprovalAfterAccepted,
                ISNULL(tbs.IsRequireSecondApproval, 0) as isRequireSecondApproval,
                ISNULL(tbs.IsApprovingUsersSeeOnlyTheirRequests, 0) as isApprovingUsersSeeOnlyTheirRequests,
                ISNULL(tbs.IsEnableShiftSwapFeature, 0) as isEnableShiftSwapFeature,
                ISNULL(tbs.IsColorCodeTradedShifts, 0) as isColorCodeTradedShifts,
                ISNULL(tbs.TradedShiftColorCode, '#FF5733') as tradedShiftColorCode,
                ISNULL(tbs.IsRequireManualLedgerApproval, 0) as isRequireManualLedgerApproval,
                ISNULL(tbs.IsUserSelectsApproval, 0) as isUserSelectsApproval,
                ISNULL(tbs.IsActive, 1) as isActive,
                tbs.CreatedBy as createdBy,
                tbs.UpdatedBy as updatedBy,
                tbs.DateCreated as dateCreated,
                tbs.DateUpdated as dateUpdated,
                (
                    SELECT
                        tbr.Id as id,
                        tbr.TenantId as tenantId,
                        tbr.TradeBoardSettingsId as tradeBoardSettingsId,
                        tbr.JobCodeId as jobCodeId,
                        jc.JobTitle as jobTitle,
                        tbr.RuleName as ruleName,
                        tbr.RuleDescription as ruleDescription,
                        ISNULL(tbr.IsActive, 1) as isActive,
                        tbr.CreatedBy as createdBy,
                        tbr.UpdatedBy as updatedBy,
                        tbr.DateCreated as dateCreated,
                        tbr.DateUpdated as dateUpdated
                    FROM TradeBoardListRules tbr
                    LEFT JOIN JobCodes jc ON tbr.JobCodeId = jc.Id AND jc.TenantId = @TenantId
                    WHERE tbr.TradeBoardSettingsId = tbs.Id
                        AND tbr.TenantId = @TenantId
                        AND ISNULL(tbr.IsActive, 1) = 1
                    FOR JSON PATH
                ) as rules
            FROM TradeBoardSettings tbs
            WHERE tbs.Id = @SettingsId
                AND tbs.TenantId = @TenantId
            FOR JSON PATH, WITHOUT_ARRAY_WRAPPER
        );
    END

    -- Return the result (NULL if no settings exist)
    SELECT @ResultJson as result;

END
GO
