USE [TimeManagement_DEV]
GO
/****** Object:  StoredProcedure [dbo].[usp_WorkCodes_Get]    Script Date: 12/10/2025 12:21:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================  
-- Author:  Ali Nafees
-- Create date: 10/15/2025  
-- Description: Get WorkCodes  
-- =============================================  
CREATE   PROCEDURE [dbo].[usp_WorkCodes_Get]  
 @WorkCodeId int = NULL,  
 @TenantId int  
AS  
BEGIN  
 SET NOCOUNT ON;  
  
 SELECT   
  w.Id as id,  
  w.WorkCode as workCode,  
  w.WorkCodeName as workCodeName,  
  w.Description as description,  
  w.Category as category,  
  w.ColorCode as colorCode,  
  w.TextColor as textColor,  
  w.PayMultiplier as payMultiplier,  
  w.PayRate as payRate,  
  w.IsDefault as isDefault,  
  w.DisplayOrder as displayOrder,  
  w.IsCountsTowardWeeklyLimit as isCountsTowardWeeklyLimit,  
  w.IsCountsTowardMonthlyLimit as isCountsTowardMonthlyLimit,  
  w.IsIncludeInCallbackRankings as isIncludeInCallbackRankings,  
  w.IsExcludesFromCallbacks as isExcludesFromCallbacks,  
  w.IsTradeable as isTradeable,  
  w.MinTimeBufferHours as minTimeBufferHours,  
  w.MaxTimeBufferHours as maxTimeBufferHours,  
  w.ExclusionRuleHours as exclusionRuleHours,  
  w.LimitPerEmployeePerYear as limitPerEmployeePerYear,  
  w.IsRequestable as isRequestable,  
  w.IsMasked as isMasked,  
  w.IsActive as isActive,  
  w.CreatedBy as createdBy,  
  w.UpdatedBy as updatedBy,  
  w.DateCreated as dateCreated,  
  w.DateUpdated as dateUpdated  
 FROM WorkCodes w  
 WHERE w.TenantId = @TenantId  
  AND (@WorkCodeId IS NULL OR w.Id = @WorkCodeId)  
 ORDER BY w.DisplayOrder, w.WorkCodeName  
 FOR JSON PATH, INCLUDE_NULL_VALUES  
END  
GO
