USE [TimeManagement_DEV]
GO
/****** Object:  StoredProcedure [dbo].[usp_Shifts_GetSchedulingShifts]    Script Date: 11/7/2025 11:19:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- 3. UPDATE PROCEDURE: usp_Shifts_GetSchedulingShifts
-- =============================================
-- Add a. prefix to shiftGroupAssignments and add workCodes, jobCodes
-- =============================================

CREATE PROCEDURE [dbo].[usp_Shifts_GetSchedulingShifts]
(
    @TenantId INT
)
AS
BEGIN
    SET NOCOUNT ON;

    SELECT distinct
        a.id,
        a.shiftName,
        a.shiftCode,
        a.minimumPositions,
        a.maxTimeOffs,
        a.location,
        a.isWorkShift,
        a.isSelfSchedulingEnabled,
        a.isSelfSchedulingRequiresAdminApprovals,
        a.isHideOpenSlots,
        a.shiftLabelId,
        a.labelName,
        a.labelCode,
        a.colorCode,
        a.backgroundColour,
        a.isActive,
        a.createdBy,
        a.updatedBy,
        a.dateCreated,
        a.dateUpdated,
        a.displayOrder,
        a.statusCustomTableValueId,
        -- *** UPDATED: Added a. prefix and new columns ***
        a.shiftGroupAssignments,
        a.workCodes,
        a.jobCodes
        -- *** END NEW ***
    FROM dbo.fn_GetShiftData(@TenantId) a
    for json path, include_null_values
END
GO
