USE [TimeManagement_DEV]
GO
/****** Object:  StoredProcedure [dbo].[usp_Labels_GetShortList]    Script Date: 12/10/2025 12:21:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================  
-- Author:  Ali Nafees
-- Create date: 10/9/2025  
-- Description: [usp_Labels_GetShortList]
-- =============================================    
CREATE PROCEDURE [dbo].[usp_Labels_GetShortList]  
    @TenantId INT  
AS  
BEGIN  
    SET NOCOUNT ON;  
  
    BEGIN TRY  
        SELECT  
            l.id,  
            l.labelName,  
            l.labelCode,  
            l.colorCode,  
            l.iconCode,  
            l.isActive  
        FROM Labels l  
        WHERE l.TenantId = @TenantId  
            AND l.IsActive = 1  
        ORDER BY l.LabelName ASC  
        FOR JSON PATH;  
  
    END TRY  
    BEGIN CATCH  
        -- Return error as JSON  
        SELECT  
            cast(0 as bit) AS success,  
            ERROR_MESSAGE() AS Message  
        FOR JSON PATH, WITHOUT_ARRAY_WRAPPER;  
    END CATCH  
END  
GO
