USE [StaffScheduling_DEV]
GO
/****** Object:  StoredProcedure [dbo].[usp_Labels_Save]    Script Date: 3/13/2026 4:26:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================  
-- Author:  Ali Nafees
-- Create date: 10/9/2025  
-- Description: [usp_Labels_Save]
-- =============================================    
CREATE PROCEDURE [dbo].[usp_Labels_Save]  
    @Json NVARCHAR(MAX),  
    @UserId INT,  
    @TenantId INT  
AS  
BEGIN  
    SET NOCOUNT ON;  
  
    BEGIN TRY  
        DECLARE @Id INT;  
        DECLARE @LabelName VARCHAR(100);  
        DECLARE @LabelCode VARCHAR(55);  
        DECLARE @Description NVARCHAR(MAX);  
        DECLARE @ColorCode VARCHAR(7);  
        DECLARE @IconCode VARCHAR(55);  
        DECLARE @IsActive BIT;  
  
        -- Parse JSON  
        SELECT   
            @Id = Id,  
            @LabelName = LabelName,  
            @LabelCode = LabelCode,  
            @Description = Description,  
            @ColorCode = ColorCode,  
            @IconCode = IconCode,  
            @IsActive = ISNULL(IsActive, 1)  
        FROM OPENJSON(@Json)  
        WITH (  
            id INT,  
            labelName VARCHAR(100),  
            labelCode VARCHAR(55),  
            description NVARCHAR(MAX),  
            colorCode VARCHAR(7),  
            iconCode VARCHAR(55),  
            isActive BIT  
        );  
  
        -- Validate required fields (BEFORE starting transaction)  
        IF @LabelName IS NULL OR LTRIM(RTRIM(@LabelName)) = ''  
        BEGIN  
            SELECT  
                CAST(0 AS BIT) AS success,  
                'Label name is required.' AS message  
            FOR JSON PATH, WITHOUT_ARRAY_WRAPPER;  
            RETURN;  
        END  
  
        IF @LabelCode IS NULL OR LTRIM(RTRIM(@LabelCode)) = ''  
        BEGIN  
            SELECT  
                CAST(0 AS BIT) AS success,  
                'Label code is required.' AS message  
            FOR JSON PATH, WITHOUT_ARRAY_WRAPPER;  
            RETURN;  
        END  
  
        -- Check for duplicate label name (excluding current record if updating)  
        IF EXISTS (  
            SELECT 1   
            FROM Labels   
            WHERE LabelName = @LabelName   
                AND TenantId = @TenantId   
                AND (@Id IS NULL OR Id != @Id)  
        )  
        BEGIN  
            SELECT  
                CAST(0 AS BIT) AS success,  
                'A label with this name already exists.' AS message  
            FOR JSON PATH, WITHOUT_ARRAY_WRAPPER;  
            RETURN;  
        END  
  
        -- Check for duplicate label code (excluding current record if updating)  
        IF EXISTS (  
            SELECT 1   
            FROM Labels   
            WHERE LabelCode = @LabelCode   
                AND TenantId = @TenantId   
                AND (@Id IS NULL OR Id != @Id)  
        )  
        BEGIN  
            SELECT  
                CAST(0 AS BIT) AS success,  
                'A label with this code already exists.' AS message  
            FOR JSON PATH, WITHOUT_ARRAY_WRAPPER;  
            RETURN;  
        END  
  
        -- All validations passed, now start transaction  
        BEGIN TRANSACTION;  
  
        -- Insert or Update  
        IF @Id IS NULL OR @Id = 0  
        BEGIN  
            -- Insert new label  
            INSERT INTO Labels (TenantId, LabelName, LabelCode, Description, ColorCode, IconCode, IsActive, CreatedBy, DateCreated)  
            VALUES (@TenantId, @LabelName, @LabelCode, @Description, @ColorCode, @IconCode, @IsActive, @UserId, SYSUTCDATETIME());  
  
            SET @Id = SCOPE_IDENTITY();  
        END  
        ELSE  
        BEGIN  
            -- Update existing label  
            UPDATE Labels  
            SET   
                LabelName = @LabelName,  
                LabelCode = @LabelCode,  
                Description = @Description,  
                ColorCode = @ColorCode,  
                IconCode = @IconCode,  
                IsActive = @IsActive,  
                UpdatedBy = @UserId,  
                DateUpdated = SYSUTCDATETIME()  
            WHERE Id = @Id AND TenantId = @TenantId;  
  
            IF @@ROWCOUNT = 0  
            BEGIN  
                ROLLBACK TRANSACTION;  
                SELECT  
                    CAST(0 AS BIT) AS success,  
                    'Label not found or unauthorized.' AS message  
                FOR JSON PATH, WITHOUT_ARRAY_WRAPPER;  
                RETURN;  
            END  
        END  
  
        COMMIT TRANSACTION;  
  
        -- Return success with the label Id  
        SELECT  
            @Id AS id,  
            CAST(1 AS BIT) AS success,  
            'Label saved successfully.' AS message  
        FOR JSON PATH, WITHOUT_ARRAY_WRAPPER;  
  
    END TRY  
    BEGIN CATCH  
        IF @@TRANCOUNT > 0  
            ROLLBACK TRANSACTION;  
  
        -- Return error  
        SELECT  
            CAST(0 AS BIT) AS success,  
            ERROR_MESSAGE() AS message  
        FOR JSON PATH, WITHOUT_ARRAY_WRAPPER;  
    END CATCH  
END  
GO
