USE [TimeManagement_DEV]
GO
/****** Object:  StoredProcedure [dbo].[Sp_SearchInsideStoredProcedures]    Script Date: 11/19/2025 4:30:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Ali Nafees
-- Create date: 11/17/2023
-- Description:	To search text inside stored procedures
-- =============================================
CREATE   PROCEDURE [dbo].[Sp_SearchInsideStoredProcedures] --'ResidentDiagnosis' 
	@string AS NVARCHAR(500)
AS
BEGIN
	SELECT	DISTINCT
			o.name AS Object_Name,
			o.type_desc
	FROM	sys.sql_modules m
			INNER JOIN sys.objects o ON m.object_id = o.object_id
	WHERE	m.definition Like '%'+@string+'%' ESCAPE '\'
END
GO
