USE [TimeManagement_DEV]
GO
/****** Object:  StoredProcedure [dbo].[usp_AccrualTypes_Delete]    Script Date: 12/1/2025 9:59:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:      Ali Nafees
-- Create date: 11/14/2025
-- Description: Delete Accrual Type
-- =============================================
CREATE   PROCEDURE [dbo].[usp_AccrualTypes_Delete]
    @AccrualTypeId INT,
    @UserId INT,
    @TenantId INT
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRY
        DELETE FROM AccrualTypes
        WHERE Id = @AccrualTypeId
          AND TenantId = @TenantId;

        IF @@ROWCOUNT = 0
        BEGIN
            SELECT
                CAST(0 AS BIT) AS success,
                'Accrual type not found.' AS message
            FOR JSON PATH, WITHOUT_ARRAY_WRAPPER;
            RETURN;
        END

        SELECT
            CAST(1 AS BIT) AS success,
            'Accrual type deleted successfully.' AS message
        FOR JSON PATH, WITHOUT_ARRAY_WRAPPER;
    END TRY
    BEGIN CATCH
        SELECT
            CAST(0 AS BIT) AS success,
            ERROR_MESSAGE() AS message
        FOR JSON PATH, WITHOUT_ARRAY_WRAPPER;
    END CATCH
END
GO
