USE [StaffScheduling_DEV]
GO
/****** Object:  StoredProcedure [dbo].[usp_AssistantQualifiers_GetShortList]    Script Date: 12/22/2025 7:30:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================  
-- Author:      Ali Nafees  
-- Create date: 11/14/2025  
-- Description: Insert/Update Accrual Rules  
-- =============================================   
CREATE PROCEDURE [dbo].[usp_AssistantQualifiers_GetShortList]  
    @TenantId INT  
AS  
BEGIN  
    SET NOCOUNT ON;  
  
    BEGIN TRY  
        SELECT  
            aq.id,  
            aq.name,  
            aq.code,  
            aq.backgroundColor,  
            aq.textColor,  
            aq.isActive  
        FROM AssisstantQualifiers aq  
        WHERE aq.TenantId = @TenantId  
            AND ISNULL(aq.IsActive, 1) = 1  
        ORDER BY aq.Name ASC  
        FOR JSON PATH;  
  
    END TRY  
    BEGIN CATCH  
        -- Return error as JSON  
        SELECT  
            CAST(0 AS BIT) AS Success,  
            ERROR_MESSAGE() AS Message  
        FOR JSON PATH, WITHOUT_ARRAY_WRAPPER;  
    END CATCH  
END  
GO
