USE [TimeManagement_DEV]
GO
/****** Object:  StoredProcedure [dbo].[usp_HolidayAssignment_Get]    Script Date: 11/7/2025 11:19:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*---------------------=========================================================================================================
CREATED BY			: TimeManagement API
CREATED DATE 		: 10/9/2025
DESCRIPTION			: Get Holiday Assignment List with filters and paging
LAST UPDATED BY 	:
DATE LAST UPDATED 	:
EXEC [usp_HolidayAssignment_Get] 0, 10, '1,2,3', 1, 1, 'Christmas', 'both', 1
---------------------=========================================================================================================+*/
CREATE   PROCEDURE [dbo].[usp_HolidayAssignment_Get]
(
    @OffSet int,
    @Limit int,
    @HolidayIds nvarchar(max),
    @JobCodeId int,
    @UserId int,
    @SearchStr nvarchar(max),
    @AssignmentBy nvarchar(50),
    @TenantId int
)
AS
BEGIN
    IF(ISNULL(@HolidayIds, '') = '')
    BEGIN
        SET @HolidayIds = '0'
    END
    
    IF(ISNULL(@JobCodeId, 0) = 0)
    BEGIN
        SET @JobCodeId = 0
    END
    
    IF(ISNULL(@UserId, 0) = 0)
    BEGIN
        SET @UserId = 0
    END
    
    IF(ISNULL(@SearchStr, '') = '')
    BEGIN
        SET @SearchStr = ''
    END
    
    IF(ISNULL(@AssignmentBy, '') = '')
    BEGIN
        SET @AssignmentBy = ''
    END
    
    ;WITH _rows AS (
        SELECT 
            ha.Id as id,
            ha.HolidayId as holidayId,
            ha.JobCodeId as jobCodeId,
            ha.UserId as userId,
            ha.EffectiveDate as effectiveDate,
            ha.ExpiryDate as expiryDate,
            ha.CreatedBy as createdBy,
            ha.UpdatedBy as updatedBy,
            ha.DateCreated as dateCreated,
            ha.DateUpdated as dateUpdated,
            h.HolidayCode as holidayCode,
            h.HolidayName as holidayName,
            h.HolidayDate as holidayDate,
            h.IsObserved as holidayIsObserved,
            h.IsFloating as holidayIsFloating,
            h.IsAppliesToAll as holidayIsAppliesToAll,
            jc.JobCode as jobCode,
            jc.JobTitle as jobTitle,
            jc.Description as jobDescription,
            jc.Category as jobCategory,
            ISNULL(ha.DateUpdated, ha.DateCreated) as sortingDate
        FROM HolidayAssignment ha
        LEFT JOIN Holidays h ON ha.HolidayId = h.Id AND h.TenantId = @TenantId
        LEFT JOIN JobCodes jc ON ha.JobCodeId = jc.Id AND jc.TenantId = @TenantId
        WHERE ha.TenantId = @TenantId
            AND (@HolidayIds = '0' OR ha.HolidayId IN (SELECT value FROM STRING_SPLIT(@HolidayIds, ',')))
            AND (@JobCodeId = 0 OR ha.JobCodeId = @JobCodeId)
            AND (@UserId = 0 OR ha.UserId = @UserId)
			AND ISNULL(ha.IsDeleted, 0) = 0
            AND (
                @SearchStr = '' 
                OR h.HolidayName LIKE '%' + @SearchStr + '%'
                OR h.HolidayCode LIKE '%' + @SearchStr + '%'
                --OR jc.JobCode LIKE '%' + @SearchStr + '%'
                --OR jc.JobTitle LIKE '%' + @SearchStr + '%'
                --OR jc.Description LIKE '%' + @SearchStr + '%'
            )
            AND (
                @AssignmentBy = ''
                OR (@AssignmentBy = 'jobcode' AND ha.JobCodeId IS NOT NULL AND ha.UserId IS NULL)
                OR (@AssignmentBy = 'user' AND ha.UserId IS NOT NULL AND ha.JobCodeId IS NULL)
                OR (@AssignmentBy = 'both' AND ha.JobCodeId IS NOT NULL OR ha.UserId IS NOT NULL)
            )
    )
    SELECT 
        (SELECT count(_rows.id) from _rows) as totalRecordsCount,
        * 
    FROM _rows
    ORDER BY TRIM(_rows.holidayName) ASC
    OFFSET @OffSet ROWS 
    FETCH NEXT @Limit ROWS ONLY
    FOR JSON PATH, INCLUDE_NULL_VALUES
END


GO
