USE [StaffScheduling_DEV]
GO
/****** Object:  StoredProcedure [dbo].[usp_AssistantQualifiers_Delete]    Script Date: 12/19/2025 4:07:56 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================  
-- Author:      Ali Nafees  
-- Create date: 11/14/2025  
-- Description: Insert/Update Accrual Rules  
-- =============================================  
CREATE PROCEDURE [dbo].[usp_AssistantQualifiers_Delete]  
    @Id INT,  
    @UserId INT,  
    @TenantId INT  
AS  
BEGIN  
    SET NOCOUNT ON;  
  
    BEGIN TRY  
        BEGIN TRANSACTION;  
  
        -- Delete the assistant qualifier  
        DELETE FROM AssisstantQualifiers  
        WHERE Id = @Id  
            AND TenantId = @TenantId;  
  
        -- Check if any rows were affected  
        IF @@ROWCOUNT = 0  
        BEGIN  
            ROLLBACK TRANSACTION;  
            SELECT  
                CAST(0 AS BIT) AS success,  
                'Assistant qualifier not found or already deleted.' AS message  
            FOR JSON PATH, WITHOUT_ARRAY_WRAPPER;  
            RETURN;  
        END  
  
        COMMIT TRANSACTION;  
  
        -- Return success  
        SELECT  
            CAST(1 AS BIT) AS success,  
            'Assistant qualifier deleted successfully.' AS message  
        FOR JSON PATH, WITHOUT_ARRAY_WRAPPER;  
  
    END TRY  
    BEGIN CATCH  
        IF @@TRANCOUNT > 0  
            ROLLBACK TRANSACTION;  
  
        -- Return error  
        SELECT  
            CAST(0 AS BIT) AS success,  
            ERROR_MESSAGE() AS message  
        FOR JSON PATH, WITHOUT_ARRAY_WRAPPER;  
    END CATCH  
END  
GO
