USE [TimeManagement_DEV]
GO
/****** Object:  StoredProcedure [dbo].[usp_WorkCodes_GetShortList]    Script Date: 12/10/2025 12:21:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
  
/*---------------------------------------------------------------------============================================================  
CREATED BY   : Ali Nafees
CREATED DATE  : 10/15/2025  
DESCRIPTION   : Get short list of WorkCodes for dropdowns/lookups  
LAST UPDATED BY  :  
DATE LAST UPDATED :  
EXEC [usp_WorkCodes_GetShortList] 1  
---------------------------------------------------------------------============================================================+*/  
CREATE   PROCEDURE [dbo].[usp_WorkCodes_GetShortList]  
(  
 @TenantId int  
)  
AS  
BEGIN  
 SET NOCOUNT ON;  
  
 SELECT   
  w.Id as id,  
  w.WorkCode as workCode,  
  w.WorkCodeName as workCodeName,  
  w.ColorCode as colorCode,  
  w.TextColor as textColor,  
  w.IsActive as isActive  
 FROM WorkCodes w  
 WHERE w.TenantId = @TenantId  
  AND ISNULL(w.IsActive, 1) = 1  
 ORDER BY w.DisplayOrder ASC, w.WorkCodeName ASC  
 FOR JSON PATH, INCLUDE_NULL_VALUES  
END  
GO
