USE [TimeManagement_DEV]
GO
/****** Object:  StoredProcedure [dbo].[usp_EmployeeJobCodeAssignment_GetShortList]    Script Date: 11/20/2025 4:43:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[usp_EmployeeJobCodeAssignment_GetShortList]
    @UserId INT = NULL,
    @Common BIT = 0,
    @UserIds VARCHAR(MAX) = NULL,
    @TenantId INT
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRY
        SELECT 
            ejca.Id AS id,
            ejca.UserId AS userId,
            jc.Id AS jobCodeId,
            jc.JobTitle AS jobTitle,
            jc.JobCode AS jobCode,
            jc.IsActive AS isActive
        FROM JobCodes jc
        INNER JOIN EmployeeJobCodeAssignment ejca ON jc.Id = ejca.JobCodeId
        WHERE ejca.UserId = ISNULL(@UserId, 0)
            AND ejca.TenantId = @TenantId
            AND ejca.IsActive = 1
            AND jc.IsActive = 1
        ORDER BY jc.JobTitle ASC
        FOR JSON PATH;

    END TRY
    BEGIN CATCH
        -- Return error as JSON
        SELECT
            CAST(0 AS BIT) AS Success,
            ERROR_MESSAGE() AS Message
        FOR JSON PATH, WITHOUT_ARRAY_WRAPPER;
    END CATCH
END
GO
