USE [TimeManagement_DEV]
GO
/****** Object:  StoredProcedure [dbo].[usp_WorkCodes_UpdateActiveStatus]    Script Date: 12/8/2025 4:11:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
  
-- =============================================  
-- Author:  Ali Nafees  
-- Create date: 10/15/2025  
-- Description: Update WorkCode Active Status  
-- =============================================  
CREATE   PROCEDURE [dbo].[usp_WorkCodes_UpdateActiveStatus]  
 @WorkCodeId int,  
 @IsActive bit,  
 @UserId int,  
 @TenantId int  
AS  
BEGIN  
 SET NOCOUNT ON;  
 BEGIN TRY  
  BEGIN TRAN  
  
  -- Check if WorkCode exists  
  IF NOT EXISTS (SELECT 1 FROM WorkCodes WHERE Id = @WorkCodeId AND TenantId = @TenantId)  
  BEGIN  
   SELECT   
    CAST(0 AS bit) as success,  
    'WorkCode not found' as message  
   FOR JSON PATH, WITHOUT_ARRAY_WRAPPER  
   ROLLBACK TRAN  
   RETURN  
  END  
  
  -- Update Active Status  
  UPDATE WorkCodes  
  SET   
   IsActive = @IsActive,  
   UpdatedBy = @UserId,  
   DateUpdated = GETUTCDATE()  
  WHERE Id = @WorkCodeId AND TenantId = @TenantId  
  
  SELECT   
   CAST(1 AS bit) as success,  
   'WorkCode active status updated successfully' as message,  
   @WorkCodeId as workCodeId,  
   @IsActive as isActive  
  FOR JSON PATH, WITHOUT_ARRAY_WRAPPER  
  
  COMMIT TRAN  
 END TRY  
 BEGIN CATCH  
  IF @@TRANCOUNT > 0  
   ROLLBACK TRAN  
    
  SELECT   
   CAST(0 AS bit) as success,  
   ERROR_MESSAGE() as message  
  FOR JSON PATH, WITHOUT_ARRAY_WRAPPER  
 END CATCH  
END  
GO
