USE [StaffScheduling_DEV]
GO
/****** Object:  StoredProcedure [dbo].[usp_EmployeeLabelAssignment_GetShortList]    Script Date: 1/11/2026 6:47:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
  
/*---------------------=========================================================================================================  
CREATED BY   : Ali Nafees  
CREATED DATE   : 10/22/2025  
DESCRIPTION   : 
---------------------=========================================================================================================+*/  
CREATE PROCEDURE [dbo].[usp_EmployeeLabelAssignment_GetShortList]  
    @UserId INT = NULL,  
    @Common BIT = 0,  
    @UserIds VARCHAR(MAX) = NULL,  
    @TenantId INT  
AS  
BEGIN  
    SET NOCOUNT ON;  
  
    BEGIN TRY  
        SELECT   
            ela.Id AS id,  
            ela.UserId AS userId,  
            l.Id AS labelId,  
            l.LabelName AS labelName,  
            l.LabelCode AS labelCode,  
            l.ColorCode AS colorCode,  
            l.IsActive AS isActive  
        FROM Labels l  
        INNER JOIN EmployeeLabelAssignment ela ON l.Id = ela.LabelId  
        WHERE ela.UserId = ISNULL(@UserId, 0)  
            AND ela.TenantId = @TenantId  
            AND ela.IsDeleted = 0  
            AND l.IsActive = 1  
        ORDER BY l.LabelName ASC  
        FOR JSON PATH;  
  
    END TRY  
    BEGIN CATCH  
        -- Return error as JSON  
        SELECT  
            CAST(0 AS BIT) AS Success,  
            ERROR_MESSAGE() AS Message  
        FOR JSON PATH, WITHOUT_ARRAY_WRAPPER;  
    END CATCH  
END  
GO
