USE [StaffScheduling_DEV]
GO
/****** Object:  StoredProcedure [dbo].[usp_AccrualBanks_GetForEvaluation_EVAL]    Script Date: 12/17/2025 9:59:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================  
-- Author:      Ali Nafees  
-- Create date: 11/23/2025  
-- Description: Get all Accrual Banks for evaluation  
--              Accepts JSON array of accrualProfileIds: [{"accrualProfileId": 155}, ...]
--              Returns all banks for matching profile IDs
-- =============================================  
CREATE PROCEDURE [dbo].[usp_AccrualBanks_GetForEvaluation_EVAL]  
    @Json NVARCHAR(MAX)
AS  
BEGIN  
    SET NOCOUNT ON;  

    -- Parse JSON array of accrual profile IDs
    DECLARE @ProfileIds TABLE (AccrualProfileId INT, userId int);
    
    IF @Json IS NOT NULL AND LEN(@Json) > 0
    BEGIN
        INSERT INTO @ProfileIds (AccrualProfileId, userId)
        SELECT accrualProfileId, userId
        FROM OPENJSON(@Json)
        WITH (
            accrualProfileId INT '$.accrualProfileId',
            userId INT '$.userId'
        )
        WHERE accrualProfileId IS NOT NULL and userId is not null;
    END
  
    SELECT  
        ab.Id AS id,  
        ab.TenantId AS tenantId,  
        ab.UserId AS userId,  
        ab.AccrualProfileId AS accrualProfileId,  
        ab.AccrualRulesSlotId AS accrualRulesSlotId,  
        ab.AccrualTrackId AS accrualTrackId,  
        ab.AccrualTypeId AS accrualTypeId,  
        ab.AccrualRuleId AS accrualRuleId,  
        ab.CurrentBalance AS currentBalance,  
        ab.UsedBalance AS usedBalance,  
        ab.DateCreated AS dateCreated,  
        ab.CreatedBy AS createdBy,  
        ab.DateUpdated AS dateUpdated,  
        ab.UpdatedBy AS updatedBy,  
        ab.LastAccruedPeriodDate AS lastAccruedPeriodDate
    FROM [dbo].[AccrualBanks] ab  
    INNER JOIN @ProfileIds a on a.userId = ab.UserId and a.AccrualProfileId = ab.AccrualProfileId ---this is to fetch only active applicable accrual banks
    WHERE EXISTS (SELECT 1 FROM @ProfileIds)
      AND EXISTS (SELECT 1 FROM @ProfileIds WHERE AccrualProfileId = ab.AccrualProfileId)
    ORDER BY ab.TenantId, ab.UserId, ab.AccrualProfileId  
    FOR JSON PATH, INCLUDE_NULL_VALUES  
END  
GO
