USE [StaffScheduling_DEV]
GO
/****** Object:  StoredProcedure [dbo].[usp_Holidays_Delete]    Script Date: 12/17/2025 9:59:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
  
-- =============================================  
-- Author:  Ali Nafees
-- Create date: 10/9/2025  
-- Description: Delete Holiday  
-- =============================================  
CREATE   PROCEDURE [dbo].[usp_Holidays_Delete]  
 @HolidayId int,  
 @UserId int,  
 @TenantId int  
AS  
BEGIN  
 SET NOCOUNT ON;  
 BEGIN TRY  
  BEGIN TRAN  
  
  -- Check if Holiday exists  
  IF NOT EXISTS (SELECT 1 FROM Holidays WHERE Id = @HolidayId AND TenantId = @TenantId)  
  BEGIN  
   SELECT   
    CAST(0 AS bit) as success,  
    'Holiday not found' as message  
   FOR JSON PATH, WITHOUT_ARRAY_WRAPPER  
   ROLLBACK TRAN  
   RETURN  
  END  
  
  -- Check if Holiday has assignments  
  IF EXISTS (SELECT 1 FROM HolidayAssignment WHERE HolidayId = @HolidayId AND TenantId = @TenantId)  
  BEGIN  
   SELECT   
    CAST(0 AS bit) as success,  
    'Cannot delete as Holiday Assignment exists' as message  
   FOR JSON PATH, WITHOUT_ARRAY_WRAPPER  
   ROLLBACK TRAN  
   RETURN  
  END  
  
  -- Delete the Holiday  
  DELETE FROM Holidays   
  WHERE Id = @HolidayId AND TenantId = @TenantId  
  
  SELECT   
   CAST(1 AS bit) as success,  
   'Holiday deleted successfully' as message,  
   @HolidayId as deletedId  
  FOR JSON PATH, WITHOUT_ARRAY_WRAPPER  
  
  COMMIT TRAN  
 END TRY  
 BEGIN CATCH  
  IF @@TRANCOUNT > 0  
   ROLLBACK TRAN  
    
  SELECT   
   CAST(0 AS bit) as success,  
   ERROR_MESSAGE() as message  
  FOR JSON PATH, WITHOUT_ARRAY_WRAPPER  
 END CATCH  
END  
GO
