USE [StaffScheduling_DEV]
GO
/****** Object:  StoredProcedure [dbo].[usp_JobCodes_GetShortList]    Script Date: 12/17/2025 9:59:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =======================================================================
-- Stored Procedure: usp_JobCodes_GetShortList
-- Description: Get a short list of job codes for dropdowns/lookups
-- Parameters: @TenantId (int) - The tenant ID to filter job codes
-- =======================================================================
CREATE   PROCEDURE [dbo].[usp_JobCodes_GetShortList]
    @TenantId INT
AS
BEGIN
    
        SELECT
            id,
            jobTitle,
            jobCode,
            category
        FROM
            dbo.JobCodes
        WHERE
            TenantId = @TenantId
            AND ISNULL(IsActive, 1) = 1
        ORDER BY
            JobTitle ASC

		FOR JSON PATH, INCLUDE_NULL_VALUES

   
END
GO
