USE [TimeManagement_DEV]
GO
/****** Object:  StoredProcedure [dbo].[usp_Shifts_GetById]    Script Date: 12/15/2025 3:41:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================  
-- Author:  Ali Nafees 
-- Create date: 10/15/2025  
-- Description: [usp_Shifts_GetById]
-- =============================================  
CREATE PROCEDURE [dbo].[usp_Shifts_GetById]  
 @ShiftId int,  
 @TenantId int  
AS  
BEGIN  
 SET NOCOUNT ON;  
  
 -- Get main shift data  
 SELECT   
  s.Id as id,  
  s.ShiftName as shiftName,  
  s.ShiftCode as shiftCode,  
  s.MinimumPositions as minimumPositions,  
  s.MaxTimeOffs as maxTimeOffs,  
  s.Location as location,  
  s.IsWorkShift as isWorkShift,  
  s.IsSelfSchedulingEnabled as isSelfSchedulingEnabled,  
  s.IsSelfSchedulingRequiresAdminApprovals as isSelfSchedulingRequiresAdminApprovals,  
  s.IsHideOpenSlots as isHideOpenSlots,  
  s.ShiftLabelId as shiftLabelId,  
  s.BackgroundColour as backgroundColour,  
  s.IsActive as isActive,  
  s.CreatedBy as createdBy,  
  s.UpdatedBy as updatedBy,  
  s.DateCreated as dateCreated,  
  s.DateUpdated as dateUpdated,  
  s.DisplayOrder as displayOrder,  
  s.StatusCustomTableValueId as statusCustomTableValueId,  
  s.AdminIds as adminIds,  
  -- Get WorkCodes array from ShiftWorkCodeAssignment junction table  
  (  
   SELECT   
    wc.Id as id,  
    wc.WorkCodeName as workCodeName,  
    wc.WorkCode as workCodeCode,  
    wc.ColorCode as backgroundColour,  
    wc.IsActive as isActive,  
    swca.IsRequired as isRequired  
   FROM ShiftWorkCodeAssignment swca  
   INNER JOIN WorkCodes wc ON swca.WorkCodeId = wc.Id  
   WHERE swca.ShiftId = s.Id  
    AND swca.TenantId = @TenantId  
    AND ISNULL(swca.IsActive, 1) = 1  
   FOR JSON PATH  
  ) as workCodes,  
  -- Get JobCodes array from ShiftJobCodeAssignment junction table  
  (  
   SELECT   
    jc.Id as id,  
    jc.JobTitle as jobTitle,  
    jc.JobCode as jobCode,  
    jc.IsActive as isActive  
   FROM ShiftJobCodeAssignment sjca  
   INNER JOIN JobCodes jc ON sjca.JobCodeId = jc.Id  
   WHERE sjca.ShiftId = s.Id  
    AND sjca.TenantId = @TenantId  
   FOR JSON PATH  
  ) as jobCodes  
 FROM Shifts s  
 WHERE s.Id = @ShiftId AND s.TenantId = @TenantId  
 FOR JSON PATH, WITHOUT_ARRAY_WRAPPER, INCLUDE_NULL_VALUES  
END  
GO
