USE [TimeManagement_DEV]
GO
/****** Object:  StoredProcedure [dbo].[usp_Holidays_GetShortList]    Script Date: 12/5/2025 3:12:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*---------------------=========================================================================================================
CREATED BY			: Ali Nafees
CREATED DATE 		: 10/10/2025
DESCRIPTION			: Get short list of Holidays for dropdowns/lookups
LAST UPDATED BY 	:
DATE LAST UPDATED 	:
EXEC [usp_Holidays_GetShortList] 1
---------------------=========================================================================================================+*/
CREATE   PROCEDURE [dbo].[usp_Holidays_GetShortList]
(
    @TenantId int
)
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 
        h.Id as id,
        h.HolidayCode as holidayCode,
        h.HolidayName as holidayName,
        h.HolidayDate as holidayDate
    FROM Holidays h
    WHERE h.TenantId = @TenantId
		AND ISNULL(h.IsAppliesToAll, 0) = 0
    ORDER BY h.HolidayDate ASC
    FOR JSON PATH, INCLUDE_NULL_VALUES
END

GO
