USE [TimeManagement_DEV]
GO
/****** Object:  StoredProcedure [dbo].[usp_EmployeeLabelAssignment_Delete]    Script Date: 12/3/2025 12:57:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
  
/*---------------------=========================================================================================================  
CREATED BY   : Ali Nafees  
CREATED DATE   : 10/22/2025  
DESCRIPTION   : 
---------------------=========================================================================================================+*/  
CREATE PROCEDURE [dbo].[usp_EmployeeLabelAssignment_Delete]  
    @Id INT,  
    @UserId INT,  
    @TenantId INT  
AS  
BEGIN  
    SET NOCOUNT ON;  
  
    BEGIN TRY  
        BEGIN TRANSACTION;  
  
        -- Soft delete the assignment  
        UPDATE EmployeeLabelAssignment  
        SET   
            IsDeleted = 1,  
            DeletedBy = @UserId,  
            DeletedOn = SYSDATETIMEOFFSET()  
        WHERE Id = @Id  
            AND TenantId = @TenantId  
            AND IsDeleted = 0;  
  
        -- Check if any rows were affected  
        IF @@ROWCOUNT = 0  
        BEGIN  
            ROLLBACK TRANSACTION;  
            SELECT  
                CAST(0 AS BIT) AS success,  
                'Assignment not found or already deleted.' AS message  
            FOR JSON PATH, WITHOUT_ARRAY_WRAPPER;  
            RETURN;  
        END  
  
        COMMIT TRANSACTION;  
  
        -- Return success  
        SELECT  
            CAST(1 AS BIT) AS success,  
            'Employee label assignment deleted successfully.' AS message  
        FOR JSON PATH, WITHOUT_ARRAY_WRAPPER;  
  
    END TRY  
    BEGIN CATCH  
        IF @@TRANCOUNT > 0  
            ROLLBACK TRANSACTION;  
  
        -- Return error  
        SELECT  
            CAST(0 AS BIT) AS success,  
            ERROR_MESSAGE() AS message  
        FOR JSON PATH, WITHOUT_ARRAY_WRAPPER;  
    END CATCH  
END  
GO
