USE [StaffScheduling_DEV]
GO
/****** Object:  StoredProcedure [dbo].[Create_Insert_Script_Of]    Script Date: 12/19/2025 4:07:56 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[Create_Insert_Script_Of] 
(@schema varchar(50), @tableName varchar(100), @condition as nvarchar(2000)) as
--Declare a cursor to retrieve column specific information 

--for the specified table
--SET CONCAT_NULL_YIELDS_NULL  OFF 

DECLARE cursCol CURSOR FAST_FORWARD FOR 
SELECT column_name, data_type FROM information_schema.columns 
    WHERE table_name = @tableName and Table_Schema = @schema
OPEN cursCol
DECLARE @string nvarchar(3000) --for storing the first half 

                               --of INSERT statement

DECLARE @stringData nvarchar(3000) --for storing the data 

                                   --(VALUES) related statement

DECLARE @dataType nvarchar(1000) --data types returned 

                                 --for respective columns

SET @string='INSERT ['+ @schema + '].[' + @tableName+']('
SET @stringData=''

DECLARE @colName nvarchar(50)

FETCH NEXT FROM cursCol INTO @colName, @dataType

IF @@fetch_status <> 0
    begin
    print 'Table [' + @schema + '].[' + @tableName + '] not found, processing skipped.'
    close curscol
    deallocate curscol
    return
END

WHILE @@FETCH_STATUS = 0
BEGIN
	IF @dataType in ('varchar','char','nchar','nvarchar')
		BEGIN
			SET @stringData = @stringData + ''''''''' + isnull(' + @colName + ',''null'')+'''''',''+'
		END
	ELSE IF @dataType in ('text','ntext') --if the datatype 
		BEGIN
			SET @stringData = @stringData + ''''''''' + IsNull(cast(' + @colName + ' as varchar(2000)),''null'')+'''''',''+'
		END
	ELSE IF @dataType = 'money' --because money doesn't get converted  --from varchar implicitly
		BEGIN
			SET @stringData = @stringData + '''convert(money,''''''+ isnull(cast(' + @colName + ' as varchar(200)),''null'')+''''''),''+'
		END
	ELSE IF @dataType='datetime'
		BEGIN
			SET @stringData = @stringData+'''convert(datetime,'''''' + IsNull(Cast(' + @colName + ' AS VARCHAR(200)),''null'')+''''''),''+'
		END
	ELSE IF @dataType='image' 
		BEGIN
			SET @stringData = @stringData + '''''''''+ IsNull(cast(convert(varbinary,' + @colName + ') AS VARCHAR(6)),''null'')+'''''',''+'
		END
	ELSE --presuming the data type is int,bit,numeric,decimal 
		BEGIN
			SET @stringData = @stringData + '''''''''+ IsNull(Cast(' + @colName + ' AS VARCHAR(200)),''null'')+'''''',''+'
		END

	SET @string = @string + @colName + ','

	FETCH NEXT FROM cursCol INTO @colName,@dataType
END
DECLARE @Query nvarchar(4000) -- provide for the whole query, 

                              -- you may increase the size


SET @query ='SELECT ''' + Substring(@string, 0, Len(@string)) + ') 
    VALUES(''+ ' + Substring(@stringData, 0, Len(@stringData) - 2) + '''+'')'' 
    FROM ['+ @schema + '].[' + @tableName + '] ' + @condition
--print @query
exec sp_executesql @query --load and run the built query
CLOSE cursCol
DEALLOCATE cursCol

--SET CONCAT_NULL_YIELDS_NULL  ON
GO
