USE [TimeManagement_DEV]
GO
/****** Object:  StoredProcedure [dbo].[usp_Shifts_Close]    Script Date: 11/19/2025 4:30:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[usp_Shifts_Close]
	@ShiftId int,
	@UserId int,
	@TenantId int
AS
BEGIN
	SET NOCOUNT ON;
	BEGIN TRY
		BEGIN TRAN

		-- Check if Shift exists
		IF NOT EXISTS (SELECT 1 FROM Shifts WHERE Id = @ShiftId AND TenantId = @TenantId)
		BEGIN
			SELECT 
				CAST(0 AS bit) as success,
				'Shift not found' as message
			FOR JSON PATH, WITHOUT_ARRAY_WRAPPER
			ROLLBACK TRAN
			RETURN
		END

		-- Update the Shift to set StatusCustomTableValueId = 2 (Closed)
		UPDATE Shifts 
		SET 
			StatusCustomTableValueId = 2, -- 2 = Closed
			UpdatedBy = @UserId,
			DateUpdated = GETUTCDATE()
		WHERE Id = @ShiftId AND TenantId = @TenantId

		Update Schedules set ValidUntil = GETUTCDATE()
		Where SourceId = @ShiftId and SourceType = 1

		SELECT 
			CAST(1 AS bit) as success,
			'Shift closed successfully' as message,
			@ShiftId as closedId
		FOR JSON PATH, WITHOUT_ARRAY_WRAPPER

		COMMIT TRAN
	END TRY
	BEGIN CATCH
		IF @@TRANCOUNT > 0
			ROLLBACK TRAN
		
		SELECT 
			CAST(0 AS bit) as success,
			ERROR_MESSAGE() as message
		FOR JSON PATH, WITHOUT_ARRAY_WRAPPER
	END CATCH
END
GO
