USE [TimeManagement_DEV]
GO
/****** Object:  StoredProcedure [dbo].[usp_JobCodes_Get]    Script Date: 11/27/2025 5:17:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =======================================================================
-- Stored Procedure: usp_JobCodes_Get
-- Description: Get all job codes for a specific tenant
-- Parameters: @TenantId (int) - The tenant ID to filter job codes
-- Author:  Ankur Arora
-- Date:    12-10-2025
-- =======================================================================
 CREATE   PROCEDURE [dbo].[usp_JobCodes_Get]
      @TenantId INT
  AS
  BEGIN
      SET NOCOUNT ON;
      BEGIN TRY
          SELECT
              Id as id,
              JobTitle as jobTitle,
              JobCode AS code,
              Description as description,
              Category as category,
              IsExempt as isExempt,
              PayRate as payRate,
              DefaultHoursPerWeek as defaultHoursPerWeek,
              IsActive AS status,
              TenantId as tenantId,
              DateCreated AS createdDate,
              DateUpdated AS modifiedDate,
              CreatedBy as createdBy,
              UpdatedBy AS modifiedBy,
              IsActive as isActive,
              PayMultiplier as payMultiplier,
              ColorCode as colorCode
          FROM dbo.JobCodes
          WHERE TenantId = @TenantId AND ISNULL(IsActive, 1) = 1
          ORDER BY JobTitle ASC
          FOR JSON PATH;
      END TRY
      BEGIN CATCH
          SELECT
              ERROR_NUMBER() AS errorNumber,
              ERROR_MESSAGE() AS errorMessage
          FOR JSON PATH, WITHOUT_ARRAY_WRAPPER;
      END CATCH
  END
GO
