USE [TimeManagement_DEV]
GO
/****** Object:  StoredProcedure [dbo].[usp_Labels_Get]    Script Date: 11/23/2025 1:28:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================  
-- Author:  Ali Nafees
-- Create date: 10/9/2025  
-- Description: [usp_Labels_Get]
-- =============================================    
CREATE PROCEDURE [dbo].[usp_Labels_Get]  
 @LabelId int = NULL,  
 @TenantId int,  
 @PageNumber int = 1,  
 @PageSize int = 10,  
 @SortColumn varchar(50) = 'LabelName',  
 @SortDirection varchar(4) = 'ASC',  
 @SearchTerm varchar(255) = NULL  
AS  
BEGIN  
 SET NOCOUNT ON;  
  
 DECLARE @Offset int = (@PageNumber - 1) * @PageSize;  
  
 ;WITH _rows AS (  
  SELECT   
   l.Id as id,  
   l.LabelName as labelName,  
   l.LabelCode as labelCode,  
   l.Description as description,  
   l.ColorCode as colorCode,  
   l.IconCode as iconCode,  
   l.IsActive as isActive,  
   l.CreatedBy as createdBy,  
   l.UpdatedBy as updatedBy,  
   l.DateCreated as dateCreated,  
   l.DateUpdated as dateUpdated  
  FROM Labels l  
  WHERE l.TenantId = @TenantId  
   AND (@LabelId IS NULL OR l.Id = @LabelId)  
   AND (  
    @SearchTerm IS NULL OR   
    l.LabelName LIKE '%' + @SearchTerm + '%' OR   
    l.LabelCode LIKE '%' + @SearchTerm + '%' OR   
    l.Description LIKE '%' + @SearchTerm + '%'  
   )  
 )  
 SELECT   
  _rows.id,  
  _rows.labelName,  
  _rows.labelCode,  
  _rows.description,  
  _rows.colorCode,  
  _rows.iconCode,  
  _rows.isActive,  
  _rows.createdBy,  
  _rows.updatedBy,  
  _rows.dateCreated,  
  _rows.dateUpdated,  
  (SELECT count(_rows.id) from _rows) as totalCount  
 FROM _rows  
 ORDER BY   
  CASE WHEN @SortColumn = 'LabelName' AND @SortDirection = 'ASC' THEN _rows.labelName END ASC,  
  CASE WHEN @SortColumn = 'LabelName' AND @SortDirection = 'DESC' THEN _rows.labelName END DESC,  
  CASE WHEN @SortColumn = 'LabelCode' AND @SortDirection = 'ASC' THEN _rows.labelCode END ASC,  
  CASE WHEN @SortColumn = 'LabelCode' AND @SortDirection = 'DESC' THEN _rows.labelCode END DESC,  
  CASE WHEN @SortColumn = 'Description' AND @SortDirection = 'ASC' THEN _rows.description END ASC,  
  CASE WHEN @SortColumn = 'Description' AND @SortDirection = 'DESC' THEN _rows.description END DESC,  
  _rows.labelName ASC  
 OFFSET @Offset ROWS  
 FETCH NEXT @PageSize ROWS ONLY  
 FOR JSON PATH, INCLUDE_NULL_VALUES  
END  
GO
