USE [TimeManagement_DEV]
GO
/****** Object:  StoredProcedure [dbo].[usp_Columns_Get]    Script Date: 12/3/2025 12:57:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*---------------------=========================================================================================================  
CREATED BY   : Ali Nafees  
CREATED DATE   : 10/21/2025  
DESCRIPTION   : Get all columns for a tenant that are NOT already assigned to a specific layout  
LAST UPDATED BY  :  
DATE LAST UPDATED  :   
---------------------=========================================================================================================+*/  
CREATE   PROCEDURE [dbo].[usp_Columns_Get]  
    @TenantId INT,  
    @LayoutId INT = NULL  
AS  
SET NOCOUNT ON  
BEGIN  
    BEGIN TRY  
        -- Validate input parameter  
        IF @TenantId IS NULL OR @TenantId <= 0  
        BEGIN  
            SELECT '{"success": false, "message": "Invalid TenantId parameter"}' as Result  
            RETURN  
        END  
  
        -- Get columns for the tenant that are NOT already assigned to the specified layout  
        SELECT   
            [Id] as [id],  
            [ColumnName] as [columnName],  
            [BackgroundColor] as [backgroundColor],  
            [TenantId] as [tenantId],  
            [CreatedBy] as [createdBy],  
            [UpdatedBy] as [updatedBy],  
            [DateCreated] as [dateCreated],  
            [DateUpdated] as [dateUpdated],  
   (  
    SELECT   
     lg.rowNumber,  
     lg.columnNumber,  
     lg.columnId,  
     lg.displayOrder,  
     cc.columnName,  
     cc.backgroundColor  
    FROM LayoutGridColumns lg  
    INNER JOIN Columns cc ON lg.ColumnId = cc.Id AND cc.TenantId = @TenantId AND lg.ColumnId = c.Id  
    WHERE lg.LayoutId = @LayoutId   
      AND lg.TenantId = @TenantId  
    FOR JSON PATH, INCLUDE_NULL_VALUES  
   ) as gridColumns,  
            (  
    SELECT   
     cs.Id as columnShiftId,  
                    cs.shiftId,  
                    cs.columnId,  
                    cs.displayOrder  
    FROM ColumnShifts cs  
    WHERE cs.LayoutId = @LayoutId   
      AND cs.TenantId = @TenantId  
                  AND cs.ColumnId = c.Id  
    FOR JSON PATH, INCLUDE_NULL_VALUES  
   ) as columnShifts  
        FROM [dbo].[Columns] c  
        WHERE [TenantId] = @TenantId  
        ORDER BY [ColumnName]  
  FOR JSON PATH, INCLUDE_NULL_VALUES  
  
    END TRY  
    BEGIN CATCH  
        -- Handle errors  
        DECLARE @ErrorMessage NVARCHAR(4000) = ERROR_MESSAGE()  
        DECLARE @ErrorSeverity INT = ERROR_SEVERITY()  
        DECLARE @ErrorState INT = ERROR_STATE()  
  
        SELECT '{"success": false, "message": "' + @ErrorMessage + '"}' as Result  
          
        RAISERROR(@ErrorMessage, @ErrorSeverity, @ErrorState)  
    END CATCH  
END  
  
GO
