USE [TimeManagement_DEV]
GO
/****** Object:  StoredProcedure [dbo].[usp_EmployeeLabelAssignment_Save]    Script Date: 12/10/2025 12:21:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
  
/*---------------------=========================================================================================================  
CREATED BY   : Ali Nafees  
CREATED DATE   : 10/22/2025  
DESCRIPTION   : 
---------------------=========================================================================================================+*/  
CREATE PROCEDURE [dbo].[usp_EmployeeLabelAssignment_Save]  
    @Json NVARCHAR(MAX),  
    @UserId INT,  
    @TenantId INT  
AS  
BEGIN  
    SET NOCOUNT ON;  
  
    BEGIN TRY  
        DECLARE @Id INT;  
        DECLARE @LabelId INT;  
        DECLARE @EmployeeUserId INT;  
        DECLARE @EffectiveDate DATETIMEOFFSET;  
        DECLARE @ExpiryDate DATETIMEOFFSET;  
  
        -- Parse JSON  
        SELECT   
            @Id = Id,  
            @LabelId = LabelId,  
            @EmployeeUserId = UserId,  
            @EffectiveDate = EffectiveDate,  
            @ExpiryDate = ExpiryDate  
        FROM OPENJSON(@Json)  
        WITH (  
            id INT,  
            labelId INT,  
            userId INT,  
            effectiveDate DATETIMEOFFSET,  
            expiryDate DATETIMEOFFSET  
        );  
  
        -- Validate required fields (BEFORE starting transaction)  
        IF @LabelId IS NULL OR @LabelId = 0  
        BEGIN  
            SELECT  
                CAST(0 AS BIT) AS success,  
                'Label is required.' AS message  
            FOR JSON PATH, WITHOUT_ARRAY_WRAPPER;  
            RETURN;  
        END  
  
        IF @EmployeeUserId IS NULL OR @EmployeeUserId = 0  
        BEGIN  
            SELECT  
                CAST(0 AS BIT) AS success,  
                'Employee is required.' AS message  
            FOR JSON PATH, WITHOUT_ARRAY_WRAPPER;  
            RETURN;  
        END  
  
        -- Check if label exists  
        IF NOT EXISTS (SELECT 1 FROM Labels WHERE Id = @LabelId AND TenantId = @TenantId)  
        BEGIN  
            SELECT  
                CAST(0 AS BIT) AS success,  
                'Label not found.' AS message  
            FOR JSON PATH, WITHOUT_ARRAY_WRAPPER;  
            RETURN;  
        END  
  
        -- Check for duplicate assignment (excluding current record if updating)  
        IF EXISTS (  
            SELECT 1   
            FROM EmployeeLabelAssignment   
            WHERE LabelId = @LabelId   
                AND UserId = @EmployeeUserId  
                AND TenantId = @TenantId   
                AND IsDeleted = 0  
                AND (ISNULL(@Id, 0) = 0 OR Id != @Id)  
        )  
        BEGIN  
            SELECT  
                CAST(0 AS BIT) AS success,  
                'This employee is already assigned to this label.' AS message  
            FOR JSON PATH, WITHOUT_ARRAY_WRAPPER;  
            RETURN;  
        END  
  
        -- All validations passed, now start transaction  
        BEGIN TRANSACTION;  
  
        -- Insert or Update  
        IF @Id IS NULL OR @Id = 0  
        BEGIN  
            -- Insert new assignment  
            INSERT INTO EmployeeLabelAssignment (  
                TenantId, LabelId, UserId, EffectiveDate, ExpiryDate,   
                IsDeleted, CreatedBy, DateCreated  
            )  
            VALUES (  
                @TenantId, @LabelId, @EmployeeUserId, @EffectiveDate, @ExpiryDate,  
                0, @UserId, SYSDATETIMEOFFSET()  
            );  
  
            SET @Id = SCOPE_IDENTITY();  
        END  
        ELSE  
        BEGIN  
            -- Update existing assignment  
            UPDATE EmployeeLabelAssignment  
            SET   
                LabelId = @LabelId,  
                UserId = @EmployeeUserId,  
                EffectiveDate = @EffectiveDate,  
                ExpiryDate = @ExpiryDate,  
                UpdatedBy = @UserId,  
                DateUpdated = SYSDATETIMEOFFSET()  
            WHERE Id = @Id AND TenantId = @TenantId;  
  
            IF @@ROWCOUNT = 0  
            BEGIN  
                ROLLBACK TRANSACTION;  
                SELECT  
                    CAST(0 AS BIT) AS success,  
                    'Assignment not found or unauthorized.' AS message  
                FOR JSON PATH, WITHOUT_ARRAY_WRAPPER;  
                RETURN;  
            END  
        END  
  
        COMMIT TRANSACTION;  
  
        -- Return success with the assignment Id  
        SELECT  
            @Id AS id,  
            CAST(1 AS BIT) AS success,  
            'Employee label assignment saved successfully.' AS message  
        FOR JSON PATH, WITHOUT_ARRAY_WRAPPER;  
  
    END TRY  
    BEGIN CATCH  
        IF @@TRANCOUNT > 0  
            ROLLBACK TRANSACTION;  
  
        -- Return error  
        SELECT  
            CAST(0 AS BIT) AS success,  
            ERROR_MESSAGE() AS message  
        FOR JSON PATH, WITHOUT_ARRAY_WRAPPER;  
    END CATCH  
END  
GO
