USE [TimeManagement_DEV]
GO
/****** Object:  StoredProcedure [dbo].[usp_Holidays_Get]    Script Date: 12/9/2025 4:21:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================  
-- Author:  Ali Nafees
-- Create date: 10/9/2025  
-- Description: Get Holidays  
-- =============================================  
CREATE   PROCEDURE [dbo].[usp_Holidays_Get]  
 @HolidayId int = NULL,  
 @TenantId int  
AS  
BEGIN  
 SET NOCOUNT ON;  
  
 SELECT   
  h.id,  
  h.HolidayCode as holidayCode,  
  h.HolidayName as holidayName,  
  h.HolidayDate as holidayDate,  
  h.IsObserved as isObserved,  
  h.IsFloating as isFloating,  
  h.IsAppliesToAll as isAppliesToAll,  
  h.CreatedBy as createdBy,  
  h.UpdatedBy as updatedBy,  
  h.DateCreated as dateCreated,  
  h.DateUpdated as dateUpdated,  
  h.ObservedDate as observedDate  
 FROM Holidays h  
 WHERE h.TenantId = @TenantId  
  AND (@HolidayId IS NULL OR h.Id = @HolidayId)  
 ORDER BY h.HolidayDate  
 FOR JSON PATH, INCLUDE_NULL_VALUES  
END  
GO
