USE [StaffScheduling_DEV]
GO
/****** Object:  StoredProcedure [dbo].[usp_JobCodes_Add]    Script Date: 12/19/2025 4:06:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE    PROCEDURE [dbo].[usp_JobCodes_Add]
    @JobTitle NVARCHAR(100),
    @Code NVARCHAR(50),
    @Description NVARCHAR(500),
    @Category NVARCHAR(50),
    @IsExempt BIT = 0,
    @PayRate DECIMAL(18,2) = 0,
    @DefaultHoursPerWeek INT = 40,
    @IsActive BIT = 1,
    @TenantId INT,
    @CreatedBy INT = NULL,
    @ColorCode NVARCHAR(20) = NULL
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @Result TABLE (Success INT, Message NVARCHAR(500));

    BEGIN TRY
        -- Trim input values
        SET @JobTitle = LTRIM(RTRIM(@JobTitle));
        SET @Code = LTRIM(RTRIM(@Code));
        SET @Description = LTRIM(RTRIM(@Description));

        -- Validate required fields
        IF @JobTitle IS NULL OR @JobTitle = ''
        BEGIN
            INSERT INTO @Result (Success, Message) VALUES (0, 'Job Title is required');
            SELECT Success, Message FROM @Result;
            RETURN;
        END

        IF @Code IS NULL OR @Code = ''
        BEGIN
            INSERT INTO @Result (Success, Message) VALUES (0, 'Job Code is required');
            SELECT Success, Message FROM @Result;
            RETURN;
        END

        -- *** FIXED: Case-insensitive and whitespace-trimmed duplicate check ***
        IF EXISTS (SELECT 1 FROM JobCodes
                   WHERE LOWER(LTRIM(RTRIM(JobCode))) = LOWER(LTRIM(RTRIM(@Code)))
                   AND TenantId = @TenantId
                   AND IsActive = 1)
        BEGIN
            INSERT INTO @Result (Success, Message)
            VALUES (0, 'A Job Code with this code already exists. Please use a different code.');
            SELECT Success, Message FROM @Result;
            RETURN;
        END

        -- Insert new job code
        INSERT INTO JobCodes (
            JobTitle,
            JobCode,
            Description,
            Category,
            IsExempt,
            PayRate,
            DefaultHoursPerWeek,
            IsActive,
            TenantId,
            CreatedBy,
            DateCreated,
            ColorCode
        )
        VALUES (
            @JobTitle,
            @Code,
            @Description,
            @Category,
            @IsExempt,
            @PayRate,
            @DefaultHoursPerWeek,
            @IsActive,
            @TenantId,
            @CreatedBy,
            GETDATE(),
            @ColorCode
        );

        INSERT INTO @Result (Success, Message) VALUES (1, 'Job Code added successfully');
        SELECT Success, Message FROM @Result;
    END TRY
    BEGIN CATCH
        INSERT INTO @Result (Success, Message)
        VALUES (0, 'Error: ' + ERROR_MESSAGE());
        SELECT Success, Message FROM @Result;
    END CATCH
END
GO
