USE [StaffScheduling_DEV]
GO
/****** Object:  StoredProcedure [dbo].[usp_ShiftTrades_GetDataForApproval]    Script Date: 3/13/2026 4:26:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================  
-- Author:  Ali Nafees  
-- Create date: 12/19/2025  
-- Description: This is used to get the shift trade requests for the approval purposes  
-- =============================================  
CREATE PROCEDURE [dbo].[usp_ShiftTrades_GetDataForApproval]  
 @Ids varchar(max),  
 @TenantId int  
AS  
BEGIN  
   
 Select   
  st.id,  
  st.FromUserId as tradingEmployeeId,  
  sa.ShiftId as tradingShiftId,  
  st.FromAssignmentId as tradingAssignmentId,  
  st.tradingDate,  
  s.StartTime as tradingUserAssignmentFromTime,  
  s.EndTime as TradingUserAssignmentToTime,  
  sa.isSwap,  
  
  st.ToUserId as acceptingEmployeeId,  
  ssa.ShiftId as acceptingShiftId,  
  st.ToAssignmentId as acceptingAssignmentId,  
  st.acceptingDate,  
  ss.StartTime as acceptingUserAssignmentFromTime,  
  ss.EndTime as acceptingUserAssignmentToTime  
  
 from ShiftTrades st  
 left join ShiftAssignment sa on sa.Id = st.FromAssignmentId and sa.TenantId = @TenantId  
 left join Schedules s on s.SourceId = sa.Id and s.SourceType = 3 and s.TenantId = @TenantId  
  
 left join ShiftAssignment ssa on ssa.Id = st.ToAssignmentId and ssa.TenantId = @TenantId  
 left join Schedules ss on ss.SourceId = ssa.Id and ss.SourceType = 3 and ss.TenantId = @TenantId  
 Where st.Id in (select * from string_split(@Ids, ','))  
  and st.TenantId = @TenantId  
 for json path;  
  
END  
GO
