USE [StaffScheduling_DEV]
GO
/****** Object:  StoredProcedure [dbo].[usp_JobCodes_GetById]    Script Date: 12/19/2025 4:06:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author: Ankur
-- Create date: 13-10-2025
-- Description: Get a Job Code by ID
-- =============================================

CREATE   PROCEDURE [dbo].[usp_JobCodes_GetById]
    @Id INT,
    @TenantId INT
AS
BEGIN
    SET NOCOUNT ON;

    SELECT
        Id,
        TenantId,
        JobCode,
        JobTitle,
        Description,
        Category,
        IsExempt,
        PayMultiplier,
        PayRate,
        DefaultHoursPerWeek,
        IsActive,
        CreatedBy,
        UpdatedBy,
        DateCreated,
        DateUpdated,
        ColorCode
    FROM JobCodes
    WHERE Id = @Id
        AND TenantId = @TenantId
        FOR JSON PATH, WITHOUT_ARRAY_WRAPPER;
END
GO
