USE [TimeManagement_DEV]
GO
/****** Object:  Table [dbo].[AccrualTypes]    Script Date: 12/8/2025 4:14:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AccrualTypes](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TenantId] [int] NOT NULL,
	[TypeCode] [varchar](55) NOT NULL,
	[TypeName] [varchar](255) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[CustomTableUnitId] [int] NULL,
	[MaxBalance] [decimal](10, 2) NULL,
	[MaxCarryOver] [decimal](10, 2) NULL,
	[CarryOverExpiryMonths] [int] NULL,
	[IsActive] [bit] NULL,
	[CreatedBy] [int] NOT NULL,
	[UpdatedBy] [int] NULL,
	[DateCreated] [datetimeoffset](7) NOT NULL,
	[DateUpdated] [datetimeoffset](7) NULL,
 CONSTRAINT [PK_AccrualTypes] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[AccrualTypes] ADD  CONSTRAINT [DF_AccrualTypes_DateCreated]  DEFAULT (getdate()) FOR [DateCreated]
GO
