USE [TimeManagement_DEV]
GO
/****** Object:  Table [dbo].[ColumnShifts]    Script Date: 11/23/2025 1:33:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ColumnShifts](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ColumnId] [int] NULL,
	[DayNumber] [int] NULL,
	[ShiftId] [int] NOT NULL,
	[DisplayOrder] [int] NOT NULL,
	[TenantId] [int] NOT NULL,
	[CreatedBy] [int] NOT NULL,
	[UpdatedBy] [int] NULL,
	[DateCreated] [datetimeoffset](7) NOT NULL,
	[DateUpdated] [datetimeoffset](7) NULL,
	[LayoutId] [int] NULL,
 CONSTRAINT [PK_ColumnShifts] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ColumnShifts] ADD  CONSTRAINT [DF_ColumnShifts_DateCreated]  DEFAULT (getdate()) FOR [DateCreated]
GO
ALTER TABLE [dbo].[ColumnShifts]  WITH CHECK ADD  CONSTRAINT [FK_ColumnShifts_Columns] FOREIGN KEY([ColumnId])
REFERENCES [dbo].[Columns] ([Id])
GO
ALTER TABLE [dbo].[ColumnShifts] CHECK CONSTRAINT [FK_ColumnShifts_Columns]
GO
ALTER TABLE [dbo].[ColumnShifts]  WITH CHECK ADD  CONSTRAINT [FK_ColumnShifts_ColumnShifts] FOREIGN KEY([ShiftId])
REFERENCES [dbo].[Shifts] ([Id])
GO
ALTER TABLE [dbo].[ColumnShifts] CHECK CONSTRAINT [FK_ColumnShifts_ColumnShifts]
GO
