USE [StaffScheduling_DEV]
GO
/****** Object:  Table [dbo].[CustomTableValues]    Script Date: 12/17/2025 9:58:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CustomTableValues](
	[CustomTableValueID] [int] IDENTITY(1,1) NOT NULL,
	[CustomTableID] [int] NOT NULL,
	[Code] [varchar](4) NOT NULL,
	[ShortDescription] [varchar](75) NULL,
	[LongDescription] [varchar](255) NULL,
	[TenantId] [int] NULL,
	[IsActive] [bit] NULL,
 CONSTRAINT [PK_CustomValues] PRIMARY KEY CLUSTERED 
(
	[CustomTableValueID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CustomTableValues]  WITH CHECK ADD  CONSTRAINT [FK_CustomTableValues_CustomTables] FOREIGN KEY([CustomTableID])
REFERENCES [dbo].[CustomTables] ([CustomTableID])
GO
ALTER TABLE [dbo].[CustomTableValues] CHECK CONSTRAINT [FK_CustomTableValues_CustomTables]
GO
