USE [TimeManagement_DEV]
GO
/****** Object:  Table [dbo].[BusinessRules]    Script Date: 11/20/2025 4:43:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BusinessRules](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TenantId] [int] NOT NULL,
	[RuleName] [varchar](255) NOT NULL,
	[CustomTableRuleTypeId] [int] NOT NULL,
	[JobCodeId] [int] NOT NULL,
	[TimeEntryTypeId] [int] NOT NULL,
	[Conditions] [nvarchar](max) NULL,
	[Actions] [nvarchar](max) NULL,
	[Priority] [int] NULL,
	[EffectiveDate] [date] NULL,
	[ExpiryDate] [date] NULL,
	[IsActive] [bit] NULL,
	[CreatedBy] [int] NOT NULL,
	[UpdatedBy] [int] NULL,
	[DateCreated] [datetimeoffset](7) NOT NULL,
	[DateUpdated] [datetimeoffset](7) NULL,
 CONSTRAINT [PK_BusinessRules] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[BusinessRules] ADD  CONSTRAINT [DF_BusinessRules_DateCreated]  DEFAULT (getdate()) FOR [DateCreated]
GO
