USE [StaffScheduling_DEV]
GO
/****** Object:  Table [dbo].[Payroll]    Script Date: 12/24/2025 2:46:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Payroll](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TenantId] [int] NOT NULL,
	[UserId] [int] NOT NULL,
	[PayPeriodId] [int] NOT NULL,
	[RegularHours] [decimal](10, 2) NULL,
	[OvertimeHours] [decimal](10, 2) NULL,
	[DoubleTimeHours] [decimal](10, 2) NULL,
	[HolidayHours] [decimal](10, 2) NULL,
	[SickHours] [decimal](10, 2) NULL,
	[VacationHours] [decimal](10, 2) NULL,
	[PersonalHours] [decimal](10, 2) NULL,
	[OtherHours] [decimal](10, 2) NULL,
	[GrossPay] [decimal](12, 2) NULL,
	[NetPay] [decimal](12, 2) NULL,
	[TotalDeductions] [decimal](12, 2) NULL,
	[CustomTableStatusId] [int] NULL,
	[CalculatedAt] [datetime] NULL,
	[Approvedby] [int] NULL,
	[ApprovedAt] [datetime] NULL,
	[CreatedBy] [int] NOT NULL,
	[UpdatedBy] [int] NULL,
	[DateCreated] [datetimeoffset](7) NOT NULL,
	[DateUpdated] [datetimeoffset](7) NULL,
 CONSTRAINT [PK_Payroll] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Payroll] ADD  CONSTRAINT [DF_Payroll_DateCreated]  DEFAULT (getutcdate()) FOR [DateCreated]
GO
ALTER TABLE [dbo].[Payroll]  WITH CHECK ADD  CONSTRAINT [FK_Payroll_PayPeriod] FOREIGN KEY([PayPeriodId])
REFERENCES [dbo].[PayPeriod] ([Id])
GO
ALTER TABLE [dbo].[Payroll] CHECK CONSTRAINT [FK_Payroll_PayPeriod]
GO
