USE [TimeManagement_DEV]
GO
/****** Object:  Table [dbo].[Schedules]    Script Date: 12/3/2025 12:48:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Schedules](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TenantId] [int] NOT NULL,
	[ScheduleName] [varchar](255) NOT NULL,
	[SourceType] [int] NOT NULL,
	[SourceId] [int] NOT NULL,
	[StartFrom] [date] NULL,
	[ValidUntil] [datetimeoffset](7) NULL,
	[StatusCustomTableValueId] [int] NULL,
	[Notes] [nvarchar](max) NULL,
	[ScheduleType] [int] NULL,
	[RepeatEvery] [int] NULL,
	[ScheduleWithoutTimes] [bit] NULL,
	[StartDate] [date] NULL,
	[StartTime] [time](7) NULL,
	[EndDate] [date] NULL,
	[EndTime] [time](7) NULL,
	[MaxOccurrences] [int] NULL,
	[EndType] [nvarchar](50) NULL,
	[Createdby] [int] NOT NULL,
	[UpdatedBy] [int] NULL,
	[DateCreated] [datetimeoffset](7) NOT NULL,
	[DateUpdated] [datetimeoffset](7) NULL,
 CONSTRAINT [PK_Schedules] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[Schedules] ADD  CONSTRAINT [DF_Schedules_DateCreated]  DEFAULT (getdate()) FOR [DateCreated]
GO
