USE [TimeManagement_DEV]
GO
/****** Object:  Table [dbo].[PayrollItem]    Script Date: 11/20/2025 4:43:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PayrollItem](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TenantId] [int] NOT NULL,
	[PayrollId] [int] NOT NULL,
	[CustomTableItemTypeId] [int] NULL,
	[ItemCode] [varchar](55) NULL,
	[ItemName] [varchar](255) NULL,
	[Amount] [decimal](10, 2) NULL,
	[Hours] [decimal](10, 2) NULL,
	[Rate] [decimal](10, 2) NULL,
	[IsPreTax] [bit] NULL,
	[CreatedBy] [int] NOT NULL,
	[UpdatedBy] [int] NULL,
	[DataUpdated] [datetimeoffset](7) NULL,
	[DateCreated] [datetimeoffset](7) NOT NULL,
 CONSTRAINT [PK_PayrollItem] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[PayrollItem] ADD  CONSTRAINT [DF_PayrollItem_DateCreated]  DEFAULT (getdate()) FOR [DateCreated]
GO
ALTER TABLE [dbo].[PayrollItem]  WITH CHECK ADD  CONSTRAINT [FK_PayrollItem_Payroll] FOREIGN KEY([PayrollId])
REFERENCES [dbo].[Payroll] ([Id])
GO
ALTER TABLE [dbo].[PayrollItem] CHECK CONSTRAINT [FK_PayrollItem_Payroll]
GO
