USE [StaffScheduling_DEV]
GO
/****** Object:  Table [dbo].[Holidays]    Script Date: 12/19/2025 4:08:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Holidays](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TenantId] [int] NOT NULL,
	[HolidayName] [varchar](255) NOT NULL,
	[HolidayDate] [date] NOT NULL,
	[ObservedDate] [date] NULL,
	[IsObserved] [bit] NULL,
	[IsFloating] [bit] NULL,
	[IsAppliesToAll] [bit] NULL,
	[CreatedBy] [int] NOT NULL,
	[UpdatedBy] [int] NULL,
	[DateCreated] [datetimeoffset](7) NOT NULL,
	[DateUpdated] [datetimeoffset](7) NULL,
	[HolidayCode] [varchar](25) NULL,
 CONSTRAINT [PK_Holidays] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Holidays] ADD  CONSTRAINT [DF_Holidays_DateCreated]  DEFAULT (getdate()) FOR [DateCreated]
GO
