USE [StaffScheduling_DEV]
GO
/****** Object:  Table [dbo].[HolidayAssignment]    Script Date: 12/22/2025 7:29:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HolidayAssignment](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TenantId] [int] NOT NULL,
	[HolidayId] [int] NOT NULL,
	[UserId] [int] NULL,
	[JobCodeId] [int] NULL,
	[CreatedBy] [int] NOT NULL,
	[UpdatedBy] [int] NULL,
	[DateCreated] [datetimeoffset](7) NOT NULL,
	[DateUpdated] [datetimeoffset](7) NULL,
	[EffectiveDate] [datetimeoffset](7) NULL,
	[ExpiryDate] [datetimeoffset](7) NULL,
	[IsDeleted] [bit] NULL,
	[DeletedBy] [int] NULL,
	[DeletedOn] [datetimeoffset](7) NULL,
 CONSTRAINT [PK_HolidayAssignment] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[HolidayAssignment] ADD  CONSTRAINT [DF_HolidayAssignment_DateCreated]  DEFAULT (getdate()) FOR [DateCreated]
GO
ALTER TABLE [dbo].[HolidayAssignment] ADD  CONSTRAINT [DF__HolidayAs__IsDel__2DB1C7EE]  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[HolidayAssignment]  WITH CHECK ADD  CONSTRAINT [FK_HolidayAssignment_Holidays] FOREIGN KEY([HolidayId])
REFERENCES [dbo].[Holidays] ([Id])
GO
ALTER TABLE [dbo].[HolidayAssignment] CHECK CONSTRAINT [FK_HolidayAssignment_Holidays]
GO
ALTER TABLE [dbo].[HolidayAssignment]  WITH CHECK ADD  CONSTRAINT [FK_HolidayAssignment_JobCodes] FOREIGN KEY([JobCodeId])
REFERENCES [dbo].[JobCodes] ([Id])
GO
ALTER TABLE [dbo].[HolidayAssignment] CHECK CONSTRAINT [FK_HolidayAssignment_JobCodes]
GO
