USE [TimeManagement_DEV]
GO
/****** Object:  Table [dbo].[TimeOffCodes]    Script Date: 12/15/2025 3:45:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TimeOffCodes](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](250) NOT NULL,
	[Code] [nvarchar](50) NOT NULL,
	[BackgroundColor] [nvarchar](10) NOT NULL,
	[TextColor] [nvarchar](10) NOT NULL,
	[IsRequestable] [bit] NOT NULL,
	[ExportAsHoursWorked] [bit] NULL,
	[MinTimeLimitToSubmit] [decimal](18, 0) NULL,
	[MaxTimeLimitToSubmit] [decimal](18, 0) NULL,
	[CreatedBy] [int] NOT NULL,
	[DateCreated] [datetimeoffset](7) NOT NULL,
	[UpdatedBy] [int] NULL,
	[DateUpdated] [datetimeoffset](7) NULL,
	[TenantId] [int] NOT NULL,
 CONSTRAINT [PK_TimeOffCodes] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
