USE [StaffScheduling_DEV]
GO
/****** Object:  Table [dbo].[Groups]    Script Date: 12/15/2025 8:27:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Groups](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TenantId] [int] NOT NULL,
	[GroupName] [varchar](255) NOT NULL,
	[GroupTypeCustomTableValueId] [int] NULL,
	[Description] [nvarchar](max) NULL,
	[ColorCode] [varchar](7) NULL,
	[IsActive] [bit] NULL,
	[CreatedBy] [int] NOT NULL,
	[UpdatedBy] [int] NULL,
	[DateCreated] [datetimeoffset](7) NOT NULL,
	[DateUpdated] [datetimeoffset](7) NULL,
 CONSTRAINT [PK_ShiftGroups] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[Groups] ADD  CONSTRAINT [DF_ShiftGroups_DateCreated]  DEFAULT (getdate()) FOR [DateCreated]
GO
