USE [StaffScheduling_DEV]
GO
/****** Object:  Table [dbo].[AssisstantQualifiers]    Script Date: 12/22/2025 7:29:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AssisstantQualifiers](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TenantId] [int] NOT NULL,
	[Name] [varchar](100) NOT NULL,
	[Code] [varchar](55) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[BackgroundColor] [varchar](7) NULL,
	[TextColor] [varchar](7) NULL,
	[IsActive] [bit] NULL,
	[CreatedBy] [int] NOT NULL,
	[UpdatedBy] [int] NULL,
	[DateCreated] [datetimeoffset](7) NOT NULL,
	[DateUpdated] [datetimeoffset](7) NULL,
 CONSTRAINT [PK_AssisstantQualifiers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[AssisstantQualifiers] ADD  CONSTRAINT [DF_AssisstantQualifiers_DateCreated]  DEFAULT (getdate()) FOR [DateCreated]
GO
