USE [StaffScheduling_DEV]
GO
/****** Object:  Table [dbo].[JobCodes]    Script Date: 12/22/2025 7:29:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[JobCodes](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TenantId] [int] NOT NULL,
	[JobCode] [varchar](50) NOT NULL,
	[JobTitle] [varchar](200) NOT NULL,
	[Description] [varchar](1000) NULL,
	[Category] [varchar](100) NULL,
	[IsExempt] [bit] NULL,
	[PayMultiplier] [decimal](10, 2) NULL,
	[PayRate] [decimal](10, 2) NULL,
	[DefaultHoursPerWeek] [decimal](5, 2) NULL,
	[IsActive] [bit] NULL,
	[CreatedBy] [int] NOT NULL,
	[UpdatedBy] [int] NULL,
	[DateCreated] [datetimeoffset](7) NOT NULL,
	[DateUpdated] [datetimeoffset](7) NULL,
	[ColorCode] [varchar](20) NULL,
 CONSTRAINT [PK_JobCodes] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[JobCodes] ADD  CONSTRAINT [DF_JobCodes_DateCreated]  DEFAULT (getdate()) FOR [DateCreated]
GO
