USE [TimeManagement_DEV]
GO
/****** Object:  Table [dbo].[AvailabilityPeriodShifts]    Script Date: 11/20/2025 4:43:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AvailabilityPeriodShifts](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ScheduleId] [int] NOT NULL,
	[ShiftId] [int] NOT NULL,
	[UserId] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AvailabilityPeriodShifts]  WITH CHECK ADD  CONSTRAINT [FK_AvailabilityPeriodShifts_Schedules] FOREIGN KEY([ScheduleId])
REFERENCES [dbo].[Schedules] ([Id])
GO
ALTER TABLE [dbo].[AvailabilityPeriodShifts] CHECK CONSTRAINT [FK_AvailabilityPeriodShifts_Schedules]
GO
ALTER TABLE [dbo].[AvailabilityPeriodShifts]  WITH CHECK ADD  CONSTRAINT [FK_AvailabilityPeriodShifts_Shifts] FOREIGN KEY([ShiftId])
REFERENCES [dbo].[Shifts] ([Id])
GO
ALTER TABLE [dbo].[AvailabilityPeriodShifts] CHECK CONSTRAINT [FK_AvailabilityPeriodShifts_Shifts]
GO
