USE [StaffScheduling_DEV]
GO
/****** Object:  Table [dbo].[TradeBoardListRules]    Script Date: 3/13/2026 4:27:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TradeBoardListRules](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TenantId] [int] NOT NULL,
	[TradeBoardSettingsId] [int] NOT NULL,
	[JobCodeId] [int] NOT NULL,
	[RuleName] [varchar](255) NOT NULL,
	[RuleDescription] [nvarchar](max) NULL,
	[IsActive] [bit] NULL,
	[CreatedBy] [int] NOT NULL,
	[UpdatedBy] [int] NULL,
	[DateCreated] [datetimeoffset](7) NOT NULL,
	[DateUpdated] [datetimeoffset](7) NULL,
 CONSTRAINT [PK_TradeBoardListRules] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[TradeBoardListRules] ADD  CONSTRAINT [DF_TradeBoardListRules_DateCreated]  DEFAULT (getutcdate()) FOR [DateCreated]
GO
ALTER TABLE [dbo].[TradeBoardListRules]  WITH CHECK ADD  CONSTRAINT [FK_TradeBoardListRules_TradeBoardSettings] FOREIGN KEY([TradeBoardSettingsId])
REFERENCES [dbo].[TradeBoardSettings] ([Id])
GO
ALTER TABLE [dbo].[TradeBoardListRules] CHECK CONSTRAINT [FK_TradeBoardListRules_TradeBoardSettings]
GO
