USE [TimeManagement_DEV]
GO
/****** Object:  Table [dbo].[EmployeeHourlyRates]    Script Date: 12/3/2025 12:48:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EmployeeHourlyRates](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TenantId] [int] NOT NULL,
	[UserId] [int] NOT NULL,
	[JobCodeId] [int] NOT NULL,
	[HourlyRate] [decimal](10, 2) NOT NULL,
	[EffectiveDate] [date] NULL,
	[ExpiryDate] [date] NULL,
	[IsActive] [bit] NULL,
	[CreatedBy] [int] NOT NULL,
	[UpdatedBy] [int] NULL,
	[DateCreated] [datetimeoffset](7) NOT NULL,
	[DateUpdated] [datetimeoffset](7) NULL,
 CONSTRAINT [PK_EmployeeHourlyRates] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[EmployeeHourlyRates] ADD  CONSTRAINT [DF_EmployeeHourlyRates_DateCreated]  DEFAULT (getdate()) FOR [DateCreated]
GO
ALTER TABLE [dbo].[EmployeeHourlyRates]  WITH CHECK ADD  CONSTRAINT [FK_EmployeeHourlyRates_JobCodes] FOREIGN KEY([JobCodeId])
REFERENCES [dbo].[JobCodes] ([Id])
GO
ALTER TABLE [dbo].[EmployeeHourlyRates] CHECK CONSTRAINT [FK_EmployeeHourlyRates_JobCodes]
GO
