USE [TimeManagement_DEV]
GO
/****** Object:  Table [dbo].[OvertimeRules]    Script Date: 11/20/2025 4:43:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OvertimeRules](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TenantId] [int] NOT NULL,
	[BusinessRuleId] [int] NOT NULL,
	[CustomTableThresoldTypeId] [int] NULL,
	[ThresoldHours] [decimal](10, 2) NULL,
	[Multipliers] [decimal](5, 2) NULL,
	[IsApplisToHolidays] [bit] NULL,
	[IsAppliesToWeekends] [bit] NULL,
	[MxOvertimeHours] [decimal](10, 2) NULL,
	[CreatedBy] [int] NOT NULL,
	[UpdatedBy] [int] NULL,
	[DateCreated] [datetimeoffset](7) NOT NULL,
	[DateUpdated] [datetimeoffset](7) NULL,
 CONSTRAINT [PK_OvertimeRules] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[OvertimeRules] ADD  CONSTRAINT [DF_OvertimeRules_DateCreated]  DEFAULT (getdate()) FOR [DateCreated]
GO
ALTER TABLE [dbo].[OvertimeRules]  WITH CHECK ADD  CONSTRAINT [FK_OverTimeRules_BusinessRules] FOREIGN KEY([Id])
REFERENCES [dbo].[BusinessRules] ([Id])
GO
ALTER TABLE [dbo].[OvertimeRules] CHECK CONSTRAINT [FK_OverTimeRules_BusinessRules]
GO
