USE [StaffScheduling_DEV]
GO
/****** Object:  Table [dbo].[ErrorLogger]    Script Date: 12/17/2025 9:58:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ErrorLogger](
	[ErrorLoggerID] [int] IDENTITY(1,1) NOT NULL,
	[LogLevel] [nvarchar](50) NULL,
	[Data] [nvarchar](max) NULL,
	[ExceptionMessage] [nvarchar](4000) NULL,
	[StackTrace] [nvarchar](4000) NULL,
	[IsInnerException] [bit] NULL,
	[EventId] [int] NULL,
	[EventName] [nvarchar](300) NULL,
	[ParentId] [int] NULL,
	[InnerExceptionLevel] [int] NULL,
	[Environment] [nvarchar](50) NULL,
	[UserAgent] [nvarchar](4000) NULL,
	[CreatedBy] [int] NULL,
	[DateCreated] [datetimeoffset](7) NOT NULL,
	[IPAddress] [nvarchar](100) NULL,
	[TenantID] [int] NULL,
 CONSTRAINT [PK_ErrorLogger] PRIMARY KEY CLUSTERED 
(
	[ErrorLoggerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[ErrorLogger] ADD  CONSTRAINT [DF__ErrorLogg__DateC__6FE99F9F]  DEFAULT (getutcdate()) FOR [DateCreated]
GO
