USE [TimeManagement_DEV]
GO
/****** Object:  Table [dbo].[RuleProcessingSteps]    Script Date: 12/2/2025 12:28:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RuleProcessingSteps](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TenantId] [int] NOT NULL,
	[RuleExecutionId] [int] NOT NULL,
	[StepName] [varchar](255) NOT NULL,
	[InputData] [nvarchar](max) NULL,
	[OutputData] [nvarchar](max) NULL,
	[CustomTableStatusId] [int] NULL,
	[ProcessedAt] [datetime] NULL,
	[ErrorMessage] [varchar](max) NULL,
	[CreatedBy] [int] NOT NULL,
	[UpdatedBy] [int] NULL,
	[CreatedAt] [datetime] NOT NULL,
	[UpdatedAt] [datetime] NULL,
 CONSTRAINT [PK_RuleProcessingSteps] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[RuleProcessingSteps] ADD  CONSTRAINT [DF_RuleProcessingSteps_CreatedAt]  DEFAULT (getdate()) FOR [CreatedAt]
GO
