USE [TimeManagement_DEV]
GO
/****** Object:  Table [dbo].[ShiftWorkCodeAssignment]    Script Date: 12/5/2025 3:14:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ShiftWorkCodeAssignment](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TenantId] [int] NOT NULL,
	[ShiftId] [int] NOT NULL,
	[WorkCodeId] [int] NOT NULL,
	[IsRequired] [bit] NULL,
	[IsActive] [bit] NULL,
	[CreatedBy] [int] NOT NULL,
	[UpdatedBy] [int] NULL,
	[DateCreated] [datetimeoffset](7) NOT NULL,
	[DateUpdated] [datetimeoffset](7) NULL,
 CONSTRAINT [PK_ShiftWorkCodeAssignment] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ShiftWorkCodeAssignment] ADD  CONSTRAINT [DF_ShiftWorkCodeAssignment_DateCreated]  DEFAULT (getdate()) FOR [DateCreated]
GO
ALTER TABLE [dbo].[ShiftWorkCodeAssignment]  WITH CHECK ADD  CONSTRAINT [FK_ShiftWorkCodeAssignment] FOREIGN KEY([ShiftId])
REFERENCES [dbo].[Shifts] ([Id])
GO
ALTER TABLE [dbo].[ShiftWorkCodeAssignment] CHECK CONSTRAINT [FK_ShiftWorkCodeAssignment]
GO
ALTER TABLE [dbo].[ShiftWorkCodeAssignment]  WITH CHECK ADD  CONSTRAINT [FK_ShiftWorkCodeAssignment_WorkCodes] FOREIGN KEY([WorkCodeId])
REFERENCES [dbo].[WorkCodes] ([Id])
GO
ALTER TABLE [dbo].[ShiftWorkCodeAssignment] CHECK CONSTRAINT [FK_ShiftWorkCodeAssignment_WorkCodes]
GO
