USE [StaffScheduling_DEV]
GO
/****** Object:  Table [dbo].[WorkCodes]    Script Date: 12/22/2025 7:29:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WorkCodes](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TenantId] [int] NOT NULL,
	[WorkCode] [varchar](55) NOT NULL,
	[WorkCodeName] [varchar](255) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[Category] [varchar](55) NULL,
	[ColorCode] [varchar](7) NULL,
	[TextColor] [varchar](7) NULL,
	[PayMultiplier] [decimal](10, 2) NULL,
	[PayRate] [decimal](10, 2) NULL,
	[IsDefault] [bit] NULL,
	[DisplayOrder] [int] NULL,
	[IsCountsTowardWeeklyLimit] [bit] NULL,
	[IsCountsTowardMonthlyLimit] [bit] NULL,
	[IsIncludeInCallbackRankings] [bit] NULL,
	[IsExcludesFromCallbacks] [bit] NULL,
	[IsTradeable] [bit] NULL,
	[MinTimeBufferHours] [decimal](5, 2) NULL,
	[MaxTimeBufferHours] [decimal](5, 2) NULL,
	[ExclusionRuleHours] [decimal](5, 2) NULL,
	[LimitPerEmployeePerYear] [int] NULL,
	[IsRequestable] [bit] NULL,
	[IsMasked] [bit] NULL,
	[IsActive] [bit] NULL,
	[CreatedBy] [int] NOT NULL,
	[UpdatedBy] [int] NULL,
	[DateCreated] [datetimeoffset](7) NOT NULL,
	[DateUpdated] [datetimeoffset](7) NULL,
 CONSTRAINT [PK_WorkCodes] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[WorkCodes] ADD  CONSTRAINT [DF_WorkCode_DateCreated]  DEFAULT (getdate()) FOR [DateCreated]
GO
