USE [StaffScheduling_DEV]
GO
/****** Object:  Table [dbo].[EmployeeShiftAssignmentJobCodes]    Script Date: 12/22/2025 7:29:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EmployeeShiftAssignmentJobCodes](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TenantId] [int] NOT NULL,
	[ShiftAssignmentId] [int] NOT NULL,
	[JobCodeId] [int] NOT NULL,
	[CreatedBy] [int] NOT NULL,
	[UpdatedBy] [int] NULL,
	[DateCreated] [datetimeoffset](7) NOT NULL,
	[DateUpdated] [datetimeoffset](7) NULL,
 CONSTRAINT [PK_EmployeeShiftAssignmentJobCodes] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[EmployeeShiftAssignmentJobCodes]  WITH CHECK ADD  CONSTRAINT [FK_EmployeeShiftAssignmentJobCodes_JobCodes] FOREIGN KEY([JobCodeId])
REFERENCES [dbo].[JobCodes] ([Id])
GO
ALTER TABLE [dbo].[EmployeeShiftAssignmentJobCodes] CHECK CONSTRAINT [FK_EmployeeShiftAssignmentJobCodes_JobCodes]
GO
ALTER TABLE [dbo].[EmployeeShiftAssignmentJobCodes]  WITH CHECK ADD  CONSTRAINT [FK_EmployeeShiftAssignmentJobCodes_ShiftAssignment] FOREIGN KEY([ShiftAssignmentId])
REFERENCES [dbo].[ShiftAssignment] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[EmployeeShiftAssignmentJobCodes] CHECK CONSTRAINT [FK_EmployeeShiftAssignmentJobCodes_ShiftAssignment]
GO
