USE [StaffScheduling_DEV]
GO
/****** Object:  Table [dbo].[ShiftTrades]    Script Date: 3/13/2026 4:27:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ShiftTrades](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TenantId] [int] NOT NULL,
	[FromUserId] [int] NOT NULL,
	[ToUserId] [int] NOT NULL,
	[FromAssignmentId] [int] NOT NULL,
	[ToAssignmentId] [int] NULL,
	[StatusCustomTableValueId] [int] NULL,
	[Result] [nvarchar](max) NULL,
	[IsNeedApproval] [bit] NULL,
	[IsNeedRejectionApproval] [bit] NULL,
	[IsAutoApprovalEligible] [bit] NULL,
	[IsRequireManagerApproval] [bit] NULL,
	[IsAllowPartialTrade] [bit] NULL,
	[MaxTradeDuration] [decimal](5, 2) NULL,
	[RequestedAt] [datetimeoffset](7) NULL,
	[ApprovedAt] [datetimeoffset](7) NULL,
	[Approvedby] [int] NOT NULL,
	[CreatedBy] [int] NOT NULL,
	[UpdatedBy] [int] NULL,
	[DateCreated] [datetimeoffset](7) NOT NULL,
	[DateUpdated] [datetimeoffset](7) NULL,
	[TradingDate] [date] NULL,
	[AcceptingDate] [date] NULL,
 CONSTRAINT [PK_ShiftTrades] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[ShiftTrades] ADD  CONSTRAINT [DF_ShiftTrades_DateCreated]  DEFAULT (getutcdate()) FOR [DateCreated]
GO
ALTER TABLE [dbo].[ShiftTrades]  WITH CHECK ADD  CONSTRAINT [FK_ShiftTrades_FromAssignmentId_ShiftAssignment] FOREIGN KEY([FromAssignmentId])
REFERENCES [dbo].[ShiftAssignment] ([Id])
GO
ALTER TABLE [dbo].[ShiftTrades] CHECK CONSTRAINT [FK_ShiftTrades_FromAssignmentId_ShiftAssignment]
GO
ALTER TABLE [dbo].[ShiftTrades]  WITH CHECK ADD  CONSTRAINT [FK_ShiftTrades_ToAssignmentId_ShiftAssignment] FOREIGN KEY([ToAssignmentId])
REFERENCES [dbo].[ShiftAssignment] ([Id])
GO
ALTER TABLE [dbo].[ShiftTrades] CHECK CONSTRAINT [FK_ShiftTrades_ToAssignmentId_ShiftAssignment]
GO
