USE [StaffScheduling_DEV]
GO
/****** Object:  Table [dbo].[AccrualRulesSlots]    Script Date: 12/17/2025 9:58:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AccrualRulesSlots](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[AccrualRuleId] [int] NOT NULL,
	[AccrueAmount] [decimal](10, 2) NOT NULL,
	[AccrueUnit] [int] NOT NULL,
	[AccrueFrequency] [int] NOT NULL,
	[AccrueFrequencyValue] [decimal](18, 2) NULL,
	[WorkCodeId] [int] NULL,
	[SortOrder] [int] NOT NULL,
	[CreatedBy] [int] NOT NULL,
	[UpdatedBy] [int] NULL,
	[DateCreated] [datetimeoffset](7) NOT NULL,
	[DateUpdated] [datetimeoffset](7) NULL,
	[TenantId] [int] NOT NULL,
 CONSTRAINT [PK_AccrualRulesSlots] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AccrualRulesSlots] ADD  CONSTRAINT [DF_AccrualRulesSlots_SortOrder]  DEFAULT ((0)) FOR [SortOrder]
GO
ALTER TABLE [dbo].[AccrualRulesSlots] ADD  CONSTRAINT [DF_AccrualRulesSlots_DateCreated]  DEFAULT (getdate()) FOR [DateCreated]
GO
ALTER TABLE [dbo].[AccrualRulesSlots]  WITH CHECK ADD  CONSTRAINT [FK_AccrualRulesSlots_AccrualRules] FOREIGN KEY([AccrualRuleId])
REFERENCES [dbo].[AccrualRules] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AccrualRulesSlots] CHECK CONSTRAINT [FK_AccrualRulesSlots_AccrualRules]
GO
