USE [StaffScheduling_DEV]
GO
/****** Object:  Table [dbo].[TimeOffRequests]    Script Date: 12/24/2025 2:46:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TimeOffRequests](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TenantId] [int] NOT NULL,
	[UserId] [int] NOT NULL,
	[WorkCodeId] [int] NULL,
	[AccrualTypeId] [int] NULL,
	[TimeOffTypeId] [int] NOT NULL,
	[Status] [int] NULL,
	[ApprovedBy] [int] NULL,
	[ApprovedOn] [datetimeoffset](7) NULL,
	[RejectedBy] [int] NULL,
	[RejectedOn] [datetimeoffset](7) NULL,
	[Notes] [nvarchar](250) NULL,
	[CreatedBy] [int] NOT NULL,
	[DateCreated] [datetimeoffset](7) NOT NULL,
	[UpdatedBy] [int] NULL,
	[DateUpdated] [datetimeoffset](7) NULL,
 CONSTRAINT [PK_TimeOffRequests] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
