USE [TimeManagement_DEV]
GO
/****** Object:  Table [dbo].[Shifts]    Script Date: 11/23/2025 1:33:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Shifts](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TenantId] [int] NOT NULL,
	[ShiftName] [varchar](255) NOT NULL,
	[ShiftCode] [varchar](55) NOT NULL,
	[MinimumPositions] [int] NULL,
	[MaxTimeOffs] [int] NULL,
	[Location] [varchar](255) NULL,
	[IsWorkShift] [bit] NULL,
	[IsSelfSchedulingEnabled] [bit] NULL,
	[IsSelfSchedulingRequiresAdminApprovals] [bit] NULL,
	[AdminIds] [varchar](500) NULL,
	[IsHideOpenSlots] [bit] NULL,
	[ShiftLabelId] [int] NULL,
	[BackgroundColour] [varchar](7) NULL,
	[IsActive] [bit] NULL,
	[CreatedBy] [int] NOT NULL,
	[UpdatedBy] [int] NULL,
	[DateCreated] [datetimeoffset](7) NOT NULL,
	[DateUpdated] [datetimeoffset](7) NULL,
	[DisplayOrder] [int] NULL,
	[StatusCustomTableValueId] [int] NULL,
	[DateDeleted] [datetimeoffset](7) NULL,
	[DeletedBy] [int] NULL,
 CONSTRAINT [PK_Shifts] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Shifts] ADD  CONSTRAINT [DF_Shifts_DateCreated]  DEFAULT (getdate()) FOR [DateCreated]
GO
ALTER TABLE [dbo].[Shifts]  WITH CHECK ADD  CONSTRAINT [FK_Shifts_ShiftLabels] FOREIGN KEY([ShiftLabelId])
REFERENCES [dbo].[Labels] ([Id])
GO
ALTER TABLE [dbo].[Shifts] CHECK CONSTRAINT [FK_Shifts_ShiftLabels]
GO
