USE [TimeManagement_DEV]
GO
/****** Object:  Table [dbo].[EmployeeShiftAssignmentWorkCodes]    Script Date: 11/7/2025 11:17:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EmployeeShiftAssignmentWorkCodes](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TenantId] [int] NOT NULL,
	[ShiftAssignmentId] [int] NOT NULL,
	[WorkCodeId] [int] NOT NULL,
	[CreatedBy] [int] NOT NULL,
	[UpdatedBy] [int] NULL,
	[DateCreated] [datetimeoffset](7) NOT NULL,
	[DateUpdated] [datetimeoffset](7) NULL,
 CONSTRAINT [PK_EmployeeShiftAssignmentWorkCodes] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[EmployeeShiftAssignmentWorkCodes]  WITH CHECK ADD  CONSTRAINT [FK_EmployeeShiftAssignmentWorkCodes_ShiftAssignment] FOREIGN KEY([ShiftAssignmentId])
REFERENCES [dbo].[ShiftAssignment] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[EmployeeShiftAssignmentWorkCodes] CHECK CONSTRAINT [FK_EmployeeShiftAssignmentWorkCodes_ShiftAssignment]
GO
ALTER TABLE [dbo].[EmployeeShiftAssignmentWorkCodes]  WITH CHECK ADD  CONSTRAINT [FK_EmployeeShiftAssignmentWorkCodes_WorkCodes] FOREIGN KEY([WorkCodeId])
REFERENCES [dbo].[WorkCodes] ([Id])
GO
ALTER TABLE [dbo].[EmployeeShiftAssignmentWorkCodes] CHECK CONSTRAINT [FK_EmployeeShiftAssignmentWorkCodes_WorkCodes]
GO
