USE [StaffScheduling_DEV]
GO
/****** Object:  Table [dbo].[TradeBoardSettings]    Script Date: 1/11/2026 6:46:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TradeBoardSettings](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TenantId] [int] NOT NULL,
	[SettingsName] [varchar](255) NOT NULL,
	[IsLimitTradesToMatchingLists] [bit] NULL,
	[IsOnlyAllowDirectTrades] [bit] NULL,
	[IsRequireApprovalBeforeSent] [bit] NULL,
	[IsRequireApprovalAfterAccepted] [bit] NULL,
	[IsRequireSecondApproval] [bit] NULL,
	[IsApprovingUsersSeeOnlyTheirRequests] [bit] NULL,
	[IsEnableShiftSwapFeature] [bit] NULL,
	[IsColorCodeTradedShifts] [bit] NULL,
	[TradedShiftColorCode] [varchar](7) NULL,
	[IsRequireManualLedgerApproval] [bit] NULL,
	[IsUserSelectsApproval] [bit] NULL,
	[IsActive] [bit] NULL,
	[CreatedBy] [int] NOT NULL,
	[UpdatedBy] [int] NULL,
	[DateCreated] [datetimeoffset](7) NOT NULL,
	[DateUpdated] [datetimeoffset](7) NULL,
 CONSTRAINT [PK_TradeBoardSettings] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[TradeBoardSettings] ADD  CONSTRAINT [DF_TradeBoardSettings_DateCreated]  DEFAULT (getutcdate()) FOR [DateCreated]
GO
