USE [TimeManagement_DEV]
GO
/****** Object:  Table [dbo].[AccrualTrackProfiles]    Script Date: 12/8/2025 4:14:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AccrualTrackProfiles](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[AccrualTrackId] [int] NOT NULL,
	[AccrualProfileId] [int] NOT NULL,
	[SortOrder] [int] NOT NULL,
	[TenantId] [int] NOT NULL,
	[CreatedBy] [int] NOT NULL,
	[UpdatedBy] [int] NULL,
	[DateCreated] [datetimeoffset](7) NOT NULL,
	[DateUpdated] [datetimeoffset](7) NULL,
 CONSTRAINT [PK_AccrualTrackProfiles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AccrualTrackProfiles] ADD  CONSTRAINT [DF_AccrualTrackProfiles_SortOrder]  DEFAULT ((0)) FOR [SortOrder]
GO
ALTER TABLE [dbo].[AccrualTrackProfiles] ADD  CONSTRAINT [DF_AccrualTrackProfiles_DateCreated]  DEFAULT (getutcdate()) FOR [DateCreated]
GO
ALTER TABLE [dbo].[AccrualTrackProfiles]  WITH CHECK ADD  CONSTRAINT [FK_AccrualTrackProfiles_AccrualProfiles] FOREIGN KEY([AccrualProfileId])
REFERENCES [dbo].[AccrualProfiles] ([Id])
GO
ALTER TABLE [dbo].[AccrualTrackProfiles] CHECK CONSTRAINT [FK_AccrualTrackProfiles_AccrualProfiles]
GO
ALTER TABLE [dbo].[AccrualTrackProfiles]  WITH CHECK ADD  CONSTRAINT [FK_AccrualTrackProfiles_AccrualTracks] FOREIGN KEY([AccrualTrackId])
REFERENCES [dbo].[AccrualTracks] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AccrualTrackProfiles] CHECK CONSTRAINT [FK_AccrualTrackProfiles_AccrualTracks]
GO
