USE [TimeManagement_DEV]
GO
/****** Object:  Table [dbo].[AccrualTransactions]    Script Date: 11/20/2025 4:43:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AccrualTransactions](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TenantId] [int] NOT NULL,
	[AccrualRuleId] [int] NULL,
	[SourceTypeID] [int] NOT NULL,
	[SourceID] [int] NOT NULL,
	[CustomTableTransactionTypeId] [int] NOT NULL,
	[Amount] [decimal](10, 2) NOT NULL,
	[BalanceAfter] [decimal](10, 2) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[ProcessedDate] [datetimeoffset](7) NOT NULL,
	[ProcessedBy] [int] NOT NULL,
	[DateUpdated] [datetimeoffset](7) NULL,
	[UpdatedBy] [int] NULL,
 CONSTRAINT [PK_AccrualTransactions] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[AccrualTransactions]  WITH CHECK ADD  CONSTRAINT [FK_AccrualTransactions_AccrualRules] FOREIGN KEY([AccrualRuleId])
REFERENCES [dbo].[AccrualRules] ([Id])
GO
ALTER TABLE [dbo].[AccrualTransactions] CHECK CONSTRAINT [FK_AccrualTransactions_AccrualRules]
GO
