USE [TimeManagement_DEV]
GO
/****** Object:  Table [dbo].[RuleExecution]    Script Date: 12/3/2025 12:48:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RuleExecution](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TenantId] [int] NOT NULL,
	[TimeEntryId] [int] NOT NULL,
	[UserId] [int] NOT NULL,
	[PayPeriodId] [int] NOT NULL,
	[CustomTableRuleTypeId] [int] NULL,
	[AppliedRules] [nvarchar](max) NULL,
	[CalculatedAmount] [decimal](12, 2) NULL,
	[CalculatedHours] [decimal](10, 2) NULL,
	[CustomTableStatusId] [int] NULL,
	[ProcessedAt] [datetime] NULL,
	[CreatedBy] [int] NOT NULL,
	[UpdatedBy] [int] NULL,
	[CreatedAt] [datetime] NOT NULL,
	[UpdatedAt] [datetime] NULL,
 CONSTRAINT [PK_RuleExecution] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[RuleExecution] ADD  CONSTRAINT [DF_RuleExecution_CreatedAt]  DEFAULT (getdate()) FOR [CreatedAt]
GO
