USE [TimeManagement_DEV]
GO
/****** Object:  Table [dbo].[TimeSheets]    Script Date: 11/23/2025 1:33:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TimeSheets](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TenantId] [int] NOT NULL,
	[UserId] [int] NOT NULL,
	[PayPeriodId] [int] NOT NULL,
	[StartDate] [date] NULL,
	[EndDate] [date] NULL,
	[TotalRegularHours] [decimal](10, 2) NULL,
	[TotalOvertimeHours] [decimal](10, 2) NULL,
	[TotalLeaveHours] [decimal](10, 2) NULL,
	[CustomTableStatusId] [int] NULL,
	[SubmittedAt] [datetime] NULL,
	[ApprovedAt] [datetime] NULL,
	[RejectionReason] [nvarchar](max) NULL,
	[CreatedBy] [int] NOT NULL,
	[UpdatedBy] [int] NULL,
	[DateCreated] [datetimeoffset](7) NOT NULL,
	[DateUpdated] [datetimeoffset](7) NULL,
 CONSTRAINT [PK_TimeSheets] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[TimeSheets] ADD  CONSTRAINT [DF_TimeSheets_DateCreated]  DEFAULT (getdate()) FOR [DateCreated]
GO
ALTER TABLE [dbo].[TimeSheets]  WITH CHECK ADD  CONSTRAINT [FK_TimeSheets_PayPeriod] FOREIGN KEY([PayPeriodId])
REFERENCES [dbo].[PayPeriod] ([Id])
GO
ALTER TABLE [dbo].[TimeSheets] CHECK CONSTRAINT [FK_TimeSheets_PayPeriod]
GO
