USE [TimeManagement_DEV]
GO
/****** Object:  Table [dbo].[CustomTables]    Script Date: 11/23/2025 1:33:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CustomTables](
	[CustomTableID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](250) NULL,
	[TenantId] [int] NULL,
	[IsActive] [bit] NULL,
	[TypeName] [varchar](50) NULL,
 CONSTRAINT [PK_CustomTables] PRIMARY KEY CLUSTERED 
(
	[CustomTableID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
