USE [StaffScheduling_DEV]
GO
/****** Object:  Table [dbo].[AccrualBanks]    Script Date: 12/19/2025 4:07:02 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AccrualBanks](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TenantId] [int] NOT NULL,
	[UserId] [int] NOT NULL,
	[AccrualProfileId] [int] NOT NULL,
	[AccrualRulesSlotId] [int] NOT NULL,
	[AccrualTrackId] [int] NULL,
	[AccrualTypeId] [int] NOT NULL,
	[AccrualRuleId] [int] NOT NULL,
	[CurrentBalance] [decimal](10, 2) NOT NULL,
	[UsedBalance] [decimal](10, 2) NOT NULL,
	[DateCreated] [datetimeoffset](7) NOT NULL,
	[CreatedBy] [int] NOT NULL,
	[DateUpdated] [datetimeoffset](7) NULL,
	[UpdatedBy] [int] NULL,
	[LastAccruedPeriodDate] [date] NULL,
 CONSTRAINT [PK_AccrualBalance] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AccrualBanks]  WITH CHECK ADD  CONSTRAINT [FK_AccrualBalance_AccrualProfiles] FOREIGN KEY([AccrualProfileId])
REFERENCES [dbo].[AccrualProfiles] ([Id])
GO
ALTER TABLE [dbo].[AccrualBanks] CHECK CONSTRAINT [FK_AccrualBalance_AccrualProfiles]
GO
ALTER TABLE [dbo].[AccrualBanks]  WITH CHECK ADD  CONSTRAINT [FK_AccrualBalance_AccrualRules] FOREIGN KEY([AccrualRuleId])
REFERENCES [dbo].[AccrualRules] ([Id])
GO
ALTER TABLE [dbo].[AccrualBanks] CHECK CONSTRAINT [FK_AccrualBalance_AccrualRules]
GO
ALTER TABLE [dbo].[AccrualBanks]  WITH CHECK ADD  CONSTRAINT [FK_AccrualBalance_AccrualTracks] FOREIGN KEY([AccrualTrackId])
REFERENCES [dbo].[AccrualTracks] ([Id])
GO
ALTER TABLE [dbo].[AccrualBanks] CHECK CONSTRAINT [FK_AccrualBalance_AccrualTracks]
GO
ALTER TABLE [dbo].[AccrualBanks]  WITH CHECK ADD  CONSTRAINT [FK_AccrualBalance_AccrualTypes] FOREIGN KEY([AccrualTypeId])
REFERENCES [dbo].[AccrualTypes] ([Id])
GO
ALTER TABLE [dbo].[AccrualBanks] CHECK CONSTRAINT [FK_AccrualBalance_AccrualTypes]
GO
