USE [TimeManagement_DEV]
GO
/****** Object:  Table [dbo].[AccrualRules]    Script Date: 12/3/2025 12:48:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AccrualRules](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TenantId] [int] NOT NULL,
	[AccrualProfileId] [int] NOT NULL,
	[AccrualTypeId] [int] NOT NULL,
	[DeductionMultiplier] [decimal](10, 2) NOT NULL,
	[IsStopAccruingEnabled] [bit] NOT NULL,
	[StopAccruingAfterReaching] [decimal](10, 2) NULL,
	[CreatedBy] [int] NOT NULL,
	[UpdatedBy] [int] NULL,
	[DateCreated] [datetimeoffset](7) NOT NULL,
	[DateUpdated] [datetimeoffset](7) NULL,
 CONSTRAINT [PK_AccrualRules] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AccrualRules] ADD  CONSTRAINT [DF_AccrualRules_DeductionMultiplier]  DEFAULT ((1.00)) FOR [DeductionMultiplier]
GO
ALTER TABLE [dbo].[AccrualRules] ADD  CONSTRAINT [DF_AccrualRules_IsStopAccruingEnabled]  DEFAULT ((0)) FOR [IsStopAccruingEnabled]
GO
ALTER TABLE [dbo].[AccrualRules] ADD  CONSTRAINT [DF_AccrualRules_DateCreated]  DEFAULT (getdate()) FOR [DateCreated]
GO
ALTER TABLE [dbo].[AccrualRules]  WITH CHECK ADD  CONSTRAINT [FK_AccrualRules_AccrualProfiles] FOREIGN KEY([AccrualProfileId])
REFERENCES [dbo].[AccrualProfiles] ([Id])
GO
ALTER TABLE [dbo].[AccrualRules] CHECK CONSTRAINT [FK_AccrualRules_AccrualProfiles]
GO
ALTER TABLE [dbo].[AccrualRules]  WITH CHECK ADD  CONSTRAINT [FK_AccrualRules_AccrualTypes] FOREIGN KEY([AccrualTypeId])
REFERENCES [dbo].[AccrualTypes] ([Id])
GO
ALTER TABLE [dbo].[AccrualRules] CHECK CONSTRAINT [FK_AccrualRules_AccrualTypes]
GO
