USE [TimeManagement_DEV]
GO
/****** Object:  Table [dbo].[AccrualBalance]    Script Date: 11/6/2025 5:15:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AccrualBalance](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TenantId] [int] NOT NULL,
	[UserId] [int] NOT NULL,
	[AccrualTypeId] [int] NOT NULL,
	[CurrentBalance] [decimal](10, 2) NULL,
	[PendingBalance] [decimal](10, 2) NULL,
	[UsedBalance] [decimal](10, 2) NULL,
	[CarryOverBalance] [decimal](10, 2) NULL,
	[CarryOverExpiryDate] [date] NULL,
	[LastAccrualDate] [date] NULL,
	[LastUpdated] [datetime] NULL,
 CONSTRAINT [PK_AccrualBalance] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AccrualBalance]  WITH CHECK ADD  CONSTRAINT [FK_AccrualBalance_AccrualTypes] FOREIGN KEY([AccrualTypeId])
REFERENCES [dbo].[AccrualTypes] ([Id])
GO
ALTER TABLE [dbo].[AccrualBalance] CHECK CONSTRAINT [FK_AccrualBalance_AccrualTypes]
GO
