USE [TimeManagement_DEV]
GO
/****** Object:  Table [dbo].[LayoutGridColumns]    Script Date: 12/1/2025 10:03:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LayoutGridColumns](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ColumnId] [int] NOT NULL,
	[RowNumber] [int] NULL,
	[ColumnNumber] [int] NULL,
	[LayoutId] [int] NOT NULL,
	[DisplayOrder] [int] NOT NULL,
	[TenantId] [int] NOT NULL,
	[CreatedBy] [int] NOT NULL,
	[UpdatedBy] [int] NULL,
	[DateCreated] [datetimeoffset](7) NOT NULL,
	[DateUpdated] [datetimeoffset](7) NULL,
 CONSTRAINT [PK_LayoutGridColumns] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[LayoutGridColumns] ADD  CONSTRAINT [DF_LayoutGridColumns_DateCreated]  DEFAULT (getdate()) FOR [DateCreated]
GO
ALTER TABLE [dbo].[LayoutGridColumns]  WITH CHECK ADD  CONSTRAINT [FK_LayoutGridColumns_Columns] FOREIGN KEY([ColumnId])
REFERENCES [dbo].[Columns] ([Id])
GO
ALTER TABLE [dbo].[LayoutGridColumns] CHECK CONSTRAINT [FK_LayoutGridColumns_Columns]
GO
ALTER TABLE [dbo].[LayoutGridColumns]  WITH CHECK ADD  CONSTRAINT [FK_LayoutGridColumns_Layouts] FOREIGN KEY([LayoutId])
REFERENCES [dbo].[Layouts] ([Id])
GO
ALTER TABLE [dbo].[LayoutGridColumns] CHECK CONSTRAINT [FK_LayoutGridColumns_Layouts]
GO
