USE [TimeManagement_DEV]
GO
/****** Object:  Table [dbo].[ClockInOut]    Script Date: 12/2/2025 12:28:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ClockInOut](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TenantId] [int] NOT NULL,
	[UserId] [int] NOT NULL,
	[ShiftAssignmentId] [int] NOT NULL,
	[ClockInTime] [datetime] NOT NULL,
	[ClockOutTime] [datetime] NOT NULL,
	[ClockInLocation] [varchar](200) NULL,
	[ClockOutLocation] [varchar](200) NULL,
	[ClockInMethod] [varchar](50) NULL,
	[ClockOutMethod] [varchar](50) NULL,
	[CustomTableStatusId] [int] NULL,
	[CreatedBy] [int] NOT NULL,
	[UpdatedBy] [int] NULL,
	[DateCreated] [datetimeoffset](7) NOT NULL,
	[DateUpdated] [datetimeoffset](7) NULL,
 CONSTRAINT [PK_ClockInOut] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ClockInOut] ADD  CONSTRAINT [DF_ClockInOut_DateCreated]  DEFAULT (getdate()) FOR [DateCreated]
GO
