USE [TimeManagement_DEV]
GO
/****** Object:  Table [dbo].[EmployeeJobCodeAssignment]    Script Date: 12/1/2025 10:03:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EmployeeJobCodeAssignment](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TenantId] [int] NOT NULL,
	[UserId] [int] NOT NULL,
	[JobCodeId] [int] NOT NULL,
	[IsActive] [bit] NULL,
	[EffectiveDate] [datetimeoffset](7) NULL,
	[ExpiryDate] [datetimeoffset](7) NULL,
	[CreatedBy] [int] NOT NULL,
	[UpdatedBy] [int] NULL,
	[DateCreated] [datetimeoffset](7) NOT NULL,
	[DateUpdated] [datetimeoffset](7) NULL,
 CONSTRAINT [PK_EmployeeJobCodeAssignment] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[EmployeeJobCodeAssignment] ADD  CONSTRAINT [DF_EmployeeJobCodeAssignment_DateCreated]  DEFAULT (getdate()) FOR [DateCreated]
GO
ALTER TABLE [dbo].[EmployeeJobCodeAssignment]  WITH CHECK ADD  CONSTRAINT [FK_EmployeeJobCodeAssignment_JobCodes] FOREIGN KEY([JobCodeId])
REFERENCES [dbo].[JobCodes] ([Id])
GO
ALTER TABLE [dbo].[EmployeeJobCodeAssignment] CHECK CONSTRAINT [FK_EmployeeJobCodeAssignment_JobCodes]
GO
