USE [StaffScheduling_DEV]
GO
/****** Object:  Table [dbo].[EmployeeAccrualSettings]    Script Date: 12/15/2025 8:27:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EmployeeAccrualSettings](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[AccrualTrackId] [int] NULL,
	[AccrualProfileId] [int] NULL,
	[AccrualStartDate] [date] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[TenantId] [int] NOT NULL,
	[CreatedBy] [int] NOT NULL,
	[UpdatedBy] [int] NULL,
	[DateCreated] [datetimeoffset](7) NOT NULL,
	[DateUpdated] [datetimeoffset](7) NULL,
 CONSTRAINT [PK_EmployeeAccrualSettings] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[EmployeeAccrualSettings] ADD  CONSTRAINT [DF_EmployeeAccrualSettings_DateCreated]  DEFAULT (getutcdate()) FOR [DateCreated]
GO
ALTER TABLE [dbo].[EmployeeAccrualSettings]  WITH CHECK ADD  CONSTRAINT [FK_EmployeeAccrualSettings_AccrualProfiles] FOREIGN KEY([AccrualProfileId])
REFERENCES [dbo].[AccrualProfiles] ([Id])
GO
ALTER TABLE [dbo].[EmployeeAccrualSettings] CHECK CONSTRAINT [FK_EmployeeAccrualSettings_AccrualProfiles]
GO
ALTER TABLE [dbo].[EmployeeAccrualSettings]  WITH CHECK ADD  CONSTRAINT [FK_EmployeeAccrualSettings_AccrualTracks] FOREIGN KEY([AccrualTrackId])
REFERENCES [dbo].[AccrualTracks] ([Id])
GO
ALTER TABLE [dbo].[EmployeeAccrualSettings] CHECK CONSTRAINT [FK_EmployeeAccrualSettings_AccrualTracks]
GO
