USE [StaffScheduling_DEV]
GO
/****** Object:  Table [dbo].[TimeEntryTypes]    Script Date: 12/19/2025 4:07:02 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TimeEntryTypes](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TenantId] [int] NOT NULL,
	[TypeCode] [varchar](50) NOT NULL,
	[TypeName] [varchar](200) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[CategoryCustomTableValueId] [int] NULL,
	[IsPaid] [bit] NULL,
	[IsAccrualEligible] [bit] NULL,
	[AccrualFactor] [decimal](5, 2) NULL,
	[IsRequiresApproval] [bit] NULL,
	[MaxHoursPerDay] [decimal](5, 2) NULL,
	[MaxHoursPerWeek] [decimal](5, 2) NULL,
	[ColorCode] [varchar](7) NULL,
	[IsActive] [bit] NULL,
	[CreatedBy] [int] NOT NULL,
	[UpdatedBy] [int] NULL,
	[DateCreated] [datetimeoffset](7) NOT NULL,
	[DateUpdated] [datetimeoffset](7) NULL,
 CONSTRAINT [PK_TimeEntryTypes] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[TimeEntryTypes] ADD  CONSTRAINT [DF_TimeEntryTypes_DateCreated]  DEFAULT (getdate()) FOR [DateCreated]
GO
