USE [TimeManagement_DEV]
GO
/****** Object:  Table [dbo].[EmployeeShiftAssignmentLabels]    Script Date: 11/19/2025 4:19:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EmployeeShiftAssignmentLabels](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TenantId] [int] NOT NULL,
	[ShiftAssignmentId] [int] NOT NULL,
	[LabelId] [int] NOT NULL,
	[CreatedBy] [int] NOT NULL,
	[UpdatedBy] [int] NULL,
	[DateCreated] [datetimeoffset](7) NOT NULL,
	[DateUpdated] [datetimeoffset](7) NULL,
 CONSTRAINT [PK_EmployeeShiftAssignmentLabels] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[EmployeeShiftAssignmentLabels]  WITH CHECK ADD  CONSTRAINT [FK_EmployeeShiftAssignmentLabels_Labels] FOREIGN KEY([LabelId])
REFERENCES [dbo].[Labels] ([Id])
GO
ALTER TABLE [dbo].[EmployeeShiftAssignmentLabels] CHECK CONSTRAINT [FK_EmployeeShiftAssignmentLabels_Labels]
GO
ALTER TABLE [dbo].[EmployeeShiftAssignmentLabels]  WITH CHECK ADD  CONSTRAINT [FK_EmployeeShiftAssignmentLabels_ShiftAssignment] FOREIGN KEY([ShiftAssignmentId])
REFERENCES [dbo].[ShiftAssignment] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[EmployeeShiftAssignmentLabels] CHECK CONSTRAINT [FK_EmployeeShiftAssignmentLabels_ShiftAssignment]
GO
