USE [StaffScheduling_DEV]
GO
/****** Object:  Table [dbo].[ShiftGroupAssignment]    Script Date: 1/11/2026 6:46:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ShiftGroupAssignment](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TenantId] [int] NOT NULL,
	[ShiftId] [int] NOT NULL,
	[GroupId] [int] NOT NULL,
	[IsActive] [bit] NULL,
	[CreatedBy] [int] NOT NULL,
	[UpdatedBy] [int] NULL,
	[DateCreated] [datetimeoffset](7) NOT NULL,
	[DateUpdated] [datetimeoffset](7) NULL,
 CONSTRAINT [PK_ShiftGroupAssignment] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ShiftGroupAssignment] ADD  CONSTRAINT [DF_ShiftGroupAssignment_DateCreated]  DEFAULT (getutcdate()) FOR [DateCreated]
GO
ALTER TABLE [dbo].[ShiftGroupAssignment]  WITH CHECK ADD  CONSTRAINT [FK_ShiftGroupAssignment_ShiftGroups] FOREIGN KEY([GroupId])
REFERENCES [dbo].[Groups] ([Id])
GO
ALTER TABLE [dbo].[ShiftGroupAssignment] CHECK CONSTRAINT [FK_ShiftGroupAssignment_ShiftGroups]
GO
ALTER TABLE [dbo].[ShiftGroupAssignment]  WITH CHECK ADD  CONSTRAINT [FK_ShiftGroupAssignment_Shifts] FOREIGN KEY([ShiftId])
REFERENCES [dbo].[Shifts] ([Id])
GO
ALTER TABLE [dbo].[ShiftGroupAssignment] CHECK CONSTRAINT [FK_ShiftGroupAssignment_Shifts]
GO
