USE [TimeManagement_DEV]
GO
/****** Object:  Table [dbo].[DbOperationsAnalytics]    Script Date: 12/3/2025 12:48:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DbOperationsAnalytics](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[StoredProcedureName] [nvarchar](500) NOT NULL,
	[TimeSpent] [time](7) NOT NULL,
	[Query] [nvarchar](max) NOT NULL,
	[ProcParams] [nvarchar](max) NOT NULL,
	[AdditionalQuery] [nvarchar](max) NOT NULL,
	[Project] [nvarchar](max) NOT NULL,
	[StartedOn] [datetime] NOT NULL,
	[FinishedOn] [datetime] NOT NULL,
	[UserId] [int] NULL,
	[RoleId] [int] NULL,
	[TenantId] [int] NULL,
	[IsWindowService] [bit] NULL,
 CONSTRAINT [PK_DbOperationsAnalytics] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
