USE [StaffScheduling_DEV]
GO
/****** Object:  Table [dbo].[EmployeeWorkCodeAssignment]    Script Date: 3/13/2026 4:27:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EmployeeWorkCodeAssignment](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TenantId] [int] NOT NULL,
	[UserId] [int] NOT NULL,
	[WorkCodeId] [int] NOT NULL,
	[IsActive] [bit] NULL,
	[EffectiveDate] [datetimeoffset](7) NULL,
	[ExpiryDate] [datetimeoffset](7) NULL,
	[CreatedBy] [int] NOT NULL,
	[UpdatedBy] [int] NULL,
	[DateCreated] [datetimeoffset](7) NOT NULL,
	[DateUpdated] [datetimeoffset](7) NULL,
	[IsDeleted] [bit] NULL,
	[DeletedOn] [datetimeoffset](7) NULL,
 CONSTRAINT [PK_EmployeeWorkCodeAssignment] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[EmployeeWorkCodeAssignment] ADD  CONSTRAINT [DF_EmployeeWorkCodeAssignment_DateCreated]  DEFAULT (getutcdate()) FOR [DateCreated]
GO
ALTER TABLE [dbo].[EmployeeWorkCodeAssignment]  WITH CHECK ADD  CONSTRAINT [FK_EmployeeWorkCodeAssignment_WorkCodes] FOREIGN KEY([WorkCodeId])
REFERENCES [dbo].[WorkCodes] ([Id])
GO
ALTER TABLE [dbo].[EmployeeWorkCodeAssignment] CHECK CONSTRAINT [FK_EmployeeWorkCodeAssignment_WorkCodes]
GO
