USE [TimeManagement_DEV]
GO
/****** Object:  Table [dbo].[HolidayRules]    Script Date: 11/23/2025 1:33:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HolidayRules](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TenantId] [int] NOT NULL,
	[BusinessRuleId] [int] NOT NULL,
	[HolidayId] [int] NOT NULL,
	[CustomTablePayTypeId] [int] NULL,
	[Multiplier] [decimal](5, 2) NULL,
	[IsRequiresWork] [bit] NULL,
	[FloatingHolidayRules] [nvarchar](max) NULL,
	[CreatedBy] [int] NOT NULL,
	[UpdatedBy] [int] NULL,
	[DateCreated] [datetimeoffset](7) NOT NULL,
	[DateUpdated] [datetimeoffset](7) NULL,
 CONSTRAINT [PK_HolidayRules] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[HolidayRules] ADD  CONSTRAINT [DF_HolidayRules_DateCreated]  DEFAULT (getdate()) FOR [DateCreated]
GO
ALTER TABLE [dbo].[HolidayRules]  WITH CHECK ADD  CONSTRAINT [FK_HolidayRules_BusinessRules] FOREIGN KEY([BusinessRuleId])
REFERENCES [dbo].[BusinessRules] ([Id])
GO
ALTER TABLE [dbo].[HolidayRules] CHECK CONSTRAINT [FK_HolidayRules_BusinessRules]
GO
