USE [TimeManagement_DEV]
GO
/****** Object:  Table [dbo].[TimeEntries]    Script Date: 11/27/2025 5:41:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TimeEntries](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TenantId] [int] NOT NULL,
	[UserId] [int] NOT NULL,
	[JobCodeId] [int] NOT NULL,
	[WorkCodeId] [int] NOT NULL,
	[TimeEntryTypeId] [int] NOT NULL,
	[ClockInOutId] [int] NOT NULL,
	[TimeSheetId] [int] NOT NULL,
	[HolidayId] [int] NOT NULL,
	[EntryDate] [datetimeoffset](7) NOT NULL,
	[StartTime] [time](7) NULL,
	[EndTime] [time](7) NULL,
	[BreakDuration] [decimal](5, 2) NULL,
	[TotalHours] [decimal](5, 2) NULL,
	[Description] [nvarchar](max) NULL,
	[ProjectCode] [varchar](100) NULL,
	[CostCenter] [varchar](100) NULL,
	[StatusCustomTableValueId] [int] NULL,
	[SubmittedAt] [datetimeoffset](7) NULL,
	[Approvedby] [int] NULL,
	[ApprovedAt] [datetimeoffset](7) NULL,
	[RejectionReason] [nvarchar](max) NULL,
	[Createdby] [int] NOT NULL,
	[UpdatedBy] [int] NULL,
	[DateCreated] [datetimeoffset](7) NOT NULL,
	[DateUpdated] [datetimeoffset](7) NULL,
 CONSTRAINT [PK_TimeEntries] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[TimeEntries] ADD  CONSTRAINT [DF_TimeEntries_DateCreated]  DEFAULT (getdate()) FOR [DateCreated]
GO
ALTER TABLE [dbo].[TimeEntries]  WITH CHECK ADD  CONSTRAINT [FK_TimeEntries_ClockInOut] FOREIGN KEY([ClockInOutId])
REFERENCES [dbo].[ClockInOut] ([Id])
GO
ALTER TABLE [dbo].[TimeEntries] CHECK CONSTRAINT [FK_TimeEntries_ClockInOut]
GO
ALTER TABLE [dbo].[TimeEntries]  WITH CHECK ADD  CONSTRAINT [FK_TimeEntries_Holidays] FOREIGN KEY([HolidayId])
REFERENCES [dbo].[Holidays] ([Id])
GO
ALTER TABLE [dbo].[TimeEntries] CHECK CONSTRAINT [FK_TimeEntries_Holidays]
GO
ALTER TABLE [dbo].[TimeEntries]  WITH CHECK ADD  CONSTRAINT [FK_TimeEntries_JobCodes] FOREIGN KEY([JobCodeId])
REFERENCES [dbo].[JobCodes] ([Id])
GO
ALTER TABLE [dbo].[TimeEntries] CHECK CONSTRAINT [FK_TimeEntries_JobCodes]
GO
ALTER TABLE [dbo].[TimeEntries]  WITH CHECK ADD  CONSTRAINT [FK_TimeEntries_TimeEntryTypes] FOREIGN KEY([TimeEntryTypeId])
REFERENCES [dbo].[TimeEntryTypes] ([Id])
GO
ALTER TABLE [dbo].[TimeEntries] CHECK CONSTRAINT [FK_TimeEntries_TimeEntryTypes]
GO
ALTER TABLE [dbo].[TimeEntries]  WITH CHECK ADD  CONSTRAINT [FK_TimeEntries_WorkCodes] FOREIGN KEY([WorkCodeId])
REFERENCES [dbo].[WorkCodes] ([Id])
GO
ALTER TABLE [dbo].[TimeEntries] CHECK CONSTRAINT [FK_TimeEntries_WorkCodes]
GO
